# Wrangling and Cleaning of all raw data

In [75]:
import pandas as pd
import os

## Wrangling External Data

Let us first analyze the format of all external datasets:

In [76]:
electricity_access = pd.read_csv("../data/external/electricity-access.csv", skiprows =4)

In [77]:
electricity_access

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,Unnamed: 68
0,Aruba,ABW,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,99.900000,NaN,NaN
1,Africa Eastern and Southern,AFE,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,33.903800,38.854624,40.199898,43.017148,44.381259,46.264875,48.100862,48.711995,NaN,NaN
2,Afghanistan,AFG,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,71.500000,97.700000,97.700000,93.400000,97.700000,97.700000,97.700000,85.300000,NaN,NaN
3,Africa Western and Central,AFW,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,46.758739,50.906115,48.789457,51.211055,51.168083,51.730899,54.224724,55.437577,NaN,NaN
4,Angola,AGO,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,42.000000,41.800000,42.900000,45.300000,45.600000,47.000000,48.200000,48.500000,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,XKX,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
262,"Yemen, Rep.",YEM,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,67.400000,68.900000,79.200000,62.000000,72.800000,73.900000,74.900000,76.000000,NaN,NaN
263,South Africa,ZAF,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,85.300000,83.900000,84.400000,84.700000,85.000000,90.000000,89.300000,86.500000,NaN,NaN
264,Zambia,ZMB,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,31.100000,35.400000,40.300000,40.200000,43.000000,44.600000,46.700000,47.800000,NaN,NaN
265,Zimbabwe,ZWE,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,33.700000,42.500000,44.000000,45.400000,46.700000,52.700000,49.000000,50.100000,NaN,NaN

In [78]:
electricity_access.columns

Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       '1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968',
       '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977',
       '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986',
       '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995',
       '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022',
       '2023', 'Unnamed: 68'],
      dtype='object')

Let's see a couple other datasets too:

In [79]:
fdi = pd.read_csv("../data/external/fdi.csv", skiprows =4)
fdi

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,Unnamed: 68
0,Aruba,ABW,"Foreign direct investment, net inflows (% of GDP)",BX.KLT.DINV.WD.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,-0.907264,0.923398,5.253373,4.399822,-2.215283,6.294368,4.303487,7.000585,NaN,NaN
1,Africa Eastern and Southern,AFE,"Foreign direct investment, net inflows (% of GDP)",BX.KLT.DINV.WD.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,3.195805,2.017779,1.076353,1.337747,1.497207,1.481455,5.038473,1.718270,NaN,NaN
2,Afghanistan,AFG,"Foreign direct investment, net inflows (% of GDP)",BX.KLT.DINV.WD.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,0.884000,0.516606,0.274797,0.661572,0.124496,0.064994,0.144401,NaN,NaN,NaN
3,Africa Western and Central,AFW,"Foreign direct investment, net inflows (% of GDP)",BX.KLT.DINV.WD.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,2.033252,2.013496,2.575635,2.016799,1.511376,1.448811,2.008478,1.738454,NaN,NaN
4,Angola,AGO,"Foreign direct investment, net inflows (% of GDP)",BX.KLT.DINV.WD.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,11.081339,-0.340243,-10.038377,-8.125891,-5.780813,-3.848264,-6.548542,-6.320564,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,XKX,"Foreign direct investment, net inflows (% of GDP)",BX.KLT.DINV.WD.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,5.453604,3.648046,3.994494,4.043060,3.608747,5.113617,5.321433,8.168575,NaN,NaN
262,"Yemen, Rep.",YEM,"Foreign direct investment, net inflows (% of GDP)",BX.KLT.DINV.WD.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,-0.036388,-1.791312,-1.005319,-1.305638,-1.694944,NaN,NaN,NaN,NaN,NaN
263,South Africa,ZAF,"Foreign direct investment, net inflows (% of GDP)",BX.KLT.DINV.WD.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,0.438736,0.684613,0.539674,1.374291,1.314078,0.932200,9.677949,2.268806,NaN,NaN
264,Zambia,ZMB,"Foreign direct investment, net inflows (% of GDP)",BX.KLT.DINV.WD.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,7.447417,3.162520,4.280501,1.552319,2.350919,1.351906,1.784078,-0.223287,NaN,NaN
265,Zimbabwe,ZWE,"Foreign direct investment, net inflows (% of GDP)",BX.KLT.DINV.WD.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,1.999687,1.669274,1.746885,2.101721,1.142806,0.699034,0.881174,1.247870,NaN,NaN

Now we need all these metrics specifically for India. So first we will create a dataframe.

In [80]:
combined_economic_indicators = pd.DataFrame(columns=electricity_access.columns)

In [81]:
# combined_economic_indicators.columns = electricity_access.columns
combined_economic_indicators

Empty DataFrame
Columns: [Country Name, Country Code, Indicator Name, Indicator Code, 1960, 1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, Unnamed: 68]
Index: []

[0 rows x 69 columns]

In [82]:
india_row = electricity_access[electricity_access["Country Name"] == "India"]

In [83]:
combined_economic_indicators = pd.concat([combined_economic_indicators, india_row], ignore_index=True)

C:\Users\ujjwa\AppData\Local\Temp\ipykernel_8756\98932846.py:1: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  combined_economic_indicators = pd.concat([combined_economic_indicators, india_row], ignore_index=True)

In [84]:
combined_economic_indicators

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,Unnamed: 68
0,India,IND,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,88.0,89.6,91.8,95.7,95.9,96.5,99.6,99.2,NaN,NaN

Since all these datasets are of the same format, we can append only the data pertaining to India from each dataset to this dataframe using an iterator.

In [85]:
external_data_files = os.listdir("../data/external/")

In [86]:
for file in external_data_files:
    df = pd.read_csv(f"../data/external/{file}", skiprows=4)
    print(file)
    india_row = df[df["Country Name"] == "India"]
    combined_economic_indicators = pd.concat([combined_economic_indicators, india_row], ignore_index=True)
    # combined_economic_indicators = pd.concat([combined_economic_indicators, df], ignore_index=True)

electricity-access.csv
FDI.csv
gdp growth.csv
gdp-per-capita.csv
gdp.csv
gov-debt.csv
inflation.csv
net-migration.csv
poverty-headcount.csv
SPI.csv
unemployment.csv
women-parliament.csv

In [87]:
combined_economic_indicators

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,Unnamed: 68
0,India,IND,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,8.800000e+01,8.960000e+01,9.180000e+01,9.570000e+01,9.590000e+01,9.650000e+01,9.960000e+01,9.920000e+01,NaN,NaN
1,India,IND,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,8.800000e+01,8.960000e+01,9.180000e+01,9.570000e+01,9.590000e+01,9.650000e+01,9.960000e+01,9.920000e+01,NaN,NaN
2,India,IND,"Foreign direct investment, net inflows (% of GDP)",BX.KLT.DINV.WD.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,2.092115e+00,1.937364e+00,1.507316e+00,1.558215e+00,1.784826e+00,2.406203e+00,1.412171e+00,1.489211e+00,NaN,NaN
3,India,IND,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,3.722743e+00,2.931128e+00,5.994353e+00,7.452950e+00,-2.635770e+00,...,7.996254e+00,8.256306e+00,6.795383e+00,6.453851e+00,3.871437e+00,-5.777725e+00,9.689592e+00,6.987039e+00,7.583971e+00,NaN
4,India,IND,GDP per capita (current US$),NY.GDP.PCAP.CD,8.303510e+01,8.596970e+01,9.027687e+01,1.013152e+02,1.154876e+02,1.190850e+02,...,1.590174e+03,1.714280e+03,1.957970e+03,1.974378e+03,2.050164e+03,1.915552e+03,2.250179e+03,2.366310e+03,2.484845e+03,NaN
5,India,IND,GDP (current US$),NY.GDP.MKTP.CD,3.702988e+10,3.923244e+10,4.216148e+10,4.842192e+10,5.648029e+10,5.955611e+10,...,2.103588e+12,2.294797e+12,2.651474e+12,2.702930e+12,2.835606e+12,2.674852e+12,3.167271e+12,3.353470e+12,3.549919e+12,NaN
6,India,IND,"Central government debt, total (% of GDP)",GC.DOD.TOTL.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,4.996472e+01,4.763376e+01,4.758361e+01,4.652250e+01,NaN,NaN,NaN,NaN,NaN,NaN
7,India,IND,"Inflation, consumer prices (annual %)",FP.CPI.TOTL.ZG,1.779878e+00,1.695213e+00,3.632215e+00,2.946161e+00,1.335526e+01,9.474759e+00,...,4.906973e+00,4.948216e+00,3.328173e+00,3.938826e+00,3.729506e+00,6.623437e+00,5.131407e+00,6.699034e+00,5.649143e+00,NaN
8,India,IND,Net migration,SM.POP.NETM,5.226400e+04,1.141810e+05,1.103980e+05,4.898600e+04,5.837000e+03,1.907700e+04,...,-4.750940e+05,6.811900e+04,-2.196560e+05,-5.615630e+05,-5.934950e+05,-3.477200e+04,-3.019700e+05,-4.873030e+05,-4.861360e+05,NaN
9,India,IND,Poverty headcount ratio at $2.15 a day (2017 P...,SI.POV.DDAY,NaN,NaN,NaN,NaN,NaN,NaN,...,1.880000e+01,1.810000e+01,1.340000e+01,1.110000e+01,1.320000e+01,1.550000e+01,1.290000e+01,NaN,NaN,NaN
10,India,IND,Statistical performance indicators (SPI): Over...,IQ.SPI.OVRL,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,6.738542e+01,6.466250e+01,6.908208e+01,7.036708e+01,7.265542e+01,7.525458e+01,7.419625e+01,NaN,NaN
11,India,IND,"Unemployment, total (% of total labor force) (...",SL.UEM.TOTL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,7.894000e+00,7.800000e+00,7.723000e+00,7.652000e+00,6.510000e+00,7.859000e+00,6.380000e+00,4.822000e+00,4.172000e+00,NaN
12,India,IND,Proportion of seats held by women in national ...,SG.GEN.PARL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,1.197053e+01,1.197053e+01,1.180812e+01,1.180812e+01,1.439114e+01,1.436464e+01,1.444444e+01,1.494465e+01,1.524164e+01,NaN

In [88]:
combined_economic_indicators = combined_economic_indicators.drop(index = 0)
combined_economic_indicators = combined_economic_indicators.reset_index(drop=True)
combined_economic_indicators

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,Unnamed: 68
0,India,IND,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,8.800000e+01,8.960000e+01,9.180000e+01,9.570000e+01,9.590000e+01,9.650000e+01,9.960000e+01,9.920000e+01,NaN,NaN
1,India,IND,"Foreign direct investment, net inflows (% of GDP)",BX.KLT.DINV.WD.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,2.092115e+00,1.937364e+00,1.507316e+00,1.558215e+00,1.784826e+00,2.406203e+00,1.412171e+00,1.489211e+00,NaN,NaN
2,India,IND,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,3.722743e+00,2.931128e+00,5.994353e+00,7.452950e+00,-2.635770e+00,...,7.996254e+00,8.256306e+00,6.795383e+00,6.453851e+00,3.871437e+00,-5.777725e+00,9.689592e+00,6.987039e+00,7.583971e+00,NaN
3,India,IND,GDP per capita (current US$),NY.GDP.PCAP.CD,8.303510e+01,8.596970e+01,9.027687e+01,1.013152e+02,1.154876e+02,1.190850e+02,...,1.590174e+03,1.714280e+03,1.957970e+03,1.974378e+03,2.050164e+03,1.915552e+03,2.250179e+03,2.366310e+03,2.484845e+03,NaN
4,India,IND,GDP (current US$),NY.GDP.MKTP.CD,3.702988e+10,3.923244e+10,4.216148e+10,4.842192e+10,5.648029e+10,5.955611e+10,...,2.103588e+12,2.294797e+12,2.651474e+12,2.702930e+12,2.835606e+12,2.674852e+12,3.167271e+12,3.353470e+12,3.549919e+12,NaN
5,India,IND,"Central government debt, total (% of GDP)",GC.DOD.TOTL.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,4.996472e+01,4.763376e+01,4.758361e+01,4.652250e+01,NaN,NaN,NaN,NaN,NaN,NaN
6,India,IND,"Inflation, consumer prices (annual %)",FP.CPI.TOTL.ZG,1.779878e+00,1.695213e+00,3.632215e+00,2.946161e+00,1.335526e+01,9.474759e+00,...,4.906973e+00,4.948216e+00,3.328173e+00,3.938826e+00,3.729506e+00,6.623437e+00,5.131407e+00,6.699034e+00,5.649143e+00,NaN
7,India,IND,Net migration,SM.POP.NETM,5.226400e+04,1.141810e+05,1.103980e+05,4.898600e+04,5.837000e+03,1.907700e+04,...,-4.750940e+05,6.811900e+04,-2.196560e+05,-5.615630e+05,-5.934950e+05,-3.477200e+04,-3.019700e+05,-4.873030e+05,-4.861360e+05,NaN
8,India,IND,Poverty headcount ratio at $2.15 a day (2017 P...,SI.POV.DDAY,NaN,NaN,NaN,NaN,NaN,NaN,...,1.880000e+01,1.810000e+01,1.340000e+01,1.110000e+01,1.320000e+01,1.550000e+01,1.290000e+01,NaN,NaN,NaN
9,India,IND,Statistical performance indicators (SPI): Over...,IQ.SPI.OVRL,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,6.738542e+01,6.466250e+01,6.908208e+01,7.036708e+01,7.265542e+01,7.525458e+01,7.419625e+01,NaN,NaN
10,India,IND,"Unemployment, total (% of total labor force) (...",SL.UEM.TOTL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,7.894000e+00,7.800000e+00,7.723000e+00,7.652000e+00,6.510000e+00,7.859000e+00,6.380000e+00,4.822000e+00,4.172000e+00,NaN
11,India,IND,Proportion of seats held by women in national ...,SG.GEN.PARL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,1.197053e+01,1.197053e+01,1.180812e+01,1.180812e+01,1.439114e+01,1.436464e+01,1.444444e+01,1.494465e+01,1.524164e+01,NaN

# Cleaning external data:

In [89]:
combined_economic_indicators = combined_economic_indicators.drop(columns = ["Country Name", "Country Code","Indicator Code", "Unnamed: 68"])
combined_economic_indicators

,Indicator Name,1960,1961,1962,1963,1964,1965,1966,1967,1968,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,Access to electricity (% of population),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.510000e+01,8.800000e+01,8.960000e+01,9.180000e+01,9.570000e+01,9.590000e+01,9.650000e+01,9.960000e+01,9.920000e+01,NaN
1,"Foreign direct investment, net inflows (% of GDP)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.695660e+00,2.092115e+00,1.937364e+00,1.507316e+00,1.558215e+00,1.784826e+00,2.406203e+00,1.412171e+00,1.489211e+00,NaN
2,GDP growth (annual %),NaN,3.722743e+00,2.931128e+00,5.994353e+00,7.452950e+00,-2.635770e+00,-5.532877e-02,7.825963e+00,3.387929e+00,...,7.410228e+00,7.996254e+00,8.256306e+00,6.795383e+00,6.453851e+00,3.871437e+00,-5.777725e+00,9.689592e+00,6.987039e+00,7.583971e+00
3,GDP per capita (current US$),8.303510e+01,8.596970e+01,9.027687e+01,1.013152e+02,1.154876e+02,1.190850e+02,8.920135e+01,9.604633e+01,9.951684e+01,...,1.559864e+03,1.590174e+03,1.714280e+03,1.957970e+03,1.974378e+03,2.050164e+03,1.915552e+03,2.250179e+03,2.366310e+03,2.484845e+03
4,GDP (current US$),3.702988e+10,3.923244e+10,4.216148e+10,4.842192e+10,5.648029e+10,5.955611e+10,4.558123e+10,5.013494e+10,5.308546e+10,...,2.039126e+12,2.103588e+12,2.294797e+12,2.651474e+12,2.702930e+12,2.835606e+12,2.674852e+12,3.167271e+12,3.353470e+12,3.549919e+12
5,"Central government debt, total (% of GDP)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.990092e+01,4.996472e+01,4.763376e+01,4.758361e+01,4.652250e+01,NaN,NaN,NaN,NaN,NaN
6,"Inflation, consumer prices (annual %)",1.779878e+00,1.695213e+00,3.632215e+00,2.946161e+00,1.335526e+01,9.474759e+00,1.080185e+01,1.306220e+01,3.237412e+00,...,6.665657e+00,4.906973e+00,4.948216e+00,3.328173e+00,3.938826e+00,3.729506e+00,6.623437e+00,5.131407e+00,6.699034e+00,5.649143e+00
7,Net migration,5.226400e+04,1.141810e+05,1.103980e+05,4.898600e+04,5.837000e+03,1.907700e+04,-1.448070e+05,-1.243360e+05,-1.843260e+05,...,-3.106940e+05,-4.750940e+05,6.811900e+04,-2.196560e+05,-5.615630e+05,-5.934950e+05,-3.477200e+04,-3.019700e+05,-4.873030e+05,-4.861360e+05
8,Poverty headcount ratio at $2.15 a day (2017 P...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1.880000e+01,1.810000e+01,1.340000e+01,1.110000e+01,1.320000e+01,1.550000e+01,1.290000e+01,NaN,NaN
9,Statistical performance indicators (SPI): Over...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,6.738542e+01,6.466250e+01,6.908208e+01,7.036708e+01,7.265542e+01,7.525458e+01,7.419625e+01,NaN
10,"Unemployment, total (% of total labor force) (...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7.992000e+00,7.894000e+00,7.800000e+00,7.723000e+00,7.652000e+00,6.510000e+00,7.859000e+00,6.380000e+00,4.822000e+00,4.172000e+00
11,Proportion of seats held by women in national ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.141805e+01,1.197053e+01,1.197053e+01,1.180812e+01,1.180812e+01,1.439114e+01,1.436464e+01,1.444444e+01,1.494465e+01,1.524164e+01

In [90]:
#exporting this dataframe to a csv file
combined_economic_indicators.to_csv('../data/processed/combined_economic_indicators.csv', index=False)

In [91]:
df = pd.read_csv("../data/processed/combined_economic_indicators.csv")
df

,Indicator Name,1960,1961,1962,1963,1964,1965,1966,1967,1968,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,Access to electricity (% of population),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.510000e+01,8.800000e+01,8.960000e+01,9.180000e+01,9.570000e+01,9.590000e+01,9.650000e+01,9.960000e+01,9.920000e+01,NaN
1,"Foreign direct investment, net inflows (% of GDP)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.695660e+00,2.092115e+00,1.937364e+00,1.507316e+00,1.558215e+00,1.784826e+00,2.406203e+00,1.412171e+00,1.489211e+00,NaN
2,GDP growth (annual %),NaN,3.722743e+00,2.931128e+00,5.994353e+00,7.452950e+00,-2.635770e+00,-5.532877e-02,7.825963e+00,3.387929e+00,...,7.410228e+00,7.996254e+00,8.256306e+00,6.795383e+00,6.453851e+00,3.871437e+00,-5.777725e+00,9.689592e+00,6.987039e+00,7.583971e+00
3,GDP per capita (current US$),8.303510e+01,8.596970e+01,9.027687e+01,1.013152e+02,1.154876e+02,1.190850e+02,8.920135e+01,9.604633e+01,9.951684e+01,...,1.559864e+03,1.590174e+03,1.714280e+03,1.957970e+03,1.974378e+03,2.050164e+03,1.915552e+03,2.250179e+03,2.366310e+03,2.484845e+03
4,GDP (current US$),3.702988e+10,3.923244e+10,4.216148e+10,4.842192e+10,5.648029e+10,5.955611e+10,4.558123e+10,5.013494e+10,5.308546e+10,...,2.039126e+12,2.103588e+12,2.294797e+12,2.651474e+12,2.702930e+12,2.835606e+12,2.674852e+12,3.167271e+12,3.353470e+12,3.549919e+12
5,"Central government debt, total (% of GDP)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.990092e+01,4.996472e+01,4.763376e+01,4.758361e+01,4.652250e+01,NaN,NaN,NaN,NaN,NaN
6,"Inflation, consumer prices (annual %)",1.779878e+00,1.695213e+00,3.632215e+00,2.946161e+00,1.335526e+01,9.474759e+00,1.080185e+01,1.306220e+01,3.237412e+00,...,6.665657e+00,4.906973e+00,4.948216e+00,3.328173e+00,3.938826e+00,3.729506e+00,6.623437e+00,5.131407e+00,6.699034e+00,5.649143e+00
7,Net migration,5.226400e+04,1.141810e+05,1.103980e+05,4.898600e+04,5.837000e+03,1.907700e+04,-1.448070e+05,-1.243360e+05,-1.843260e+05,...,-3.106940e+05,-4.750940e+05,6.811900e+04,-2.196560e+05,-5.615630e+05,-5.934950e+05,-3.477200e+04,-3.019700e+05,-4.873030e+05,-4.861360e+05
8,Poverty headcount ratio at $2.15 a day (2017 P...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1.880000e+01,1.810000e+01,1.340000e+01,1.110000e+01,1.320000e+01,1.550000e+01,1.290000e+01,NaN,NaN
9,Statistical performance indicators (SPI): Over...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,6.738542e+01,6.466250e+01,6.908208e+01,7.036708e+01,7.265542e+01,7.525458e+01,7.419625e+01,NaN
10,"Unemployment, total (% of total labor force) (...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7.992000e+00,7.894000e+00,7.800000e+00,7.723000e+00,7.652000e+00,6.510000e+00,7.859000e+00,6.380000e+00,4.822000e+00,4.172000e+00
11,Proportion of seats held by women in national ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.141805e+01,1.197053e+01,1.197053e+01,1.180812e+01,1.180812e+01,1.439114e+01,1.436464e+01,1.444444e+01,1.494465e+01,1.524164e+01

# Wrangling and Cleaning Candidate List

In [92]:
cand_list_2024 = pd.read_csv("../data/raw/candidates-2024.csv")

In [93]:
cand_list_2024.tail()

,_id,State,Constituency_No,Constituency,Party,Candidate Name,Gender,Age,Address,Application Date,Application Status,Father/Husband's Name,Photo Link,Phase,Polling Date
8436,8437,West Bengal,42,Birbhum,All India Trinamool Congress,SATABDI ROY,female,55,"CITY HIGH, FLAT NO. 12G, 85 PRINCE ANAWAR SHAH...","22nd April, 2024",Accepted,SRI MRIGANK BANERJEE,https://results.eci.gov.in/uploads4/candprofil...,4,2024-05-13T00:00:00
8437,8438,West Bengal,42,Birbhum,Indian National Socialistic Action Forces,DOLA SARKAR,female,49,"F-10A, T-9, 18, HOCHIMIN SARANI, KOLKATA MUNIC...","23rd April, 2024",Accepted,Devraj Sarkar,https://results.eci.gov.in/uploads4/candprofil...,4,2024-05-13T00:00:00
8438,8439,West Bengal,42,Birbhum,Independent,SAURAV MUDI,male,43,"MISTRIPARA, R.K. ROAD, BOLPUR, BOLPUR, BIRBHUM...","20th April, 2024",Accepted,BIJOY KR. MUDI,https://results.eci.gov.in/uploads4/candprofil...,4,2024-05-13T00:00:00
8439,8440,West Bengal,42,Birbhum,Bahujan Samaj Party,RAJNATH SARKAR,male,68,"VILL-BHABANIPUR, P.O.-BAGULA, P.S.- HANSKHALI,...","19th April, 2024",Accepted,LATE BAIDYANATH SARKAR,https://results.eci.gov.in/uploads4/candprofil...,4,2024-05-13T00:00:00
8440,8441,West Bengal,42,Birbhum,Socialist Unity Centre Of India (COMMUNIST),AYESHA KHATUN,female,53,"BAZARPARA (NEAR MANIK CYCLE STORE) P.O.- SURI,...","18th April, 2024",Accepted,MADAN GHATAK,https://results.eci.gov.in/uploads4/candprofil...,4,2024-05-13T00:00:00

In [94]:
cand_list_2024.drop('Photo Link', axis=1,inplace=True)

In [95]:
cand_list_2024

,_id,State,Constituency_No,Constituency,Party,Candidate Name,Gender,Age,Address,Application Date,Application Status,Father/Husband's Name,Phase,Polling Date
0,1,Andaman & Nicobar Islands,1,Andaman & Nicobar Islands,Independent,V.K. ABDUL AZIZ,male,42,Brindaban,"27th March, 2024",Accepted,V.M. KOCHUNNI,1,2024-04-19T00:00:00
1,2,Andaman & Nicobar Islands,1,Andaman & Nicobar Islands,Independent,USHA KUMARI,female,39,"Dollygunj Village, Port Blair Tehsil, South An...","27th March, 2024",Accepted,S B GURUNG,1,2024-04-19T00:00:00
2,3,Andaman & Nicobar Islands,1,Andaman & Nicobar Islands,Independent,RINKU MALA MONDAL,female,36,"Lokenath Colony, Dollygunj","27th March, 2024",Accepted,N N MONDAL,1,2024-04-19T00:00:00
3,4,Andaman & Nicobar Islands,1,Andaman & Nicobar Islands,Indian National Congress,KULDEEP RAI SHARMA,male,56,"M.B.167, M.G. Road, Junglighat, Port Blair - 7...","27th March, 2024",Accepted,BHAGAT SINGH,1,2024-04-19T00:00:00
4,5,Andaman & Nicobar Islands,1,Andaman & Nicobar Islands,Independent,ANAND RAMNATH ARLEKAR,male,58,"Panipath Road, Haddo","27th March, 2024",Accepted,RAMNATH ARLEKAR,1,2024-04-19T00:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8436,8437,West Bengal,42,Birbhum,All India Trinamool Congress,SATABDI ROY,female,55,"CITY HIGH, FLAT NO. 12G, 85 PRINCE ANAWAR SHAH...","22nd April, 2024",Accepted,SRI MRIGANK BANERJEE,4,2024-05-13T00:00:00
8437,8438,West Bengal,42,Birbhum,Indian National Socialistic Action Forces,DOLA SARKAR,female,49,"F-10A, T-9, 18, HOCHIMIN SARANI, KOLKATA MUNIC...","23rd April, 2024",Accepted,Devraj Sarkar,4,2024-05-13T00:00:00
8438,8439,West Bengal,42,Birbhum,Independent,SAURAV MUDI,male,43,"MISTRIPARA, R.K. ROAD, BOLPUR, BOLPUR, BIRBHUM...","20th April, 2024",Accepted,BIJOY KR. MUDI,4,2024-05-13T00:00:00
8439,8440,West Bengal,42,Birbhum,Bahujan Samaj Party,RAJNATH SARKAR,male,68,"VILL-BHABANIPUR, P.O.-BAGULA, P.S.- HANSKHALI,...","19th April, 2024",Accepted,LATE BAIDYANATH SARKAR,4,2024-05-13T00:00:00
8440,8441,West Bengal,42,Birbhum,Socialist Unity Centre Of India (COMMUNIST),AYESHA KHATUN,female,53,"BAZARPARA (NEAR MANIK CYCLE STORE) P.O.- SURI,...","18th April, 2024",Accepted,MADAN GHATAK,4,2024-05-13T00:00:00

In [97]:
cand_list_2024.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8441 entries, 0 to 8440
Data columns (total 14 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   _id                    8441 non-null   int64
 1   State                  8441 non-null   object
 2   Constituency_No        8441 non-null   int64
 3   Constituency           8441 non-null   object
 4   Party                  8441 non-null   object
 5   Candidate Name         8441 non-null   object
 6   Gender                 8441 non-null   object
 7   Age                    8441 non-null   int64
 8   Address                8441 non-null   object
 9   Application Date       8441 non-null   object
 10  Application Status     8441 non-null   object
 11  Father/Husband's Name  8441 non-null   object
 12  Phase                  8441 non-null   int64
 13  Polling Date           8441 non-null   object
dtypes: int64(4), object(10)
memory usage: 923.4+ KB

Let us change the date format of both the date columns.

In [98]:
import re

# Define a function to clean the 'th', 'rd', 'st', and 'nd' from the date
def clean_date(date_str):
    return re.sub(r'(\d+)(st|nd|rd|th)', r'\1', date_str)

# Apply the function to clean the 'Election Date' column
cand_list_2024['Application Date'] = cand_list_2024['Application Date'].apply(clean_date)

# Convert the cleaned 'Election Date' column to datetime
cand_list_2024['Application Date'] = pd.to_datetime(cand_list_2024['Application Date'], format='%d %B, %Y')

# View the result

In [99]:
cand_list_2024

,_id,State,Constituency_No,Constituency,Party,Candidate Name,Gender,Age,Address,Application Date,Application Status,Father/Husband's Name,Phase,Polling Date
0,1,Andaman & Nicobar Islands,1,Andaman & Nicobar Islands,Independent,V.K. ABDUL AZIZ,male,42,Brindaban,2024-03-27,Accepted,V.M. KOCHUNNI,1,2024-04-19T00:00:00
1,2,Andaman & Nicobar Islands,1,Andaman & Nicobar Islands,Independent,USHA KUMARI,female,39,"Dollygunj Village, Port Blair Tehsil, South An...",2024-03-27,Accepted,S B GURUNG,1,2024-04-19T00:00:00
2,3,Andaman & Nicobar Islands,1,Andaman & Nicobar Islands,Independent,RINKU MALA MONDAL,female,36,"Lokenath Colony, Dollygunj",2024-03-27,Accepted,N N MONDAL,1,2024-04-19T00:00:00
3,4,Andaman & Nicobar Islands,1,Andaman & Nicobar Islands,Indian National Congress,KULDEEP RAI SHARMA,male,56,"M.B.167, M.G. Road, Junglighat, Port Blair - 7...",2024-03-27,Accepted,BHAGAT SINGH,1,2024-04-19T00:00:00
4,5,Andaman & Nicobar Islands,1,Andaman & Nicobar Islands,Independent,ANAND RAMNATH ARLEKAR,male,58,"Panipath Road, Haddo",2024-03-27,Accepted,RAMNATH ARLEKAR,1,2024-04-19T00:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8436,8437,West Bengal,42,Birbhum,All India Trinamool Congress,SATABDI ROY,female,55,"CITY HIGH, FLAT NO. 12G, 85 PRINCE ANAWAR SHAH...",2024-04-22,Accepted,SRI MRIGANK BANERJEE,4,2024-05-13T00:00:00
8437,8438,West Bengal,42,Birbhum,Indian National Socialistic Action Forces,DOLA SARKAR,female,49,"F-10A, T-9, 18, HOCHIMIN SARANI, KOLKATA MUNIC...",2024-04-23,Accepted,Devraj Sarkar,4,2024-05-13T00:00:00
8438,8439,West Bengal,42,Birbhum,Independent,SAURAV MUDI,male,43,"MISTRIPARA, R.K. ROAD, BOLPUR, BOLPUR, BIRBHUM...",2024-04-20,Accepted,BIJOY KR. MUDI,4,2024-05-13T00:00:00
8439,8440,West Bengal,42,Birbhum,Bahujan Samaj Party,RAJNATH SARKAR,male,68,"VILL-BHABANIPUR, P.O.-BAGULA, P.S.- HANSKHALI,...",2024-04-19,Accepted,LATE BAIDYANATH SARKAR,4,2024-05-13T00:00:00
8440,8441,West Bengal,42,Birbhum,Socialist Unity Centre Of India (COMMUNIST),AYESHA KHATUN,female,53,"BAZARPARA (NEAR MANIK CYCLE STORE) P.O.- SURI,...",2024-04-18,Accepted,MADAN GHATAK,4,2024-05-13T00:00:00

In [101]:
cand_list_2024['Polling Date'] = pd.to_datetime(cand_list_2024['Polling Date'])

In [102]:
cand_list_2024

,_id,State,Constituency_No,Constituency,Party,Candidate Name,Gender,Age,Address,Application Date,Application Status,Father/Husband's Name,Phase,Polling Date
0,1,Andaman & Nicobar Islands,1,Andaman & Nicobar Islands,Independent,V.K. ABDUL AZIZ,male,42,Brindaban,2024-03-27,Accepted,V.M. KOCHUNNI,1,2024-04-19
1,2,Andaman & Nicobar Islands,1,Andaman & Nicobar Islands,Independent,USHA KUMARI,female,39,"Dollygunj Village, Port Blair Tehsil, South An...",2024-03-27,Accepted,S B GURUNG,1,2024-04-19
2,3,Andaman & Nicobar Islands,1,Andaman & Nicobar Islands,Independent,RINKU MALA MONDAL,female,36,"Lokenath Colony, Dollygunj",2024-03-27,Accepted,N N MONDAL,1,2024-04-19
3,4,Andaman & Nicobar Islands,1,Andaman & Nicobar Islands,Indian National Congress,KULDEEP RAI SHARMA,male,56,"M.B.167, M.G. Road, Junglighat, Port Blair - 7...",2024-03-27,Accepted,BHAGAT SINGH,1,2024-04-19
4,5,Andaman & Nicobar Islands,1,Andaman & Nicobar Islands,Independent,ANAND RAMNATH ARLEKAR,male,58,"Panipath Road, Haddo",2024-03-27,Accepted,RAMNATH ARLEKAR,1,2024-04-19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8436,8437,West Bengal,42,Birbhum,All India Trinamool Congress,SATABDI ROY,female,55,"CITY HIGH, FLAT NO. 12G, 85 PRINCE ANAWAR SHAH...",2024-04-22,Accepted,SRI MRIGANK BANERJEE,4,2024-05-13
8437,8438,West Bengal,42,Birbhum,Indian National Socialistic Action Forces,DOLA SARKAR,female,49,"F-10A, T-9, 18, HOCHIMIN SARANI, KOLKATA MUNIC...",2024-04-23,Accepted,Devraj Sarkar,4,2024-05-13
8438,8439,West Bengal,42,Birbhum,Independent,SAURAV MUDI,male,43,"MISTRIPARA, R.K. ROAD, BOLPUR, BOLPUR, BIRBHUM...",2024-04-20,Accepted,BIJOY KR. MUDI,4,2024-05-13
8439,8440,West Bengal,42,Birbhum,Bahujan Samaj Party,RAJNATH SARKAR,male,68,"VILL-BHABANIPUR, P.O.-BAGULA, P.S.- HANSKHALI,...",2024-04-19,Accepted,LATE BAIDYANATH SARKAR,4,2024-05-13
8440,8441,West Bengal,42,Birbhum,Socialist Unity Centre Of India (COMMUNIST),AYESHA KHATUN,female,53,"BAZARPARA (NEAR MANIK CYCLE STORE) P.O.- SURI,...",2024-04-18,Accepted,MADAN GHATAK,4,2024-05-13

Dropping other irrelavant columns:

In [103]:
cand_list_2024.drop(["Address","Father/Husband's Name"], axis=1,inplace=True)

In [104]:
cand_list_2024

,_id,State,Constituency_No,Constituency,Party,Candidate Name,Gender,Age,Application Date,Application Status,Phase,Polling Date
0,1,Andaman & Nicobar Islands,1,Andaman & Nicobar Islands,Independent,V.K. ABDUL AZIZ,male,42,2024-03-27,Accepted,1,2024-04-19
1,2,Andaman & Nicobar Islands,1,Andaman & Nicobar Islands,Independent,USHA KUMARI,female,39,2024-03-27,Accepted,1,2024-04-19
2,3,Andaman & Nicobar Islands,1,Andaman & Nicobar Islands,Independent,RINKU MALA MONDAL,female,36,2024-03-27,Accepted,1,2024-04-19
3,4,Andaman & Nicobar Islands,1,Andaman & Nicobar Islands,Indian National Congress,KULDEEP RAI SHARMA,male,56,2024-03-27,Accepted,1,2024-04-19
4,5,Andaman & Nicobar Islands,1,Andaman & Nicobar Islands,Independent,ANAND RAMNATH ARLEKAR,male,58,2024-03-27,Accepted,1,2024-04-19
...,...,...,...,...,...,...,...,...,...,...,...,...
8436,8437,West Bengal,42,Birbhum,All India Trinamool Congress,SATABDI ROY,female,55,2024-04-22,Accepted,4,2024-05-13
8437,8438,West Bengal,42,Birbhum,Indian National Socialistic Action Forces,DOLA SARKAR,female,49,2024-04-23,Accepted,4,2024-05-13
8438,8439,West Bengal,42,Birbhum,Independent,SAURAV MUDI,male,43,2024-04-20,Accepted,4,2024-05-13
8439,8440,West Bengal,42,Birbhum,Bahujan Samaj Party,RAJNATH SARKAR,male,68,2024-04-19,Accepted,4,2024-05-13
8440,8441,West Bengal,42,Birbhum,Socialist Unity Centre Of India (COMMUNIST),AYESHA KHATUN,female,53,2024-04-18,Accepted,4,2024-05-13

In [105]:
# Count rows where 'Application Status' is not 'Accepted'
print(cand_list_2024[cand_list_2024['Application Status'] != 'Accepted'].shape[0])

0

Since there are no entries with Application Status other than Accepted we will drop this column too. Along with that let us also drop the _id column.

In [106]:
cand_list_2024.drop(["_id","Application Status"], axis=1,inplace=True)

In [107]:
cand_list_2024

,State,Constituency_No,Constituency,Party,Candidate Name,Gender,Age,Application Date,Phase,Polling Date
0,Andaman & Nicobar Islands,1,Andaman & Nicobar Islands,Independent,V.K. ABDUL AZIZ,male,42,2024-03-27,1,2024-04-19
1,Andaman & Nicobar Islands,1,Andaman & Nicobar Islands,Independent,USHA KUMARI,female,39,2024-03-27,1,2024-04-19
2,Andaman & Nicobar Islands,1,Andaman & Nicobar Islands,Independent,RINKU MALA MONDAL,female,36,2024-03-27,1,2024-04-19
3,Andaman & Nicobar Islands,1,Andaman & Nicobar Islands,Indian National Congress,KULDEEP RAI SHARMA,male,56,2024-03-27,1,2024-04-19
4,Andaman & Nicobar Islands,1,Andaman & Nicobar Islands,Independent,ANAND RAMNATH ARLEKAR,male,58,2024-03-27,1,2024-04-19
...,...,...,...,...,...,...,...,...,...,...
8436,West Bengal,42,Birbhum,All India Trinamool Congress,SATABDI ROY,female,55,2024-04-22,4,2024-05-13
8437,West Bengal,42,Birbhum,Indian National Socialistic Action Forces,DOLA SARKAR,female,49,2024-04-23,4,2024-05-13
8438,West Bengal,42,Birbhum,Independent,SAURAV MUDI,male,43,2024-04-20,4,2024-05-13
8439,West Bengal,42,Birbhum,Bahujan Samaj Party,RAJNATH SARKAR,male,68,2024-04-19,4,2024-05-13
8440,West Bengal,42,Birbhum,Socialist Unity Centre Of India (COMMUNIST),AYESHA KHATUN,female,53,2024-04-18,4,2024-05-13

The column Application isn't very important so let's drop this column too.

In [108]:
cand_list_2024.drop(["Application Date"], axis=1,inplace=True)

In [109]:
cand_list_2024

,State,Constituency_No,Constituency,Party,Candidate Name,Gender,Age,Phase,Polling Date
0,Andaman & Nicobar Islands,1,Andaman & Nicobar Islands,Independent,V.K. ABDUL AZIZ,male,42,1,2024-04-19
1,Andaman & Nicobar Islands,1,Andaman & Nicobar Islands,Independent,USHA KUMARI,female,39,1,2024-04-19
2,Andaman & Nicobar Islands,1,Andaman & Nicobar Islands,Independent,RINKU MALA MONDAL,female,36,1,2024-04-19
3,Andaman & Nicobar Islands,1,Andaman & Nicobar Islands,Indian National Congress,KULDEEP RAI SHARMA,male,56,1,2024-04-19
4,Andaman & Nicobar Islands,1,Andaman & Nicobar Islands,Independent,ANAND RAMNATH ARLEKAR,male,58,1,2024-04-19
...,...,...,...,...,...,...,...,...,...
8436,West Bengal,42,Birbhum,All India Trinamool Congress,SATABDI ROY,female,55,4,2024-05-13
8437,West Bengal,42,Birbhum,Indian National Socialistic Action Forces,DOLA SARKAR,female,49,4,2024-05-13
8438,West Bengal,42,Birbhum,Independent,SAURAV MUDI,male,43,4,2024-05-13
8439,West Bengal,42,Birbhum,Bahujan Samaj Party,RAJNATH SARKAR,male,68,4,2024-05-13
8440,West Bengal,42,Birbhum,Socialist Unity Centre Of India (COMMUNIST),AYESHA KHATUN,female,53,4,2024-05-13

In [110]:
cand_list_2024['Gender'].unique()

array(['male', 'female', 'third'], dtype=object)

In [111]:
cand_list_2024['Gender'].nunique()

3

In [112]:
gender_counts = cand_list_2024['Gender'].value_counts()

print(gender_counts)

Gender
male      7634
female     801
third        6
Name: count, dtype: int64

In [113]:
cand_list_2024['Gender'] = cand_list_2024['Gender'].replace({'male': 'M', 'female': 'F', 'third gender': 'O'})

In [114]:
cand_list_2024

,State,Constituency_No,Constituency,Party,Candidate Name,Gender,Age,Phase,Polling Date
0,Andaman & Nicobar Islands,1,Andaman & Nicobar Islands,Independent,V.K. ABDUL AZIZ,M,42,1,2024-04-19
1,Andaman & Nicobar Islands,1,Andaman & Nicobar Islands,Independent,USHA KUMARI,F,39,1,2024-04-19
2,Andaman & Nicobar Islands,1,Andaman & Nicobar Islands,Independent,RINKU MALA MONDAL,F,36,1,2024-04-19
3,Andaman & Nicobar Islands,1,Andaman & Nicobar Islands,Indian National Congress,KULDEEP RAI SHARMA,M,56,1,2024-04-19
4,Andaman & Nicobar Islands,1,Andaman & Nicobar Islands,Independent,ANAND RAMNATH ARLEKAR,M,58,1,2024-04-19
...,...,...,...,...,...,...,...,...,...
8436,West Bengal,42,Birbhum,All India Trinamool Congress,SATABDI ROY,F,55,4,2024-05-13
8437,West Bengal,42,Birbhum,Indian National Socialistic Action Forces,DOLA SARKAR,F,49,4,2024-05-13
8438,West Bengal,42,Birbhum,Independent,SAURAV MUDI,M,43,4,2024-05-13
8439,West Bengal,42,Birbhum,Bahujan Samaj Party,RAJNATH SARKAR,M,68,4,2024-05-13
8440,West Bengal,42,Birbhum,Socialist Unity Centre Of India (COMMUNIST),AYESHA KHATUN,F,53,4,2024-05-13

In [115]:
cand_list_2024.to_csv("../data/processed/candidates_list_2024.csv, index=False")