# Wrangling and Cleaning of all raw data

In [1]:
# importing packages
import pandas as pd
import os

### 1. Wrangling External Data

Let us first analyze the format of all external datasets:

In [2]:
electricity_access = pd.read_csv("../data/external/electricity-access.csv", skiprows =4)

In [3]:
electricity_access

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,Unnamed: 68
0,Aruba,ABW,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,99.900000,NaN,NaN
1,Africa Eastern and Southern,AFE,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,33.903800,38.854624,40.199898,43.017148,44.381259,46.264875,48.100862,48.711995,NaN,NaN
2,Afghanistan,AFG,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,71.500000,97.700000,97.700000,93.400000,97.700000,97.700000,97.700000,85.300000,NaN,NaN
3,Africa Western and Central,AFW,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,46.758739,50.906115,48.789457,51.211055,51.168083,51.730899,54.224724,55.437577,NaN,NaN
4,Angola,AGO,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,42.000000,41.800000,42.900000,45.300000,45.600000,47.000000,48.200000,48.500000,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,XKX,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
262,"Yemen, Rep.",YEM,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,67.400000,68.900000,79.200000,62.000000,72.800000,73.900000,74.900000,76.000000,NaN,NaN
263,South Africa,ZAF,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,85.300000,83.900000,84.400000,84.700000,85.000000,90.000000,89.300000,86.500000,NaN,NaN
264,Zambia,ZMB,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,31.100000,35.400000,40.300000,40.200000,43.000000,44.600000,46.700000,47.800000,NaN,NaN
265,Zimbabwe,ZWE,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,33.700000,42.500000,44.000000,45.400000,46.700000,52.700000,49.000000,50.100000,NaN,NaN

In [4]:
electricity_access.columns

Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       '1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968',
       '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977',
       '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986',
       '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995',
       '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022',
       '2023', 'Unnamed: 68'],
      dtype='object')

Let's see a couple other datasets too:

In [5]:
fdi = pd.read_csv("../data/external/fdi.csv", skiprows =4)
fdi

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,Unnamed: 68
0,Aruba,ABW,"Foreign direct investment, net inflows (% of GDP)",BX.KLT.DINV.WD.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,-0.907264,0.923398,5.253373,4.399822,-2.215283,6.294368,4.303487,7.000585,NaN,NaN
1,Africa Eastern and Southern,AFE,"Foreign direct investment, net inflows (% of GDP)",BX.KLT.DINV.WD.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,3.195805,2.017779,1.076353,1.337747,1.497207,1.481455,5.038473,1.718270,NaN,NaN
2,Afghanistan,AFG,"Foreign direct investment, net inflows (% of GDP)",BX.KLT.DINV.WD.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,0.884000,0.516606,0.274797,0.661572,0.124496,0.064994,0.144401,NaN,NaN,NaN
3,Africa Western and Central,AFW,"Foreign direct investment, net inflows (% of GDP)",BX.KLT.DINV.WD.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,2.033252,2.013496,2.575635,2.016799,1.511376,1.448811,2.008478,1.738454,NaN,NaN
4,Angola,AGO,"Foreign direct investment, net inflows (% of GDP)",BX.KLT.DINV.WD.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,11.081339,-0.340243,-10.038377,-8.125891,-5.780813,-3.848264,-6.548542,-6.320564,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,XKX,"Foreign direct investment, net inflows (% of GDP)",BX.KLT.DINV.WD.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,5.453604,3.648046,3.994494,4.043060,3.608747,5.113617,5.321433,8.168575,NaN,NaN
262,"Yemen, Rep.",YEM,"Foreign direct investment, net inflows (% of GDP)",BX.KLT.DINV.WD.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,-0.036388,-1.791312,-1.005319,-1.305638,-1.694944,NaN,NaN,NaN,NaN,NaN
263,South Africa,ZAF,"Foreign direct investment, net inflows (% of GDP)",BX.KLT.DINV.WD.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,0.438736,0.684613,0.539674,1.374291,1.314078,0.932200,9.677949,2.268806,NaN,NaN
264,Zambia,ZMB,"Foreign direct investment, net inflows (% of GDP)",BX.KLT.DINV.WD.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,7.447417,3.162520,4.280501,1.552319,2.350919,1.351906,1.784078,-0.223287,NaN,NaN
265,Zimbabwe,ZWE,"Foreign direct investment, net inflows (% of GDP)",BX.KLT.DINV.WD.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,1.999687,1.669274,1.746885,2.101721,1.142806,0.699034,0.881174,1.247870,NaN,NaN

Now we need all these metrics specifically for India. So first we will create a dataframe.

In [6]:
combined_economic_indicators = pd.DataFrame(columns=electricity_access.columns)

In [7]:
# combined_economic_indicators.columns = electricity_access.columns
combined_economic_indicators

Empty DataFrame
Columns: [Country Name, Country Code, Indicator Name, Indicator Code, 1960, 1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, Unnamed: 68]
Index: []

[0 rows x 69 columns]

In [8]:
india_row = electricity_access[electricity_access["Country Name"] == "India"]

In [9]:
combined_economic_indicators = pd.concat([combined_economic_indicators, india_row], ignore_index=True)

C:\Users\ujjwa\AppData\Local\Temp\ipykernel_17232\98932846.py:1: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  combined_economic_indicators = pd.concat([combined_economic_indicators, india_row], ignore_index=True)

In [10]:
combined_economic_indicators

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,Unnamed: 68
0,India,IND,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,88.0,89.6,91.8,95.7,95.9,96.5,99.6,99.2,NaN,NaN

Since all these datasets are of the same format, we can append only the data pertaining to India from each dataset to this dataframe using an iterator.

In [11]:
external_data_files = os.listdir("../data/external/")

In [12]:
for file in external_data_files:
    df = pd.read_csv(f"../data/external/{file}", skiprows=4)
    print(file)
    india_row = df[df["Country Name"] == "India"]
    combined_economic_indicators = pd.concat([combined_economic_indicators, india_row], ignore_index=True)
    # combined_economic_indicators = pd.concat([combined_economic_indicators, df], ignore_index=True)

electricity-access.csv
FDI.csv
gdp growth.csv
gdp-per-capita.csv
gdp.csv
gov-debt.csv
inflation.csv
net-migration.csv
poverty-headcount.csv
SPI.csv
unemployment.csv
women-parliament.csv

In [13]:
combined_economic_indicators

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,Unnamed: 68
0,India,IND,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,8.800000e+01,8.960000e+01,9.180000e+01,9.570000e+01,9.590000e+01,9.650000e+01,9.960000e+01,9.920000e+01,NaN,NaN
1,India,IND,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,8.800000e+01,8.960000e+01,9.180000e+01,9.570000e+01,9.590000e+01,9.650000e+01,9.960000e+01,9.920000e+01,NaN,NaN
2,India,IND,"Foreign direct investment, net inflows (% of GDP)",BX.KLT.DINV.WD.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,2.092115e+00,1.937364e+00,1.507316e+00,1.558215e+00,1.784826e+00,2.406203e+00,1.412171e+00,1.489211e+00,NaN,NaN
3,India,IND,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,3.722743e+00,2.931128e+00,5.994353e+00,7.452950e+00,-2.635770e+00,...,7.996254e+00,8.256306e+00,6.795383e+00,6.453851e+00,3.871437e+00,-5.777725e+00,9.689592e+00,6.987039e+00,7.583971e+00,NaN
4,India,IND,GDP per capita (current US$),NY.GDP.PCAP.CD,8.303510e+01,8.596970e+01,9.027687e+01,1.013152e+02,1.154876e+02,1.190850e+02,...,1.590174e+03,1.714280e+03,1.957970e+03,1.974378e+03,2.050164e+03,1.915552e+03,2.250179e+03,2.366310e+03,2.484845e+03,NaN
5,India,IND,GDP (current US$),NY.GDP.MKTP.CD,3.702988e+10,3.923244e+10,4.216148e+10,4.842192e+10,5.648029e+10,5.955611e+10,...,2.103588e+12,2.294797e+12,2.651474e+12,2.702930e+12,2.835606e+12,2.674852e+12,3.167271e+12,3.353470e+12,3.549919e+12,NaN
6,India,IND,"Central government debt, total (% of GDP)",GC.DOD.TOTL.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,4.996472e+01,4.763376e+01,4.758361e+01,4.652250e+01,NaN,NaN,NaN,NaN,NaN,NaN
7,India,IND,"Inflation, consumer prices (annual %)",FP.CPI.TOTL.ZG,1.779878e+00,1.695213e+00,3.632215e+00,2.946161e+00,1.335526e+01,9.474759e+00,...,4.906973e+00,4.948216e+00,3.328173e+00,3.938826e+00,3.729506e+00,6.623437e+00,5.131407e+00,6.699034e+00,5.649143e+00,NaN
8,India,IND,Net migration,SM.POP.NETM,5.226400e+04,1.141810e+05,1.103980e+05,4.898600e+04,5.837000e+03,1.907700e+04,...,-4.750940e+05,6.811900e+04,-2.196560e+05,-5.615630e+05,-5.934950e+05,-3.477200e+04,-3.019700e+05,-4.873030e+05,-4.861360e+05,NaN
9,India,IND,Poverty headcount ratio at $2.15 a day (2017 P...,SI.POV.DDAY,NaN,NaN,NaN,NaN,NaN,NaN,...,1.880000e+01,1.810000e+01,1.340000e+01,1.110000e+01,1.320000e+01,1.550000e+01,1.290000e+01,NaN,NaN,NaN
10,India,IND,Statistical performance indicators (SPI): Over...,IQ.SPI.OVRL,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,6.738542e+01,6.466250e+01,6.908208e+01,7.036708e+01,7.265542e+01,7.525458e+01,7.419625e+01,NaN,NaN
11,India,IND,"Unemployment, total (% of total labor force) (...",SL.UEM.TOTL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,7.894000e+00,7.800000e+00,7.723000e+00,7.652000e+00,6.510000e+00,7.859000e+00,6.380000e+00,4.822000e+00,4.172000e+00,NaN
12,India,IND,Proportion of seats held by women in national ...,SG.GEN.PARL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,1.197053e+01,1.197053e+01,1.180812e+01,1.180812e+01,1.439114e+01,1.436464e+01,1.444444e+01,1.494465e+01,1.524164e+01,NaN

In [14]:
combined_economic_indicators = combined_economic_indicators.drop(index = 0)
combined_economic_indicators = combined_economic_indicators.reset_index(drop=True)
combined_economic_indicators

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,Unnamed: 68
0,India,IND,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,8.800000e+01,8.960000e+01,9.180000e+01,9.570000e+01,9.590000e+01,9.650000e+01,9.960000e+01,9.920000e+01,NaN,NaN
1,India,IND,"Foreign direct investment, net inflows (% of GDP)",BX.KLT.DINV.WD.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,2.092115e+00,1.937364e+00,1.507316e+00,1.558215e+00,1.784826e+00,2.406203e+00,1.412171e+00,1.489211e+00,NaN,NaN
2,India,IND,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,3.722743e+00,2.931128e+00,5.994353e+00,7.452950e+00,-2.635770e+00,...,7.996254e+00,8.256306e+00,6.795383e+00,6.453851e+00,3.871437e+00,-5.777725e+00,9.689592e+00,6.987039e+00,7.583971e+00,NaN
3,India,IND,GDP per capita (current US$),NY.GDP.PCAP.CD,8.303510e+01,8.596970e+01,9.027687e+01,1.013152e+02,1.154876e+02,1.190850e+02,...,1.590174e+03,1.714280e+03,1.957970e+03,1.974378e+03,2.050164e+03,1.915552e+03,2.250179e+03,2.366310e+03,2.484845e+03,NaN
4,India,IND,GDP (current US$),NY.GDP.MKTP.CD,3.702988e+10,3.923244e+10,4.216148e+10,4.842192e+10,5.648029e+10,5.955611e+10,...,2.103588e+12,2.294797e+12,2.651474e+12,2.702930e+12,2.835606e+12,2.674852e+12,3.167271e+12,3.353470e+12,3.549919e+12,NaN
5,India,IND,"Central government debt, total (% of GDP)",GC.DOD.TOTL.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,4.996472e+01,4.763376e+01,4.758361e+01,4.652250e+01,NaN,NaN,NaN,NaN,NaN,NaN
6,India,IND,"Inflation, consumer prices (annual %)",FP.CPI.TOTL.ZG,1.779878e+00,1.695213e+00,3.632215e+00,2.946161e+00,1.335526e+01,9.474759e+00,...,4.906973e+00,4.948216e+00,3.328173e+00,3.938826e+00,3.729506e+00,6.623437e+00,5.131407e+00,6.699034e+00,5.649143e+00,NaN
7,India,IND,Net migration,SM.POP.NETM,5.226400e+04,1.141810e+05,1.103980e+05,4.898600e+04,5.837000e+03,1.907700e+04,...,-4.750940e+05,6.811900e+04,-2.196560e+05,-5.615630e+05,-5.934950e+05,-3.477200e+04,-3.019700e+05,-4.873030e+05,-4.861360e+05,NaN
8,India,IND,Poverty headcount ratio at $2.15 a day (2017 P...,SI.POV.DDAY,NaN,NaN,NaN,NaN,NaN,NaN,...,1.880000e+01,1.810000e+01,1.340000e+01,1.110000e+01,1.320000e+01,1.550000e+01,1.290000e+01,NaN,NaN,NaN
9,India,IND,Statistical performance indicators (SPI): Over...,IQ.SPI.OVRL,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,6.738542e+01,6.466250e+01,6.908208e+01,7.036708e+01,7.265542e+01,7.525458e+01,7.419625e+01,NaN,NaN
10,India,IND,"Unemployment, total (% of total labor force) (...",SL.UEM.TOTL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,7.894000e+00,7.800000e+00,7.723000e+00,7.652000e+00,6.510000e+00,7.859000e+00,6.380000e+00,4.822000e+00,4.172000e+00,NaN
11,India,IND,Proportion of seats held by women in national ...,SG.GEN.PARL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,1.197053e+01,1.197053e+01,1.180812e+01,1.180812e+01,1.439114e+01,1.436464e+01,1.444444e+01,1.494465e+01,1.524164e+01,NaN

### Cleaning external data:

In [15]:
combined_economic_indicators = combined_economic_indicators.drop(columns = ["Country Name", "Country Code","Indicator Code", "Unnamed: 68"])
combined_economic_indicators

,Indicator Name,1960,1961,1962,1963,1964,1965,1966,1967,1968,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,Access to electricity (% of population),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.510000e+01,8.800000e+01,8.960000e+01,9.180000e+01,9.570000e+01,9.590000e+01,9.650000e+01,9.960000e+01,9.920000e+01,NaN
1,"Foreign direct investment, net inflows (% of GDP)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.695660e+00,2.092115e+00,1.937364e+00,1.507316e+00,1.558215e+00,1.784826e+00,2.406203e+00,1.412171e+00,1.489211e+00,NaN
2,GDP growth (annual %),NaN,3.722743e+00,2.931128e+00,5.994353e+00,7.452950e+00,-2.635770e+00,-5.532877e-02,7.825963e+00,3.387929e+00,...,7.410228e+00,7.996254e+00,8.256306e+00,6.795383e+00,6.453851e+00,3.871437e+00,-5.777725e+00,9.689592e+00,6.987039e+00,7.583971e+00
3,GDP per capita (current US$),8.303510e+01,8.596970e+01,9.027687e+01,1.013152e+02,1.154876e+02,1.190850e+02,8.920135e+01,9.604633e+01,9.951684e+01,...,1.559864e+03,1.590174e+03,1.714280e+03,1.957970e+03,1.974378e+03,2.050164e+03,1.915552e+03,2.250179e+03,2.366310e+03,2.484845e+03
4,GDP (current US$),3.702988e+10,3.923244e+10,4.216148e+10,4.842192e+10,5.648029e+10,5.955611e+10,4.558123e+10,5.013494e+10,5.308546e+10,...,2.039126e+12,2.103588e+12,2.294797e+12,2.651474e+12,2.702930e+12,2.835606e+12,2.674852e+12,3.167271e+12,3.353470e+12,3.549919e+12
5,"Central government debt, total (% of GDP)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.990092e+01,4.996472e+01,4.763376e+01,4.758361e+01,4.652250e+01,NaN,NaN,NaN,NaN,NaN
6,"Inflation, consumer prices (annual %)",1.779878e+00,1.695213e+00,3.632215e+00,2.946161e+00,1.335526e+01,9.474759e+00,1.080185e+01,1.306220e+01,3.237412e+00,...,6.665657e+00,4.906973e+00,4.948216e+00,3.328173e+00,3.938826e+00,3.729506e+00,6.623437e+00,5.131407e+00,6.699034e+00,5.649143e+00
7,Net migration,5.226400e+04,1.141810e+05,1.103980e+05,4.898600e+04,5.837000e+03,1.907700e+04,-1.448070e+05,-1.243360e+05,-1.843260e+05,...,-3.106940e+05,-4.750940e+05,6.811900e+04,-2.196560e+05,-5.615630e+05,-5.934950e+05,-3.477200e+04,-3.019700e+05,-4.873030e+05,-4.861360e+05
8,Poverty headcount ratio at $2.15 a day (2017 P...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1.880000e+01,1.810000e+01,1.340000e+01,1.110000e+01,1.320000e+01,1.550000e+01,1.290000e+01,NaN,NaN
9,Statistical performance indicators (SPI): Over...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,6.738542e+01,6.466250e+01,6.908208e+01,7.036708e+01,7.265542e+01,7.525458e+01,7.419625e+01,NaN
10,"Unemployment, total (% of total labor force) (...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7.992000e+00,7.894000e+00,7.800000e+00,7.723000e+00,7.652000e+00,6.510000e+00,7.859000e+00,6.380000e+00,4.822000e+00,4.172000e+00
11,Proportion of seats held by women in national ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.141805e+01,1.197053e+01,1.197053e+01,1.180812e+01,1.180812e+01,1.439114e+01,1.436464e+01,1.444444e+01,1.494465e+01,1.524164e+01

In [16]:
#exporting this dataframe to a csv file
combined_economic_indicators.to_csv('../data/processed/combined_economic_indicators.csv', index=False)

In [17]:
df = pd.read_csv("../data/processed/combined_economic_indicators.csv")
df

,Indicator Name,1960,1961,1962,1963,1964,1965,1966,1967,1968,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,Access to electricity (% of population),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.510000e+01,8.800000e+01,8.960000e+01,9.180000e+01,9.570000e+01,9.590000e+01,9.650000e+01,9.960000e+01,9.920000e+01,NaN
1,"Foreign direct investment, net inflows (% of GDP)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.695660e+00,2.092115e+00,1.937364e+00,1.507316e+00,1.558215e+00,1.784826e+00,2.406203e+00,1.412171e+00,1.489211e+00,NaN
2,GDP growth (annual %),NaN,3.722743e+00,2.931128e+00,5.994353e+00,7.452950e+00,-2.635770e+00,-5.532877e-02,7.825963e+00,3.387929e+00,...,7.410228e+00,7.996254e+00,8.256306e+00,6.795383e+00,6.453851e+00,3.871437e+00,-5.777725e+00,9.689592e+00,6.987039e+00,7.583971e+00
3,GDP per capita (current US$),8.303510e+01,8.596970e+01,9.027687e+01,1.013152e+02,1.154876e+02,1.190850e+02,8.920135e+01,9.604633e+01,9.951684e+01,...,1.559864e+03,1.590174e+03,1.714280e+03,1.957970e+03,1.974378e+03,2.050164e+03,1.915552e+03,2.250179e+03,2.366310e+03,2.484845e+03
4,GDP (current US$),3.702988e+10,3.923244e+10,4.216148e+10,4.842192e+10,5.648029e+10,5.955611e+10,4.558123e+10,5.013494e+10,5.308546e+10,...,2.039126e+12,2.103588e+12,2.294797e+12,2.651474e+12,2.702930e+12,2.835606e+12,2.674852e+12,3.167271e+12,3.353470e+12,3.549919e+12
5,"Central government debt, total (% of GDP)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.990092e+01,4.996472e+01,4.763376e+01,4.758361e+01,4.652250e+01,NaN,NaN,NaN,NaN,NaN
6,"Inflation, consumer prices (annual %)",1.779878e+00,1.695213e+00,3.632215e+00,2.946161e+00,1.335526e+01,9.474759e+00,1.080185e+01,1.306220e+01,3.237412e+00,...,6.665657e+00,4.906973e+00,4.948216e+00,3.328173e+00,3.938826e+00,3.729506e+00,6.623437e+00,5.131407e+00,6.699034e+00,5.649143e+00
7,Net migration,5.226400e+04,1.141810e+05,1.103980e+05,4.898600e+04,5.837000e+03,1.907700e+04,-1.448070e+05,-1.243360e+05,-1.843260e+05,...,-3.106940e+05,-4.750940e+05,6.811900e+04,-2.196560e+05,-5.615630e+05,-5.934950e+05,-3.477200e+04,-3.019700e+05,-4.873030e+05,-4.861360e+05
8,Poverty headcount ratio at $2.15 a day (2017 P...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1.880000e+01,1.810000e+01,1.340000e+01,1.110000e+01,1.320000e+01,1.550000e+01,1.290000e+01,NaN,NaN
9,Statistical performance indicators (SPI): Over...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,6.738542e+01,6.466250e+01,6.908208e+01,7.036708e+01,7.265542e+01,7.525458e+01,7.419625e+01,NaN
10,"Unemployment, total (% of total labor force) (...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7.992000e+00,7.894000e+00,7.800000e+00,7.723000e+00,7.652000e+00,6.510000e+00,7.859000e+00,6.380000e+00,4.822000e+00,4.172000e+00
11,Proportion of seats held by women in national ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.141805e+01,1.197053e+01,1.197053e+01,1.180812e+01,1.180812e+01,1.439114e+01,1.436464e+01,1.444444e+01,1.494465e+01,1.524164e+01

### 2. Wrangling and cleaning candidate list of 2019 and 2024:

In [18]:
# Loading datasets
cand_list_2019 = pd.read_csv("../data/raw/all_turnout_2019.csv")
cand_list_2024 = pd.read_csv("../data/raw/all_turnout_2024.csv")

In [19]:
cand_list_2019

,State Name,PC NAME,CANDIDATES NAME,SEX,AGE,CATEGORY,PARTY NAME,PARTY SYMBOL,GENERAL,POSTAL,TOTAL,OVER TOTAL ELECTORS IN CONSTITUENCY,OVER TOTAL VOTES POLLED IN CONSTITUENCY,Total Electors
0,Andhra Pradesh,Aruku,KISHORE CHANDRA DEO,MALE,72.0,ST,TDP,Bicycle,336163,1938,338101,23.294530,31.356893,1451418
1,Andhra Pradesh,Aruku,Dr. KOSURI KASI VISWANADHA VEERA VENKATA SATYA...,MALE,54.0,ST,BJP,Lotus,17578,289,17867,1.231003,1.657060,1451418
2,Andhra Pradesh,Aruku,GODDETI. MADHAVI,FEMALE,26.0,ST,YSRCP,Ceiling Fan,557561,4629,562190,38.733845,52.139840,1451418
3,Andhra Pradesh,Aruku,SHRUTI DEVI VYRICHERLA,FEMALE,46.0,ST,INC,Hand,17656,74,17730,1.221564,1.644354,1451418
4,Andhra Pradesh,Aruku,GANGULAIAH VAMPURU.,MALE,49.0,ST,JnP,Glass Tumbler,42245,549,42794,2.948427,3.968894,1451418
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8592,Puducherry,Puducherry,TIRAVITAMANKAI@LOURDHUMARY,FEMALE,57.0,GENERAL,IND,Slate,870,0,870,0.089377,0.110002,973410
8593,Puducherry,Puducherry,IMS. BALAJI,MALE,32.0,GENERAL,IND,Bat,2546,0,2546,0.261555,0.321914,973410
8594,Puducherry,Puducherry,RAMESH.D,MALE,49.0,SC,IND,Mike,1653,0,1653,0.169815,0.209004,973410
8595,Puducherry,Puducherry,V. RAMAMURTHI,MALE,74.0,GENERAL,IND,Whistle,641,1,642,0.065954,0.081174,973410
8596,Puducherry,Puducherry,NOTA,NaN,NaN,NaN,NOTA,NaN,12192,7,12199,1.253223,1.542430,973410

In [20]:
cand_list_2019.columns

Index([' State Name ', ' PC NAME ', ' CANDIDATES NAME ', ' SEX ', ' AGE ',
       ' CATEGORY ', ' PARTY NAME ', ' PARTY SYMBOL ', ' GENERAL ', ' POSTAL ',
       ' TOTAL ', 'OVER TOTAL ELECTORS IN CONSTITUENCY',
       'OVER TOTAL VOTES POLLED IN CONSTITUENCY', 'Total Electors'],
      dtype='object')

Columns have unwanted spaces so let's rename them.

In [21]:
cand_list_2019.rename(columns={
    ' State Name ': 'State',
    ' PC NAME ' : 'Constituency',
    ' CANDIDATES NAME ' : 'Candidate', 
    ' SEX ': 'Gender',
    ' AGE ': 'Age',
    ' CATEGORY ': 'Category',
    ' PARTY NAME ': 'Party',
    ' PARTY SYMBOL ': 'Party Symbol',
    ' GENERAL ': 'General Votes',
    ' POSTAL ': 'Postal Votes',
    ' TOTAL ': 'Total Votes',
    'OVER TOTAL ELECTORS IN CONSTITUENCY': 'Over Total Electors in Constituency (%)',
    'OVER TOTAL VOTES POLLED IN CONSTITUENCY': 'Over Total Votes Polled in Constituency (%)'},
    inplace=True
)
cand_list_2019

,State,Constituency,Candidate,Gender,Age,Category,Party,Party Symbol,General Votes,Postal Votes,Total Votes,Over Total Electors in Constituency (%),Over Total Votes Polled in Constituency (%),Total Electors
0,Andhra Pradesh,Aruku,KISHORE CHANDRA DEO,MALE,72.0,ST,TDP,Bicycle,336163,1938,338101,23.294530,31.356893,1451418
1,Andhra Pradesh,Aruku,Dr. KOSURI KASI VISWANADHA VEERA VENKATA SATYA...,MALE,54.0,ST,BJP,Lotus,17578,289,17867,1.231003,1.657060,1451418
2,Andhra Pradesh,Aruku,GODDETI. MADHAVI,FEMALE,26.0,ST,YSRCP,Ceiling Fan,557561,4629,562190,38.733845,52.139840,1451418
3,Andhra Pradesh,Aruku,SHRUTI DEVI VYRICHERLA,FEMALE,46.0,ST,INC,Hand,17656,74,17730,1.221564,1.644354,1451418
4,Andhra Pradesh,Aruku,GANGULAIAH VAMPURU.,MALE,49.0,ST,JnP,Glass Tumbler,42245,549,42794,2.948427,3.968894,1451418
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8592,Puducherry,Puducherry,TIRAVITAMANKAI@LOURDHUMARY,FEMALE,57.0,GENERAL,IND,Slate,870,0,870,0.089377,0.110002,973410
8593,Puducherry,Puducherry,IMS. BALAJI,MALE,32.0,GENERAL,IND,Bat,2546,0,2546,0.261555,0.321914,973410
8594,Puducherry,Puducherry,RAMESH.D,MALE,49.0,SC,IND,Mike,1653,0,1653,0.169815,0.209004,973410
8595,Puducherry,Puducherry,V. RAMAMURTHI,MALE,74.0,GENERAL,IND,Whistle,641,1,642,0.065954,0.081174,973410
8596,Puducherry,Puducherry,NOTA,NaN,NaN,NaN,NOTA,NaN,12192,7,12199,1.253223,1.542430,973410

In [22]:
cand_list_2019['Gender'].value_counts()

Gender
MALE      7322
FEMALE     726
THIRD        6
Name: count, dtype: int64

In [23]:
cand_list_2019['Category'].value_counts()

Category
GENERAL    5317
SC         2110
ST          627
Name: count, dtype: int64

The sum of all genders and categories doesn't equal to the total number of rows in the dataframe. On careful inspection I found that some rows had null values in the Gender and Category column and NOTA in the Candidate column. Let's remove all the rows with null values.

In [24]:
nota_rows = cand_list_2019[cand_list_2019['Candidate'] == 'NOTA']
nota_rows

,State,Constituency,Candidate,Gender,Age,Category,Party,Party Symbol,General Votes,Postal Votes,Total Votes,Over Total Electors in Constituency (%),Over Total Votes Polled in Constituency (%),Total Electors
10,Andhra Pradesh,Aruku,NOTA,NaN,NaN,NaN,NOTA,NaN,47955,22,47977,3.305526,4.449587,1451418
20,Andhra Pradesh,Srikakulam,NOTA,NaN,NaN,NaN,NOTA,NaN,25500,45,25545,1.643970,2.194049,1553860
35,Andhra Pradesh,Vizianagaram,NOTA,NaN,NaN,NaN,NOTA,NaN,29468,33,29501,1.961529,2.413302,1503980
50,Andhra Pradesh,Visakhapatnam,NOTA,NaN,NaN,NaN,NOTA,NaN,16626,20,16646,0.909966,1.342505,1829300
61,Andhra Pradesh,Anakapalli,NOTA,NaN,NaN,NaN,NOTA,NaN,34877,20,34897,2.293798,2.813240,1521363
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8518,NCT OF Delhi,NORTH WEST DELHI,NOTA,NaN,NaN,NaN,NOTA,NaN,10199,11,10210,0.429173,0.727734,2378995
8542,NCT OF Delhi,WEST DELHI,NOTA,NaN,NaN,NaN,NOTA,NaN,8883,54,8937,0.376827,0.619553,2371644
8570,NCT OF Delhi,SOUTH DELHI,NOTA,NaN,NaN,NaN,NOTA,NaN,5247,17,5264,0.254612,0.433413,2067463
8577,Lakshadweep,Lakshadweep,NOTA,NaN,NaN,NaN,NOTA,NaN,99,1,100,0.181196,0.212648,55189
8596,Puducherry,Puducherry,NOTA,NaN,NaN,NaN,NOTA,NaN,12192,7,12199,1.253223,1.542430,973410

We need to remove these 543 rows.

In [25]:
cand_list_2019 = cand_list_2019[cand_list_2019['Candidate'] != 'NOTA']

In [26]:
cand_list_2019

,State,Constituency,Candidate,Gender,Age,Category,Party,Party Symbol,General Votes,Postal Votes,Total Votes,Over Total Electors in Constituency (%),Over Total Votes Polled in Constituency (%),Total Electors
0,Andhra Pradesh,Aruku,KISHORE CHANDRA DEO,MALE,72.0,ST,TDP,Bicycle,336163,1938,338101,23.294530,31.356893,1451418
1,Andhra Pradesh,Aruku,Dr. KOSURI KASI VISWANADHA VEERA VENKATA SATYA...,MALE,54.0,ST,BJP,Lotus,17578,289,17867,1.231003,1.657060,1451418
2,Andhra Pradesh,Aruku,GODDETI. MADHAVI,FEMALE,26.0,ST,YSRCP,Ceiling Fan,557561,4629,562190,38.733845,52.139840,1451418
3,Andhra Pradesh,Aruku,SHRUTI DEVI VYRICHERLA,FEMALE,46.0,ST,INC,Hand,17656,74,17730,1.221564,1.644354,1451418
4,Andhra Pradesh,Aruku,GANGULAIAH VAMPURU.,MALE,49.0,ST,JnP,Glass Tumbler,42245,549,42794,2.948427,3.968894,1451418
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8591,Puducherry,Puducherry,N. TAMIZH MARANE,MALE,46.0,GENERAL,IND,Gift Pack,4785,6,4791,0.492187,0.605769,973410
8592,Puducherry,Puducherry,TIRAVITAMANKAI@LOURDHUMARY,FEMALE,57.0,GENERAL,IND,Slate,870,0,870,0.089377,0.110002,973410
8593,Puducherry,Puducherry,IMS. BALAJI,MALE,32.0,GENERAL,IND,Bat,2546,0,2546,0.261555,0.321914,973410
8594,Puducherry,Puducherry,RAMESH.D,MALE,49.0,SC,IND,Mike,1653,0,1653,0.169815,0.209004,973410
8595,Puducherry,Puducherry,V. RAMAMURTHI,MALE,74.0,GENERAL,IND,Whistle,641,1,642,0.065954,0.081174,973410

All values in 'Age' column are floating points. Let's convert them to integers.

In [27]:
type(cand_list_2019['Age'])

pandas.core.series.Series

In [28]:
cand_list_2019['Age'] = cand_list_2019['Age'].fillna(0).astype(int)

C:\Users\ujjwa\AppData\Local\Temp\ipykernel_17232\3516005529.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cand_list_2019['Age'] = cand_list_2019['Age'].fillna(0).astype(int)

In [29]:
cand_list_2019

,State,Constituency,Candidate,Gender,Age,Category,Party,Party Symbol,General Votes,Postal Votes,Total Votes,Over Total Electors in Constituency (%),Over Total Votes Polled in Constituency (%),Total Electors
0,Andhra Pradesh,Aruku,KISHORE CHANDRA DEO,MALE,72,ST,TDP,Bicycle,336163,1938,338101,23.294530,31.356893,1451418
1,Andhra Pradesh,Aruku,Dr. KOSURI KASI VISWANADHA VEERA VENKATA SATYA...,MALE,54,ST,BJP,Lotus,17578,289,17867,1.231003,1.657060,1451418
2,Andhra Pradesh,Aruku,GODDETI. MADHAVI,FEMALE,26,ST,YSRCP,Ceiling Fan,557561,4629,562190,38.733845,52.139840,1451418
3,Andhra Pradesh,Aruku,SHRUTI DEVI VYRICHERLA,FEMALE,46,ST,INC,Hand,17656,74,17730,1.221564,1.644354,1451418
4,Andhra Pradesh,Aruku,GANGULAIAH VAMPURU.,MALE,49,ST,JnP,Glass Tumbler,42245,549,42794,2.948427,3.968894,1451418
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8591,Puducherry,Puducherry,N. TAMIZH MARANE,MALE,46,GENERAL,IND,Gift Pack,4785,6,4791,0.492187,0.605769,973410
8592,Puducherry,Puducherry,TIRAVITAMANKAI@LOURDHUMARY,FEMALE,57,GENERAL,IND,Slate,870,0,870,0.089377,0.110002,973410
8593,Puducherry,Puducherry,IMS. BALAJI,MALE,32,GENERAL,IND,Bat,2546,0,2546,0.261555,0.321914,973410
8594,Puducherry,Puducherry,RAMESH.D,MALE,49,SC,IND,Mike,1653,0,1653,0.169815,0.209004,973410
8595,Puducherry,Puducherry,V. RAMAMURTHI,MALE,74,GENERAL,IND,Whistle,641,1,642,0.065954,0.081174,973410

Let us now see the 2024 candidate list dataset.

In [30]:
cand_list_2024 = pd.read_csv("../data/raw/all_turnout_2024.csv")

In [31]:
cand_list_2024

,election_year,state_name,constituency_name,constituency_type,party_name,candidate_name,EVM_votes,postal_votes,total_votes,rank,units
0,2024,Andaman and Nicobar Islands,Andaman & Nicobar Islands,General,Bharatiya Janata Party,BISHNU PADA RAY,102182.0,254.0,102436.0,1,"EVM_votes, postal_votes, total_votes in absolu..."
1,2024,Andaman and Nicobar Islands,Andaman & Nicobar Islands,General,Indian National Congress,KULDEEP RAI SHARMA,77829.0,211.0,78040.0,2,"EVM_votes, postal_votes, total_votes in absolu..."
2,2024,Andaman and Nicobar Islands,Andaman & Nicobar Islands,General,Andaman Nicobar Democratic Congress,MANOJ PAUL,8236.0,18.0,8254.0,3,"EVM_votes, postal_votes, total_votes in absolu..."
3,2024,Andaman and Nicobar Islands,Andaman & Nicobar Islands,General,Communist Party of India (Marxist),D AYYAPPAN,6009.0,8.0,6017.0,4,"EVM_votes, postal_votes, total_votes in absolu..."
4,2024,Andaman and Nicobar Islands,Andaman & Nicobar Islands,General,Independent,V.K. ABDUL AZIZ,2195.0,8.0,2203.0,5,"EVM_votes, postal_votes, total_votes in absolu..."
...,...,...,...,...,...,...,...,...,...,...,...
8897,2024,West Bengal,Birbhum,General,Independent,ABDUL IMRAN,3823.0,9.0,3832.0,10,"EVM_votes, postal_votes, total_votes in absolu..."
8898,2024,West Bengal,Birbhum,General,All India Arya Mahasabha,BISWAJIT MISHRA,3806.0,17.0,3823.0,11,"EVM_votes, postal_votes, total_votes in absolu..."
8899,2024,West Bengal,Birbhum,General,Bharatiya National Janata Dal,MD. JAKIR HOSSAIN,2547.0,10.0,2557.0,12,"EVM_votes, postal_votes, total_votes in absolu..."
8900,2024,West Bengal,Birbhum,General,Indian National Socialistic Action Forces,DOLA SARKAR,2027.0,6.0,2033.0,13,"EVM_votes, postal_votes, total_votes in absolu..."
8901,2024,West Bengal,Birbhum,General,None of the Above,NOTA,14037.0,56.0,14093.0,4,"EVM_votes, postal_votes, total_votes in absolu..."

Renaming the columns:

In [32]:
print(cand_list_2019.columns)
print(cand_list_2024.columns)

Index(['State', 'Constituency', 'Candidate', 'Gender', 'Age', 'Category',
       'Party', 'Party Symbol', 'General Votes', 'Postal Votes', 'Total Votes',
       'Over Total Electors in Constituency (%)',
       'Over Total Votes Polled in Constituency (%)', 'Total Electors'],
      dtype='object')
Index(['election_year', 'state_name', 'constituency_name', 'constituency_type',
       'party_name', 'candidate_name', 'EVM_votes', 'postal_votes',
       'total_votes', 'rank', 'units'],
      dtype='object')

In [33]:
cand_list_2024.rename(columns={
    'election_year':'Year',
    'state_name': 'State', 
    'constituency_name': 'Constituency', 
    'constituency_type':'Category',
    'party_name': 'Party', 
    'candidate_name': 'Candidate',  
    'EVM_votes':'EVM Votes',
    'postal_votes': 'Postal Votes',
    'total_votes': 'Total Votes',
    'rank' : 'Rank',     
    'units': 'Units'
    },inplace=True
)
cand_list_2024

,Year,State,Constituency,Category,Party,Candidate,EVM Votes,Postal Votes,Total Votes,Rank,Units
0,2024,Andaman and Nicobar Islands,Andaman & Nicobar Islands,General,Bharatiya Janata Party,BISHNU PADA RAY,102182.0,254.0,102436.0,1,"EVM_votes, postal_votes, total_votes in absolu..."
1,2024,Andaman and Nicobar Islands,Andaman & Nicobar Islands,General,Indian National Congress,KULDEEP RAI SHARMA,77829.0,211.0,78040.0,2,"EVM_votes, postal_votes, total_votes in absolu..."
2,2024,Andaman and Nicobar Islands,Andaman & Nicobar Islands,General,Andaman Nicobar Democratic Congress,MANOJ PAUL,8236.0,18.0,8254.0,3,"EVM_votes, postal_votes, total_votes in absolu..."
3,2024,Andaman and Nicobar Islands,Andaman & Nicobar Islands,General,Communist Party of India (Marxist),D AYYAPPAN,6009.0,8.0,6017.0,4,"EVM_votes, postal_votes, total_votes in absolu..."
4,2024,Andaman and Nicobar Islands,Andaman & Nicobar Islands,General,Independent,V.K. ABDUL AZIZ,2195.0,8.0,2203.0,5,"EVM_votes, postal_votes, total_votes in absolu..."
...,...,...,...,...,...,...,...,...,...,...,...
8897,2024,West Bengal,Birbhum,General,Independent,ABDUL IMRAN,3823.0,9.0,3832.0,10,"EVM_votes, postal_votes, total_votes in absolu..."
8898,2024,West Bengal,Birbhum,General,All India Arya Mahasabha,BISWAJIT MISHRA,3806.0,17.0,3823.0,11,"EVM_votes, postal_votes, total_votes in absolu..."
8899,2024,West Bengal,Birbhum,General,Bharatiya National Janata Dal,MD. JAKIR HOSSAIN,2547.0,10.0,2557.0,12,"EVM_votes, postal_votes, total_votes in absolu..."
8900,2024,West Bengal,Birbhum,General,Indian National Socialistic Action Forces,DOLA SARKAR,2027.0,6.0,2033.0,13,"EVM_votes, postal_votes, total_votes in absolu..."
8901,2024,West Bengal,Birbhum,General,None of the Above,NOTA,14037.0,56.0,14093.0,4,"EVM_votes, postal_votes, total_votes in absolu..."

In [34]:
cand_list_2024['Year'].value_counts()

Year
2024    8902
Name: count, dtype: int64

In [35]:
cand_list_2024['Category'].value_counts()

Category
General            7192
Scheduled Caste    1216
Scheduled Tribe     494
Name: count, dtype: int64

Removing NOTA values.

In [36]:
cand_list_2024 = cand_list_2024[cand_list_2024['Candidate'] != 'NOTA']

In [37]:
cand_list_2024

,Year,State,Constituency,Category,Party,Candidate,EVM Votes,Postal Votes,Total Votes,Rank,Units
0,2024,Andaman and Nicobar Islands,Andaman & Nicobar Islands,General,Bharatiya Janata Party,BISHNU PADA RAY,102182.0,254.0,102436.0,1,"EVM_votes, postal_votes, total_votes in absolu..."
1,2024,Andaman and Nicobar Islands,Andaman & Nicobar Islands,General,Indian National Congress,KULDEEP RAI SHARMA,77829.0,211.0,78040.0,2,"EVM_votes, postal_votes, total_votes in absolu..."
2,2024,Andaman and Nicobar Islands,Andaman & Nicobar Islands,General,Andaman Nicobar Democratic Congress,MANOJ PAUL,8236.0,18.0,8254.0,3,"EVM_votes, postal_votes, total_votes in absolu..."
3,2024,Andaman and Nicobar Islands,Andaman & Nicobar Islands,General,Communist Party of India (Marxist),D AYYAPPAN,6009.0,8.0,6017.0,4,"EVM_votes, postal_votes, total_votes in absolu..."
4,2024,Andaman and Nicobar Islands,Andaman & Nicobar Islands,General,Independent,V.K. ABDUL AZIZ,2195.0,8.0,2203.0,5,"EVM_votes, postal_votes, total_votes in absolu..."
...,...,...,...,...,...,...,...,...,...,...,...
8896,2024,West Bengal,Birbhum,General,Independent,SAURAV MUDI,4249.0,7.0,4256.0,9,"EVM_votes, postal_votes, total_votes in absolu..."
8897,2024,West Bengal,Birbhum,General,Independent,ABDUL IMRAN,3823.0,9.0,3832.0,10,"EVM_votes, postal_votes, total_votes in absolu..."
8898,2024,West Bengal,Birbhum,General,All India Arya Mahasabha,BISWAJIT MISHRA,3806.0,17.0,3823.0,11,"EVM_votes, postal_votes, total_votes in absolu..."
8899,2024,West Bengal,Birbhum,General,Bharatiya National Janata Dal,MD. JAKIR HOSSAIN,2547.0,10.0,2557.0,12,"EVM_votes, postal_votes, total_votes in absolu..."
8900,2024,West Bengal,Birbhum,General,Indian National Socialistic Action Forces,DOLA SARKAR,2027.0,6.0,2033.0,13,"EVM_votes, postal_votes, total_votes in absolu..."

Now there is one problem with this dataset. It doesn't have age and gender fields of the contesting candidates. 
Let's look at another raw dataset that we have:

In [38]:
cands = pd.read_csv("../data/raw/candidates_list_2024.csv")

In [39]:
cands

,Candidate Name,Party,Age,Gender,State,Constituency,Constituency_No
0,V.K. ABDUL AZIZ,Independent,42,M,Andaman & Nicobar Islands,Andaman & Nicobar Islands,1
1,USHA KUMARI,Independent,39,F,Andaman & Nicobar Islands,Andaman & Nicobar Islands,1
2,RINKU MALA MONDAL,Independent,36,F,Andaman & Nicobar Islands,Andaman & Nicobar Islands,1
3,KULDEEP RAI SHARMA,Indian National Congress,56,M,Andaman & Nicobar Islands,Andaman & Nicobar Islands,1
4,ANAND RAMNATH ARLEKAR,Independent,58,M,Andaman & Nicobar Islands,Andaman & Nicobar Islands,1
...,...,...,...,...,...,...,...
8436,SATABDI ROY,All India Trinamool Congress,55,F,West Bengal,Birbhum,42
8437,DOLA SARKAR,Indian National Socialistic Action Forces,49,F,West Bengal,Birbhum,42
8438,SAURAV MUDI,Independent,43,M,West Bengal,Birbhum,42
8439,RAJNATH SARKAR,Bahujan Samaj Party,68,M,West Bengal,Birbhum,42
8440,AYESHA KHATUN,Socialist Unity Centre Of India (COMMUNIST),53,F,West Bengal,Birbhum,42

Let's observe their common fields and run some operation to retrieve the Gender and Age of the candidates from `cands`.

In [40]:
cand_list_2024.columns

Index(['Year', 'State', 'Constituency', 'Category', 'Party', 'Candidate',
       'EVM Votes', 'Postal Votes', 'Total Votes', 'Rank', 'Units'],
      dtype='object')

In [41]:
cands.columns

Index(['Candidate Name', 'Party', 'Age', 'Gender', 'State', 'Constituency',
       'Constituency_No'],
      dtype='object')

In [42]:
import numpy as np
import pandas as pd
from fuzzywuzzy import fuzz
from tqdm import tqdm
import os

# Function to clean and standardize names
def clean_name(name):
    name = str(name).lower()
    name = name.replace('.', ' ').replace(',', ' ')
    name = ' '.join(name.split())  # Remove extra spaces
    return name

# Identify the correct column names for candidate names
candidate_col_2024 = 'Candidate' if 'Candidate' in cand_list_2024.columns else input("Enter the column name for candidate names in cand_list_2024: ")
candidate_col_cands = 'Candidate Name' if 'Candidate Name' in cands.columns else input("Enter the column name for candidate names in cands: ")

# Path to the output CSV file
output_path = '../data/outputs/name-matching-output.csv'

# Check if the output file already exists
if os.path.exists(output_path):
    # If file exists, load the data
    cand_list_2024 = pd.read_csv(output_path)
else:
    # Apply name cleaning to both datasets
    cand_list_2024['Clean_Candidate'] = cand_list_2024[candidate_col_2024].apply(clean_name)
    cands['Clean_Candidate'] = cands[candidate_col_cands].apply(clean_name)

    # Function to find the best match
    def find_best_match(name, state, constituency, candidates):
        best_match = None
        best_score = 0
        for _, row in candidates.iterrows():
            if row['State'] == state and row['Constituency'] == constituency:
                score = fuzz.token_set_ratio(name, row['Clean_Candidate'])
                if score > best_score:
                    best_score = score
                    best_match = row
        return best_match if best_score > 80 else None

    # Create a dictionary to store matches
    matches = {}

    # Find matches for each candidate
    for _, row in tqdm(cand_list_2024.iterrows(), total=len(cand_list_2024)):
        key = (row['Clean_Candidate'], row['State'], row['Constituency'])
        if key not in matches:
            match = find_best_match(row['Clean_Candidate'], row['State'], row['Constituency'], cands)
            matches[key] = match

    # Function to get age and gender from matches
    def get_age_gender(clean_name, state, constituency):
        match = matches.get((clean_name, state, constituency))
        return pd.Series({'Age': match['Age'] if match is not None else np.nan,
                          'Gender': match['Gender'] if match is not None else np.nan})

    # Add Age and Gender columns to cand_list_2024
    cand_list_2024 = cand_list_2024.copy()  # Create a copy to ensure we're not working with a slice
    cand_list_2024[['Age', 'Gender']] = cand_list_2024.apply(
        lambda row: get_age_gender(row['Clean_Candidate'], row['State'], row['Constituency']), axis=1
    )

    # Remove the temporary 'Clean_Candidate' column
    cand_list_2024 = cand_list_2024.drop('Clean_Candidate', axis=1)

    # Save the output to the desired path
    cand_list_2024.to_csv(output_path, index=False)

c:\Users\ujjwa\miniconda3\envs\manthan\Lib\site-packages\fuzzywuzzy\fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

In [43]:
cand_list_2024

,Year,State,Constituency,Category,Party,Candidate,EVM Votes,Postal Votes,Total Votes,Rank,Units,Age,Gender
0,2024,Andaman and Nicobar Islands,Andaman & Nicobar Islands,General,Bharatiya Janata Party,BISHNU PADA RAY,102182.0,254.0,102436.0,1,"EVM_votes, postal_votes, total_votes in absolu...",NaN,NaN
1,2024,Andaman and Nicobar Islands,Andaman & Nicobar Islands,General,Indian National Congress,KULDEEP RAI SHARMA,77829.0,211.0,78040.0,2,"EVM_votes, postal_votes, total_votes in absolu...",NaN,NaN
2,2024,Andaman and Nicobar Islands,Andaman & Nicobar Islands,General,Andaman Nicobar Democratic Congress,MANOJ PAUL,8236.0,18.0,8254.0,3,"EVM_votes, postal_votes, total_votes in absolu...",NaN,NaN
3,2024,Andaman and Nicobar Islands,Andaman & Nicobar Islands,General,Communist Party of India (Marxist),D AYYAPPAN,6009.0,8.0,6017.0,4,"EVM_votes, postal_votes, total_votes in absolu...",NaN,NaN
4,2024,Andaman and Nicobar Islands,Andaman & Nicobar Islands,General,Independent,V.K. ABDUL AZIZ,2195.0,8.0,2203.0,5,"EVM_votes, postal_votes, total_votes in absolu...",NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8355,2024,West Bengal,Birbhum,General,Independent,SAURAV MUDI,4249.0,7.0,4256.0,9,"EVM_votes, postal_votes, total_votes in absolu...",43.0,M
8356,2024,West Bengal,Birbhum,General,Independent,ABDUL IMRAN,3823.0,9.0,3832.0,10,"EVM_votes, postal_votes, total_votes in absolu...",36.0,M
8357,2024,West Bengal,Birbhum,General,All India Arya Mahasabha,BISWAJIT MISHRA,3806.0,17.0,3823.0,11,"EVM_votes, postal_votes, total_votes in absolu...",40.0,M
8358,2024,West Bengal,Birbhum,General,Bharatiya National Janata Dal,MD. JAKIR HOSSAIN,2547.0,10.0,2557.0,12,"EVM_votes, postal_votes, total_votes in absolu...",55.0,M
8359,2024,West Bengal,Birbhum,General,Indian National Socialistic Action Forces,DOLA SARKAR,2027.0,6.0,2033.0,13,"EVM_votes, postal_votes, total_votes in absolu...",49.0,F

Let's save this for now as csv. We'll concatenate 2019 list with it later after cleaning.

In [44]:
cand_list_2024.to_csv('../data/processed/candidate_list_turnout.csv', index=False)

Now some names that couldn't be matched have NaN values in their age and gender columns. Let's find them.

In [45]:
null_values = cand_list_2024[cand_list_2024['Gender'].isnull()]

In [46]:
null_values

,Year,State,Constituency,Category,Party,Candidate,EVM Votes,Postal Votes,Total Votes,Rank,Units,Age,Gender
0,2024,Andaman and Nicobar Islands,Andaman & Nicobar Islands,General,Bharatiya Janata Party,BISHNU PADA RAY,102182.0,254.0,102436.0,1,"EVM_votes, postal_votes, total_votes in absolu...",NaN,NaN
1,2024,Andaman and Nicobar Islands,Andaman & Nicobar Islands,General,Indian National Congress,KULDEEP RAI SHARMA,77829.0,211.0,78040.0,2,"EVM_votes, postal_votes, total_votes in absolu...",NaN,NaN
2,2024,Andaman and Nicobar Islands,Andaman & Nicobar Islands,General,Andaman Nicobar Democratic Congress,MANOJ PAUL,8236.0,18.0,8254.0,3,"EVM_votes, postal_votes, total_votes in absolu...",NaN,NaN
3,2024,Andaman and Nicobar Islands,Andaman & Nicobar Islands,General,Communist Party of India (Marxist),D AYYAPPAN,6009.0,8.0,6017.0,4,"EVM_votes, postal_votes, total_votes in absolu...",NaN,NaN
4,2024,Andaman and Nicobar Islands,Andaman & Nicobar Islands,General,Independent,V.K. ABDUL AZIZ,2195.0,8.0,2203.0,5,"EVM_votes, postal_votes, total_votes in absolu...",NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7834,2024,Uttarakhand,Nainital-udhamsingh Nagar,General,Independent,RAMESH KUMAR MAX,3271.0,29.0,3300.0,7,"EVM_votes, postal_votes, total_votes in absolu...",NaN,NaN
7835,2024,Uttarakhand,Nainital-udhamsingh Nagar,General,Peoples Party of India (Democratic),AMAR SINGH SAINI,2963.0,24.0,2987.0,8,"EVM_votes, postal_votes, total_votes in absolu...",NaN,NaN
7836,2024,Uttarakhand,Nainital-udhamsingh Nagar,General,Bharat Ki Lok Jimmedar Party,JEEVAN CHANDRA UPRETI,2292.0,18.0,2310.0,9,"EVM_votes, postal_votes, total_votes in absolu...",NaN,NaN
7837,2024,Uttarakhand,Nainital-udhamsingh Nagar,General,Uttarakhand Kranti Dal,SHIB SINGH,1809.0,46.0,1855.0,10,"EVM_votes, postal_votes, total_votes in absolu...",NaN,NaN
7838,2024,Uttarakhand,Nainital-udhamsingh Nagar,General,Bhartiya Shakti Chetna Party,SURENDRA SINGH,1655.0,18.0,1673.0,11,"EVM_votes, postal_votes, total_votes in absolu...",NaN,NaN

So there are 2444 rows with nulls. Let's try to get intuition as to what is causing this.

In [47]:
null_values['State'].unique()

array(['Andaman and Nicobar Islands', 'Chhattisgarh',
       'Dadra Nagar Haveli Daman Diu', 'Delhi', 'Haryana',
       'Himachal Pradesh', 'Jammu and Kashmir', 'Madhya Pradesh',
       'Maharashtra', 'Manipur', 'Mizoram', 'Puducherry', 'Rajasthan',
       'Tamil Nadu', 'Telangana', 'Uttarakhand'], dtype=object)

In [48]:
null_values['Constituency'].unique()

array(['Andaman & Nicobar Islands', 'Raigarh', 'Janjgir-Champa', 'Korba',
       'Bilaspur', 'Rajnandgaon', 'Durg', 'Raipur', 'Mahasamund',
       'Bastar', 'Kanker', 'Daman & Diu', 'Dadar & Nagar Haveli',
       'Chandni Chowk', 'North-East Delhi', 'East Delhi', 'New Delhi',
       'North-West Delhi', 'West Delhi', 'South Delhi', 'Ambala',
       'Kurukshetra', 'Sirsa', 'Hisar', 'Karnal', 'Sonipat', 'Rohtak',
       'Bhiwani-Mahendragarh', 'Gurgaon', 'Faridabad', 'Kangra', 'Mandi',
       'Hamirpur', 'Shimla', 'Baramulla', 'Srinagar', 'Udhampur', 'Jammu',
       'Morena', 'Bhind', 'Gwalior', 'Guna', 'Sagar', 'Tikamgarh',
       'Damoh', 'Khajuraho', 'Satna', 'Rewa', 'Sidhi', 'Shahdol',
       'Jabalpur', 'Mandla', 'Balaghat', 'Chhindwara', 'Hoshangabad',
       'Vidisha', 'Bhopal', 'Rajgarh', 'Dewas', 'Ujjain', 'Mandsour',
       'Ratlam', 'Dhar', 'Indore', 'Khargone', 'Khandwa', 'Betul',
       'Ratnagiri- Sindhudurg', 'Mumbai North central',
       'Mumbai South central', 'Inner manipur', 'Outer manipur',
       'Mizoram', 'Puducherry', 'Ganganagar', 'Churu', 'Jhunjhunu',
       'Sikar', 'Jaipur Rural', 'Jaipur', 'Alwar', 'Bharatpur',
       'Karauli-Dholpur', 'Dausa', 'Tonk-Sawai Madhopur', 'Ajmer',
       'Nagaur', 'Pali', 'Jodhpur', 'Barmer', 'Jalore', 'Udaipur',
       'Banswara', 'Chittorgarh', 'Rajsamand', 'Bhilwara', 'Kota',
       'Jhalawar-Baran', 'Chennai North', 'Chennai South',
       'Chennai central', 'Sriperumbudur', 'Kancheepuram', 'Arakkonam',
       'Vellore', 'Krishnagiri', 'Dharmapuri', 'Tiruvannamalai', 'Arani',
       'Viluppuram', 'Kallakurichi', 'Salem', 'Namakkal', 'Erode',
       'Tiruppur', 'Nilgiris', 'Coimbatore', 'Pollachi', 'Dindigul',
       'Karur', 'Tiruchirappalli', 'Perambalur', 'Cuddalore',
       'Chidambaram', 'Mayiladuthurai', 'Nagapattinam', 'Sivaganga',
       'Madurai', 'Theni', 'Virudhunagar', 'Ramanathapuram',
       'Thoothukkudi', 'Tenkasi', 'Tirunelveli', 'Kanniyakumari',
       'Thanjavur', 'CHEVELLA', 'Nainital-udhamsingh Nagar'], dtype=object)

The problem seems to be that there is a mismatch between the constituency names between both the datasets, `cand_list_2024` and `cands`. We can fix this manually too but let us try and eliminate the null values step by step. First, we will drop all the nulls from the original cand_list_2024. The idea is we already have `null_values`, we can fill in missing data in this dataframe first and then later concatenate it with the `cand_list_2024`.

In [49]:
cand_list_2024 = cand_list_2024.dropna(subset=['Gender'])

Second, we will fill missing data in all those constituencies which have a case mismatch.

In [50]:

# Function to standardize constituency names
def standardize_constituency(name):
    return str(name).strip().upper()

# Standardize constituency names for null_values and cands
null_values['Constituency'] = null_values['Constituency'].apply(standardize_constituency)
cands['Constituency'] = cands['Constituency'].apply(standardize_constituency)

# Function to find the best match
def find_match(row):
    matches = cands[(cands['State'] == row['State']) & (cands['Constituency'] == row['Constituency'])]
    if not matches.empty:
        return matches.iloc[0]
    return pd.Series({'Age': None, 'Gender': None})

# Find matches for null values
matches = null_values.apply(find_match, axis=1)

# Update the null values with matched data
null_values['Age'] = matches['Age']
null_values['Gender'] = matches['Gender']

C:\Users\ujjwa\AppData\Local\Temp\ipykernel_17232\3189194290.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  null_values['Constituency'] = null_values['Constituency'].apply(standardize_constituency)
C:\Users\ujjwa\AppData\Local\Temp\ipykernel_17232\3189194290.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  null_values['Age'] = matches['Age']
C:\Users\ujjwa\AppData\Local\Temp\ipykernel_17232\3189194290.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  null_values['Gender'] = matches['Gender']

In [51]:
null_values

,Year,State,Constituency,Category,Party,Candidate,EVM Votes,Postal Votes,Total Votes,Rank,Units,Age,Gender
0,2024,Andaman and Nicobar Islands,ANDAMAN & NICOBAR ISLANDS,General,Bharatiya Janata Party,BISHNU PADA RAY,102182.0,254.0,102436.0,1,"EVM_votes, postal_votes, total_votes in absolu...",NaN,None
1,2024,Andaman and Nicobar Islands,ANDAMAN & NICOBAR ISLANDS,General,Indian National Congress,KULDEEP RAI SHARMA,77829.0,211.0,78040.0,2,"EVM_votes, postal_votes, total_votes in absolu...",NaN,None
2,2024,Andaman and Nicobar Islands,ANDAMAN & NICOBAR ISLANDS,General,Andaman Nicobar Democratic Congress,MANOJ PAUL,8236.0,18.0,8254.0,3,"EVM_votes, postal_votes, total_votes in absolu...",NaN,None
3,2024,Andaman and Nicobar Islands,ANDAMAN & NICOBAR ISLANDS,General,Communist Party of India (Marxist),D AYYAPPAN,6009.0,8.0,6017.0,4,"EVM_votes, postal_votes, total_votes in absolu...",NaN,None
4,2024,Andaman and Nicobar Islands,ANDAMAN & NICOBAR ISLANDS,General,Independent,V.K. ABDUL AZIZ,2195.0,8.0,2203.0,5,"EVM_votes, postal_votes, total_votes in absolu...",NaN,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7834,2024,Uttarakhand,NAINITAL-UDHAMSINGH NAGAR,General,Independent,RAMESH KUMAR MAX,3271.0,29.0,3300.0,7,"EVM_votes, postal_votes, total_votes in absolu...",54.0,M
7835,2024,Uttarakhand,NAINITAL-UDHAMSINGH NAGAR,General,Peoples Party of India (Democratic),AMAR SINGH SAINI,2963.0,24.0,2987.0,8,"EVM_votes, postal_votes, total_votes in absolu...",54.0,M
7836,2024,Uttarakhand,NAINITAL-UDHAMSINGH NAGAR,General,Bharat Ki Lok Jimmedar Party,JEEVAN CHANDRA UPRETI,2292.0,18.0,2310.0,9,"EVM_votes, postal_votes, total_votes in absolu...",54.0,M
7837,2024,Uttarakhand,NAINITAL-UDHAMSINGH NAGAR,General,Uttarakhand Kranti Dal,SHIB SINGH,1809.0,46.0,1855.0,10,"EVM_votes, postal_votes, total_votes in absolu...",54.0,M
7838,2024,Uttarakhand,NAINITAL-UDHAMSINGH NAGAR,General,Bhartiya Shakti Chetna Party,SURENDRA SINGH,1655.0,18.0,1673.0,11,"EVM_votes, postal_votes, total_votes in absolu...",54.0,M

As you can see some data has been filled, yet we still have some empty values. Third, repeat the same procedure for this `null_values` dataframe now.

In [52]:
more_nulls = null_values[null_values['Gender'].isnull()]

In [53]:
more_nulls

,Year,State,Constituency,Category,Party,Candidate,EVM Votes,Postal Votes,Total Votes,Rank,Units,Age,Gender
0,2024,Andaman and Nicobar Islands,ANDAMAN & NICOBAR ISLANDS,General,Bharatiya Janata Party,BISHNU PADA RAY,102182.0,254.0,102436.0,1,"EVM_votes, postal_votes, total_votes in absolu...",NaN,None
1,2024,Andaman and Nicobar Islands,ANDAMAN & NICOBAR ISLANDS,General,Indian National Congress,KULDEEP RAI SHARMA,77829.0,211.0,78040.0,2,"EVM_votes, postal_votes, total_votes in absolu...",NaN,None
2,2024,Andaman and Nicobar Islands,ANDAMAN & NICOBAR ISLANDS,General,Andaman Nicobar Democratic Congress,MANOJ PAUL,8236.0,18.0,8254.0,3,"EVM_votes, postal_votes, total_votes in absolu...",NaN,None
3,2024,Andaman and Nicobar Islands,ANDAMAN & NICOBAR ISLANDS,General,Communist Party of India (Marxist),D AYYAPPAN,6009.0,8.0,6017.0,4,"EVM_votes, postal_votes, total_votes in absolu...",NaN,None
4,2024,Andaman and Nicobar Islands,ANDAMAN & NICOBAR ISLANDS,General,Independent,V.K. ABDUL AZIZ,2195.0,8.0,2203.0,5,"EVM_votes, postal_votes, total_votes in absolu...",NaN,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3584,2024,Maharashtra,RATNAGIRI- SINDHUDURG,General,Bahujan Samaj Party,AAYARE RAJENDRA LAHU,7796.0,60.0,7856.0,6,"EVM_votes, postal_votes, total_votes in absolu...",NaN,None
3585,2024,Maharashtra,RATNAGIRI- SINDHUDURG,General,Independent,SHAKIL SAWANT,6373.0,22.0,6395.0,7,"EVM_votes, postal_votes, total_votes in absolu...",NaN,None
3586,2024,Maharashtra,RATNAGIRI- SINDHUDURG,General,Independent,TAMBADE AMRUT ANANT (RAJAPURKAR),5563.0,19.0,5582.0,8,"EVM_votes, postal_votes, total_votes in absolu...",NaN,None
3587,2024,Maharashtra,RATNAGIRI- SINDHUDURG,General,Bahujan Mukti Party,ASHOK GANGARAM PAWAR,5244.0,36.0,5280.0,9,"EVM_votes, postal_votes, total_votes in absolu...",NaN,None
3588,2024,Maharashtra,RATNAGIRI- SINDHUDURG,General,Sainik Samaj Party,SURESH GOVINDRAO SHINDE,2209.0,38.0,2247.0,10,"EVM_votes, postal_votes, total_votes in absolu...",NaN,None

The number of rows with missing data have decreased drastically. Let us now fix these rows with missing data.

In [54]:
null_values = null_values.dropna(subset=['Gender'])

In [55]:
null_values

,Year,State,Constituency,Category,Party,Candidate,EVM Votes,Postal Votes,Total Votes,Rank,Units,Age,Gender
1149,2024,Chhattisgarh,RAIGARH,Scheduled Tribe,Bharatiya Janata Party,RADHESHYAM RATHIYA,806667.0,1608.0,808275.0,1,"EVM_votes, postal_votes, total_votes in absolu...",33.0,M
1150,2024,Chhattisgarh,RAIGARH,Scheduled Tribe,Indian National Congress,DR. MENKA DEVI SINGH,566487.0,1397.0,567884.0,2,"EVM_votes, postal_votes, total_votes in absolu...",33.0,M
1151,2024,Chhattisgarh,RAIGARH,Scheduled Tribe,Bahujan Samaj Party,INNOCENT KUJUR - BIDANA ORAON,15493.0,107.0,15600.0,3,"EVM_votes, postal_votes, total_votes in absolu...",33.0,M
1152,2024,Chhattisgarh,RAIGARH,Scheduled Tribe,Hamar Raj Party,ALBERT MING,10915.0,44.0,10959.0,5,"EVM_votes, postal_votes, total_votes in absolu...",33.0,M
1153,2024,Chhattisgarh,RAIGARH,Scheduled Tribe,Independent,PRAKASH KUMAR URANW,7719.0,3.0,7722.0,6,"EVM_votes, postal_votes, total_votes in absolu...",33.0,M
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7834,2024,Uttarakhand,NAINITAL-UDHAMSINGH NAGAR,General,Independent,RAMESH KUMAR MAX,3271.0,29.0,3300.0,7,"EVM_votes, postal_votes, total_votes in absolu...",54.0,M
7835,2024,Uttarakhand,NAINITAL-UDHAMSINGH NAGAR,General,Peoples Party of India (Democratic),AMAR SINGH SAINI,2963.0,24.0,2987.0,8,"EVM_votes, postal_votes, total_votes in absolu...",54.0,M
7836,2024,Uttarakhand,NAINITAL-UDHAMSINGH NAGAR,General,Bharat Ki Lok Jimmedar Party,JEEVAN CHANDRA UPRETI,2292.0,18.0,2310.0,9,"EVM_votes, postal_votes, total_votes in absolu...",54.0,M
7837,2024,Uttarakhand,NAINITAL-UDHAMSINGH NAGAR,General,Uttarakhand Kranti Dal,SHIB SINGH,1809.0,46.0,1855.0,10,"EVM_votes, postal_votes, total_votes in absolu...",54.0,M
7838,2024,Uttarakhand,NAINITAL-UDHAMSINGH NAGAR,General,Bhartiya Shakti Chetna Party,SURENDRA SINGH,1655.0,18.0,1673.0,11,"EVM_votes, postal_votes, total_votes in absolu...",54.0,M

In [56]:
more_nulls['Constituency'].unique()

array(['ANDAMAN & NICOBAR ISLANDS', 'DAMAN & DIU', 'DADAR & NAGAR HAVELI',
       'CHANDNI CHOWK', 'NORTH-EAST DELHI', 'EAST DELHI', 'NEW DELHI',
       'NORTH-WEST DELHI', 'WEST DELHI', 'SOUTH DELHI',
       'RATNAGIRI- SINDHUDURG'], dtype=object)

In [57]:
cands = pd.read_csv("../data/raw/candidates-2024.csv")

In [58]:
# Find matches for null values
matches = more_nulls.apply(find_match, axis=1)

# Update the null values with matched data
more_nulls['Age'] = matches['Age']
more_nulls['Gender'] = matches['Gender']

C:\Users\ujjwa\AppData\Local\Temp\ipykernel_17232\1818482249.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  more_nulls['Age'] = matches['Age']
C:\Users\ujjwa\AppData\Local\Temp\ipykernel_17232\1818482249.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  more_nulls['Gender'] = matches['Gender']

In [59]:
more_nulls

,Year,State,Constituency,Category,Party,Candidate,EVM Votes,Postal Votes,Total Votes,Rank,Units,Age,Gender
0,2024,Andaman and Nicobar Islands,ANDAMAN & NICOBAR ISLANDS,General,Bharatiya Janata Party,BISHNU PADA RAY,102182.0,254.0,102436.0,1,"EVM_votes, postal_votes, total_votes in absolu...",None,None
1,2024,Andaman and Nicobar Islands,ANDAMAN & NICOBAR ISLANDS,General,Indian National Congress,KULDEEP RAI SHARMA,77829.0,211.0,78040.0,2,"EVM_votes, postal_votes, total_votes in absolu...",None,None
2,2024,Andaman and Nicobar Islands,ANDAMAN & NICOBAR ISLANDS,General,Andaman Nicobar Democratic Congress,MANOJ PAUL,8236.0,18.0,8254.0,3,"EVM_votes, postal_votes, total_votes in absolu...",None,None
3,2024,Andaman and Nicobar Islands,ANDAMAN & NICOBAR ISLANDS,General,Communist Party of India (Marxist),D AYYAPPAN,6009.0,8.0,6017.0,4,"EVM_votes, postal_votes, total_votes in absolu...",None,None
4,2024,Andaman and Nicobar Islands,ANDAMAN & NICOBAR ISLANDS,General,Independent,V.K. ABDUL AZIZ,2195.0,8.0,2203.0,5,"EVM_votes, postal_votes, total_votes in absolu...",None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3584,2024,Maharashtra,RATNAGIRI- SINDHUDURG,General,Bahujan Samaj Party,AAYARE RAJENDRA LAHU,7796.0,60.0,7856.0,6,"EVM_votes, postal_votes, total_votes in absolu...",None,None
3585,2024,Maharashtra,RATNAGIRI- SINDHUDURG,General,Independent,SHAKIL SAWANT,6373.0,22.0,6395.0,7,"EVM_votes, postal_votes, total_votes in absolu...",None,None
3586,2024,Maharashtra,RATNAGIRI- SINDHUDURG,General,Independent,TAMBADE AMRUT ANANT (RAJAPURKAR),5563.0,19.0,5582.0,8,"EVM_votes, postal_votes, total_votes in absolu...",None,None
3587,2024,Maharashtra,RATNAGIRI- SINDHUDURG,General,Bahujan Mukti Party,ASHOK GANGARAM PAWAR,5244.0,36.0,5280.0,9,"EVM_votes, postal_votes, total_votes in absolu...",None,None
3588,2024,Maharashtra,RATNAGIRI- SINDHUDURG,General,Sainik Samaj Party,SURESH GOVINDRAO SHINDE,2209.0,38.0,2247.0,10,"EVM_votes, postal_votes, total_votes in absolu...",None,None

In [60]:
more_nulls['State'].unique()

array(['Andaman and Nicobar Islands', 'Dadra Nagar Haveli Daman Diu',
       'Delhi', 'Maharashtra'], dtype=object)

In [61]:
more_nulls['Constituency'].unique()

array(['ANDAMAN & NICOBAR ISLANDS', 'DAMAN & DIU', 'DADAR & NAGAR HAVELI',
       'CHANDNI CHOWK', 'NORTH-EAST DELHI', 'EAST DELHI', 'NEW DELHI',
       'NORTH-WEST DELHI', 'WEST DELHI', 'SOUTH DELHI',
       'RATNAGIRI- SINDHUDURG'], dtype=object)

Another case of case mismatch.

In [62]:
more_nulls['State'].unique()

array(['Andaman and Nicobar Islands', 'Dadra Nagar Haveli Daman Diu',
       'Delhi', 'Maharashtra'], dtype=object)

In [63]:
cands['State'].unique()

array(['Andaman & Nicobar Islands', 'Andhra Pradesh', 'Arunachal Pradesh',
       'Assam', 'Bihar', 'Chandigarh', 'Chhattisgarh',
       'Dadra & Nagar Haveli and Daman & Diu', 'Goa', 'Gujarat',
       'Haryana', 'Himachal Pradesh', 'Jammu and Kashmir', 'Jharkhand',
       'Karnataka', 'Kerala', 'Ladakh', 'Lakshadweep', 'Madhya Pradesh',
       'Maharashtra', 'Manipur', 'Meghalaya', 'Mizoram', 'Nagaland',
       'NCT OF Delhi', 'Odisha', 'Puducherry', 'Punjab', 'Rajasthan',
       'Sikkim', 'Tamil Nadu', 'Telangana', 'Tripura', 'Uttar Pradesh',
       'Uttarakhand', 'West Bengal'], dtype=object)

In [64]:
# Filter the dataframe for rows where 'State' is Maharashtra
maharashtra_constituencies = cands[cands['State'] == 'Maharashtra']['Constituency'].unique()

# Display the unique constituency names
print(maharashtra_constituencies)

# Filter the dataframe for rows where 'State' is Maharashtra
delhi_constituencies = cands[cands['State'] == 'Delhi']['Constituency'].unique()

# Display the unique constituency names
print(delhi_constituencies)

# Filter the dataframe for rows where 'State' is Maharashtra
andaman = cands[cands['State'] == 'Andaman and Nicobar Islands']['Constituency'].unique()

# Display the unique constituency names
print(andaman)

# Filter the dataframe for rows where 'State' is Maharashtra
daman = cands[cands['State'] == 'Dadra Nagar Haveli Daman Diu']['Constituency'].unique()

# Display the unique constituency names
print(daman)

['Nandurbar' 'Dhule' 'Jalgaon' 'Raver' 'Buldhana' 'Akola' 'Amravati'
 'Wardha' 'Ramtek' 'Nagpur' 'Bhandara Gondiya' 'Gadchiroli - Chimur'
 'Chandrapur' 'Yavatmal- Washim' 'Hingoli' 'Nanded' 'Parbhani' 'Jalna'
 'Aurangabad' 'Dindori' 'Nashik' 'Palghar' 'Bhiwandi' 'Kalyan' 'Thane'
 'Mumbai North' 'Mumbai North West' 'Mumbai North East'
 'Mumbai North Central' 'Mumbai South Central' 'Mumbai South' 'Raigad'
 'Maval' 'Pune' 'Baramati' 'Shirur' 'Ahmednagar' 'Shirdi' 'Beed'
 'Osmanabad' 'Latur' 'Solapur' 'Madha' 'Sangli' 'Satara'
 'Ratnagiri-Sindhudurg' 'Kolhapur' 'Hatkanangale']
[]
[]
[]

In [65]:
# Replace 'Andaman & Nicobar Islands' with 'Andaman and Nicobar Islands' in the 'State' column
cands['State'] = cands['State'].replace('Andaman & Nicobar Islands', 'Andaman and Nicobar Islands')
cands['State'] = cands['State'].replace('NCT OF Delhi', 'Delhi')
cands['State'] = cands['State'].replace('Dadra & Nagar Haveli and Daman & Diu', 'Dadra Nagar Haveli Daman Diu')
cands['Constituency'] = cands['Constituency'].replace('Ratnagiri-Sindhudurg', 'RATNAGIRI- SINDHUDURG')
cands['Constituency'] = cands['Constituency'].replace('Chandni Chowk', 'CHANDNI CHOWK')
cands['Constituency'] = cands['Constituency'].replace('North-East Delhi', 'NORTH-EAST DELHI')
cands['Constituency'] = cands['Constituency'].replace('East Delhi', 'EAST DELHI')
cands['Constituency'] = cands['Constituency'].replace('New Delhi', 'NEW DELHI')
cands['Constituency'] = cands['Constituency'].replace('North-West Delhi', 'NORTH-WEST DELHI')
cands['Constituency'] = cands['Constituency'].replace('West Delhi', 'WEST DELHI')
cands['Constituency'] = cands['Constituency'].replace('South Delhi', 'SOUTH DELHI')
cands['Constituency'] = cands['Constituency'].replace('Andaman & Nicobar Islands', 'ANDAMAN & NICOBAR ISLANDS')
cands['Constituency'] = cands['Constituency'].replace('Daman & Diu', 'DAMAN & DIU')
cands['Constituency'] = cands['Constituency'].replace('Dadar & Nagar Haveli', 'DADAR & NAGAR HAVELI')

In [66]:
# Find matches for null values
matches = more_nulls.apply(find_match, axis=1)

# Update the null values with matched data
more_nulls['Age'] = matches['Age']
more_nulls['Gender'] = matches['Gender']

C:\Users\ujjwa\AppData\Local\Temp\ipykernel_17232\1818482249.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  more_nulls['Age'] = matches['Age']
C:\Users\ujjwa\AppData\Local\Temp\ipykernel_17232\1818482249.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  more_nulls['Gender'] = matches['Gender']

In [67]:
more_nulls

,Year,State,Constituency,Category,Party,Candidate,EVM Votes,Postal Votes,Total Votes,Rank,Units,Age,Gender
0,2024,Andaman and Nicobar Islands,ANDAMAN & NICOBAR ISLANDS,General,Bharatiya Janata Party,BISHNU PADA RAY,102182.0,254.0,102436.0,1,"EVM_votes, postal_votes, total_votes in absolu...",42,male
1,2024,Andaman and Nicobar Islands,ANDAMAN & NICOBAR ISLANDS,General,Indian National Congress,KULDEEP RAI SHARMA,77829.0,211.0,78040.0,2,"EVM_votes, postal_votes, total_votes in absolu...",42,male
2,2024,Andaman and Nicobar Islands,ANDAMAN & NICOBAR ISLANDS,General,Andaman Nicobar Democratic Congress,MANOJ PAUL,8236.0,18.0,8254.0,3,"EVM_votes, postal_votes, total_votes in absolu...",42,male
3,2024,Andaman and Nicobar Islands,ANDAMAN & NICOBAR ISLANDS,General,Communist Party of India (Marxist),D AYYAPPAN,6009.0,8.0,6017.0,4,"EVM_votes, postal_votes, total_votes in absolu...",42,male
4,2024,Andaman and Nicobar Islands,ANDAMAN & NICOBAR ISLANDS,General,Independent,V.K. ABDUL AZIZ,2195.0,8.0,2203.0,5,"EVM_votes, postal_votes, total_votes in absolu...",42,male
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3584,2024,Maharashtra,RATNAGIRI- SINDHUDURG,General,Bahujan Samaj Party,AAYARE RAJENDRA LAHU,7796.0,60.0,7856.0,6,"EVM_votes, postal_votes, total_votes in absolu...",61,male
3585,2024,Maharashtra,RATNAGIRI- SINDHUDURG,General,Independent,SHAKIL SAWANT,6373.0,22.0,6395.0,7,"EVM_votes, postal_votes, total_votes in absolu...",61,male
3586,2024,Maharashtra,RATNAGIRI- SINDHUDURG,General,Independent,TAMBADE AMRUT ANANT (RAJAPURKAR),5563.0,19.0,5582.0,8,"EVM_votes, postal_votes, total_votes in absolu...",61,male
3587,2024,Maharashtra,RATNAGIRI- SINDHUDURG,General,Bahujan Mukti Party,ASHOK GANGARAM PAWAR,5244.0,36.0,5280.0,9,"EVM_votes, postal_votes, total_votes in absolu...",61,male
3588,2024,Maharashtra,RATNAGIRI- SINDHUDURG,General,Sainik Samaj Party,SURESH GOVINDRAO SHINDE,2209.0,38.0,2247.0,10,"EVM_votes, postal_votes, total_votes in absolu...",61,male

In [68]:
nulls = more_nulls[more_nulls['Gender'].isnull()]

In [69]:
nulls

Empty DataFrame
Columns: [Year, State, Constituency, Category, Party, Candidate, EVM Votes, Postal Votes, Total Votes, Rank, Units, Age, Gender]
Index: []

Finally there are no rows with missing data. Now let's concatenate them one by one.

In [70]:
null_values = pd.concat([null_values, more_nulls], ignore_index=True)

In [71]:
null_values

,Year,State,Constituency,Category,Party,Candidate,EVM Votes,Postal Votes,Total Votes,Rank,Units,Age,Gender
0,2024,Chhattisgarh,RAIGARH,Scheduled Tribe,Bharatiya Janata Party,RADHESHYAM RATHIYA,806667.0,1608.0,808275.0,1,"EVM_votes, postal_votes, total_votes in absolu...",33.0,M
1,2024,Chhattisgarh,RAIGARH,Scheduled Tribe,Indian National Congress,DR. MENKA DEVI SINGH,566487.0,1397.0,567884.0,2,"EVM_votes, postal_votes, total_votes in absolu...",33.0,M
2,2024,Chhattisgarh,RAIGARH,Scheduled Tribe,Bahujan Samaj Party,INNOCENT KUJUR - BIDANA ORAON,15493.0,107.0,15600.0,3,"EVM_votes, postal_votes, total_votes in absolu...",33.0,M
3,2024,Chhattisgarh,RAIGARH,Scheduled Tribe,Hamar Raj Party,ALBERT MING,10915.0,44.0,10959.0,5,"EVM_votes, postal_votes, total_votes in absolu...",33.0,M
4,2024,Chhattisgarh,RAIGARH,Scheduled Tribe,Independent,PRAKASH KUMAR URANW,7719.0,3.0,7722.0,6,"EVM_votes, postal_votes, total_votes in absolu...",33.0,M
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2439,2024,Maharashtra,RATNAGIRI- SINDHUDURG,General,Bahujan Samaj Party,AAYARE RAJENDRA LAHU,7796.0,60.0,7856.0,6,"EVM_votes, postal_votes, total_votes in absolu...",61.0,male
2440,2024,Maharashtra,RATNAGIRI- SINDHUDURG,General,Independent,SHAKIL SAWANT,6373.0,22.0,6395.0,7,"EVM_votes, postal_votes, total_votes in absolu...",61.0,male
2441,2024,Maharashtra,RATNAGIRI- SINDHUDURG,General,Independent,TAMBADE AMRUT ANANT (RAJAPURKAR),5563.0,19.0,5582.0,8,"EVM_votes, postal_votes, total_votes in absolu...",61.0,male
2442,2024,Maharashtra,RATNAGIRI- SINDHUDURG,General,Bahujan Mukti Party,ASHOK GANGARAM PAWAR,5244.0,36.0,5280.0,9,"EVM_votes, postal_votes, total_votes in absolu...",61.0,male
2443,2024,Maharashtra,RATNAGIRI- SINDHUDURG,General,Sainik Samaj Party,SURESH GOVINDRAO SHINDE,2209.0,38.0,2247.0,10,"EVM_votes, postal_votes, total_votes in absolu...",61.0,male

Finally we'll concatenate all previous null values to `cand_list_2024`

In [72]:
cand_list_2024 = pd.concat([cand_list_2024, null_values], ignore_index=True)

In [73]:
cand_list_2024

,Year,State,Constituency,Category,Party,Candidate,EVM Votes,Postal Votes,Total Votes,Rank,Units,Age,Gender
0,2024,Andhra Pradesh,Araku (ST),Scheduled Tribe,Yuvajana Sramika Rythu Congress Party,GUMMA THANUJA RANI,471470.0,5535.0,477005.0,1,"EVM_votes, postal_votes, total_votes in absolu...",31.0,F
1,2024,Andhra Pradesh,Araku (ST),Scheduled Tribe,Bharatiya Janata Party,KOTHAPALLI GEETHA,417113.0,9312.0,426425.0,2,"EVM_votes, postal_votes, total_votes in absolu...",53.0,F
2,2024,Andhra Pradesh,Araku (ST),Scheduled Tribe,Communist Party of India (Marxist),APPALANARASA PACHIPENTA,119016.0,4113.0,123129.0,3,"EVM_votes, postal_votes, total_votes in absolu...",41.0,M
3,2024,Andhra Pradesh,Araku (ST),Scheduled Tribe,Bahujan Samaj Party,AVASHYA LAHARI . VARAM,24858.0,892.0,25750.0,5,"EVM_votes, postal_votes, total_votes in absolu...",30.0,F
4,2024,Andhra Pradesh,Araku (ST),Scheduled Tribe,Independent,SAMAREDDY BALAKRISHNA,9493.0,42.0,9535.0,6,"EVM_votes, postal_votes, total_votes in absolu...",48.0,M
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8355,2024,Maharashtra,RATNAGIRI- SINDHUDURG,General,Bahujan Samaj Party,AAYARE RAJENDRA LAHU,7796.0,60.0,7856.0,6,"EVM_votes, postal_votes, total_votes in absolu...",61.0,male
8356,2024,Maharashtra,RATNAGIRI- SINDHUDURG,General,Independent,SHAKIL SAWANT,6373.0,22.0,6395.0,7,"EVM_votes, postal_votes, total_votes in absolu...",61.0,male
8357,2024,Maharashtra,RATNAGIRI- SINDHUDURG,General,Independent,TAMBADE AMRUT ANANT (RAJAPURKAR),5563.0,19.0,5582.0,8,"EVM_votes, postal_votes, total_votes in absolu...",61.0,male
8358,2024,Maharashtra,RATNAGIRI- SINDHUDURG,General,Bahujan Mukti Party,ASHOK GANGARAM PAWAR,5244.0,36.0,5280.0,9,"EVM_votes, postal_votes, total_votes in absolu...",61.0,male
8359,2024,Maharashtra,RATNAGIRI- SINDHUDURG,General,Sainik Samaj Party,SURESH GOVINDRAO SHINDE,2209.0,38.0,2247.0,10,"EVM_votes, postal_votes, total_votes in absolu...",61.0,male

Let us clean this dataset now.

In [74]:
cand_list_2024['Gender'].value_counts()

Gender
M         7434
F          728
male       149
female      46
third        3
Name: count, dtype: int64

In [75]:
cand_list_2024['Gender'] = cand_list_2024['Gender'].replace({'male': 'M', 'female': 'F', 'third': 'T'})
cand_list_2024

,Year,State,Constituency,Category,Party,Candidate,EVM Votes,Postal Votes,Total Votes,Rank,Units,Age,Gender
0,2024,Andhra Pradesh,Araku (ST),Scheduled Tribe,Yuvajana Sramika Rythu Congress Party,GUMMA THANUJA RANI,471470.0,5535.0,477005.0,1,"EVM_votes, postal_votes, total_votes in absolu...",31.0,F
1,2024,Andhra Pradesh,Araku (ST),Scheduled Tribe,Bharatiya Janata Party,KOTHAPALLI GEETHA,417113.0,9312.0,426425.0,2,"EVM_votes, postal_votes, total_votes in absolu...",53.0,F
2,2024,Andhra Pradesh,Araku (ST),Scheduled Tribe,Communist Party of India (Marxist),APPALANARASA PACHIPENTA,119016.0,4113.0,123129.0,3,"EVM_votes, postal_votes, total_votes in absolu...",41.0,M
3,2024,Andhra Pradesh,Araku (ST),Scheduled Tribe,Bahujan Samaj Party,AVASHYA LAHARI . VARAM,24858.0,892.0,25750.0,5,"EVM_votes, postal_votes, total_votes in absolu...",30.0,F
4,2024,Andhra Pradesh,Araku (ST),Scheduled Tribe,Independent,SAMAREDDY BALAKRISHNA,9493.0,42.0,9535.0,6,"EVM_votes, postal_votes, total_votes in absolu...",48.0,M
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8355,2024,Maharashtra,RATNAGIRI- SINDHUDURG,General,Bahujan Samaj Party,AAYARE RAJENDRA LAHU,7796.0,60.0,7856.0,6,"EVM_votes, postal_votes, total_votes in absolu...",61.0,M
8356,2024,Maharashtra,RATNAGIRI- SINDHUDURG,General,Independent,SHAKIL SAWANT,6373.0,22.0,6395.0,7,"EVM_votes, postal_votes, total_votes in absolu...",61.0,M
8357,2024,Maharashtra,RATNAGIRI- SINDHUDURG,General,Independent,TAMBADE AMRUT ANANT (RAJAPURKAR),5563.0,19.0,5582.0,8,"EVM_votes, postal_votes, total_votes in absolu...",61.0,M
8358,2024,Maharashtra,RATNAGIRI- SINDHUDURG,General,Bahujan Mukti Party,ASHOK GANGARAM PAWAR,5244.0,36.0,5280.0,9,"EVM_votes, postal_votes, total_votes in absolu...",61.0,M
8359,2024,Maharashtra,RATNAGIRI- SINDHUDURG,General,Sainik Samaj Party,SURESH GOVINDRAO SHINDE,2209.0,38.0,2247.0,10,"EVM_votes, postal_votes, total_votes in absolu...",61.0,M

In [76]:
cand_list_2024['Gender'].value_counts()

Gender
M    7583
F     774
T       3
Name: count, dtype: int64

In [77]:
cand_list_2024.drop('Units', axis=1, inplace=True)

In [78]:
cand_list_2024 = cand_list_2024[['Candidate', 'State', 'Constituency', 'Party', 'Age', 'Gender', 'Category', 'EVM Votes', 'Postal Votes', 'Total Votes', 'Rank', 'Year']]

In [79]:
cand_list_2024

,Candidate,State,Constituency,Party,Age,Gender,Category,EVM Votes,Postal Votes,Total Votes,Rank,Year
0,GUMMA THANUJA RANI,Andhra Pradesh,Araku (ST),Yuvajana Sramika Rythu Congress Party,31.0,F,Scheduled Tribe,471470.0,5535.0,477005.0,1,2024
1,KOTHAPALLI GEETHA,Andhra Pradesh,Araku (ST),Bharatiya Janata Party,53.0,F,Scheduled Tribe,417113.0,9312.0,426425.0,2,2024
2,APPALANARASA PACHIPENTA,Andhra Pradesh,Araku (ST),Communist Party of India (Marxist),41.0,M,Scheduled Tribe,119016.0,4113.0,123129.0,3,2024
3,AVASHYA LAHARI . VARAM,Andhra Pradesh,Araku (ST),Bahujan Samaj Party,30.0,F,Scheduled Tribe,24858.0,892.0,25750.0,5,2024
4,SAMAREDDY BALAKRISHNA,Andhra Pradesh,Araku (ST),Independent,48.0,M,Scheduled Tribe,9493.0,42.0,9535.0,6,2024
...,...,...,...,...,...,...,...,...,...,...,...,...
8355,AAYARE RAJENDRA LAHU,Maharashtra,RATNAGIRI- SINDHUDURG,Bahujan Samaj Party,61.0,M,General,7796.0,60.0,7856.0,6,2024
8356,SHAKIL SAWANT,Maharashtra,RATNAGIRI- SINDHUDURG,Independent,61.0,M,General,6373.0,22.0,6395.0,7,2024
8357,TAMBADE AMRUT ANANT (RAJAPURKAR),Maharashtra,RATNAGIRI- SINDHUDURG,Independent,61.0,M,General,5563.0,19.0,5582.0,8,2024
8358,ASHOK GANGARAM PAWAR,Maharashtra,RATNAGIRI- SINDHUDURG,Bahujan Mukti Party,61.0,M,General,5244.0,36.0,5280.0,9,2024
8359,SURESH GOVINDRAO SHINDE,Maharashtra,RATNAGIRI- SINDHUDURG,Sainik Samaj Party,61.0,M,General,2209.0,38.0,2247.0,10,2024

In [80]:
temp_list = cand_list_2024.copy()

In [81]:
# Convert the 'Age' column from float to int in the cand_list_2024 dataframe
temp_list['Age'] = temp_list['Age'].astype(int)

# Verify the change
temp_list

,Candidate,State,Constituency,Party,Age,Gender,Category,EVM Votes,Postal Votes,Total Votes,Rank,Year
0,GUMMA THANUJA RANI,Andhra Pradesh,Araku (ST),Yuvajana Sramika Rythu Congress Party,31,F,Scheduled Tribe,471470.0,5535.0,477005.0,1,2024
1,KOTHAPALLI GEETHA,Andhra Pradesh,Araku (ST),Bharatiya Janata Party,53,F,Scheduled Tribe,417113.0,9312.0,426425.0,2,2024
2,APPALANARASA PACHIPENTA,Andhra Pradesh,Araku (ST),Communist Party of India (Marxist),41,M,Scheduled Tribe,119016.0,4113.0,123129.0,3,2024
3,AVASHYA LAHARI . VARAM,Andhra Pradesh,Araku (ST),Bahujan Samaj Party,30,F,Scheduled Tribe,24858.0,892.0,25750.0,5,2024
4,SAMAREDDY BALAKRISHNA,Andhra Pradesh,Araku (ST),Independent,48,M,Scheduled Tribe,9493.0,42.0,9535.0,6,2024
...,...,...,...,...,...,...,...,...,...,...,...,...
8355,AAYARE RAJENDRA LAHU,Maharashtra,RATNAGIRI- SINDHUDURG,Bahujan Samaj Party,61,M,General,7796.0,60.0,7856.0,6,2024
8356,SHAKIL SAWANT,Maharashtra,RATNAGIRI- SINDHUDURG,Independent,61,M,General,6373.0,22.0,6395.0,7,2024
8357,TAMBADE AMRUT ANANT (RAJAPURKAR),Maharashtra,RATNAGIRI- SINDHUDURG,Independent,61,M,General,5563.0,19.0,5582.0,8,2024
8358,ASHOK GANGARAM PAWAR,Maharashtra,RATNAGIRI- SINDHUDURG,Bahujan Mukti Party,61,M,General,5244.0,36.0,5280.0,9,2024
8359,SURESH GOVINDRAO SHINDE,Maharashtra,RATNAGIRI- SINDHUDURG,Sainik Samaj Party,61,M,General,2209.0,38.0,2247.0,10,2024

In [82]:
# Rename 'Total Votes' to 'Total Votes Received'
temp_list.rename(columns={'Total Votes': 'Total Votes Received'}, inplace=True)

# Add a new column 'Total Votes Polled' which is the sum of all votes in each constituency
temp_list['Total Votes Polled'] = temp_list.groupby('Constituency')['Total Votes Received'].transform('sum')

temp_list = temp_list[['Candidate', 'State', 'Constituency', 'Party', 'Age', 'Gender', 'Category', 'EVM Votes', 'Postal Votes', 'Total Votes Received', 'Total Votes Polled', 'Rank', 'Year']]
temp_list

,Candidate,State,Constituency,Party,Age,Gender,Category,EVM Votes,Postal Votes,Total Votes Received,Total Votes Polled,Rank,Year
0,GUMMA THANUJA RANI,Andhra Pradesh,Araku (ST),Yuvajana Sramika Rythu Congress Party,31,F,Scheduled Tribe,471470.0,5535.0,477005.0,1113975.0,1,2024
1,KOTHAPALLI GEETHA,Andhra Pradesh,Araku (ST),Bharatiya Janata Party,53,F,Scheduled Tribe,417113.0,9312.0,426425.0,1113975.0,2,2024
2,APPALANARASA PACHIPENTA,Andhra Pradesh,Araku (ST),Communist Party of India (Marxist),41,M,Scheduled Tribe,119016.0,4113.0,123129.0,1113975.0,3,2024
3,AVASHYA LAHARI . VARAM,Andhra Pradesh,Araku (ST),Bahujan Samaj Party,30,F,Scheduled Tribe,24858.0,892.0,25750.0,1113975.0,5,2024
4,SAMAREDDY BALAKRISHNA,Andhra Pradesh,Araku (ST),Independent,48,M,Scheduled Tribe,9493.0,42.0,9535.0,1113975.0,6,2024
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8355,AAYARE RAJENDRA LAHU,Maharashtra,RATNAGIRI- SINDHUDURG,Bahujan Samaj Party,61,M,General,7796.0,60.0,7856.0,902395.0,6,2024
8356,SHAKIL SAWANT,Maharashtra,RATNAGIRI- SINDHUDURG,Independent,61,M,General,6373.0,22.0,6395.0,902395.0,7,2024
8357,TAMBADE AMRUT ANANT (RAJAPURKAR),Maharashtra,RATNAGIRI- SINDHUDURG,Independent,61,M,General,5563.0,19.0,5582.0,902395.0,8,2024
8358,ASHOK GANGARAM PAWAR,Maharashtra,RATNAGIRI- SINDHUDURG,Bahujan Mukti Party,61,M,General,5244.0,36.0,5280.0,902395.0,9,2024
8359,SURESH GOVINDRAO SHINDE,Maharashtra,RATNAGIRI- SINDHUDURG,Sainik Samaj Party,61,M,General,2209.0,38.0,2247.0,902395.0,10,2024

In [83]:
cand_list_2019

,State,Constituency,Candidate,Gender,Age,Category,Party,Party Symbol,General Votes,Postal Votes,Total Votes,Over Total Electors in Constituency (%),Over Total Votes Polled in Constituency (%),Total Electors
0,Andhra Pradesh,Aruku,KISHORE CHANDRA DEO,MALE,72,ST,TDP,Bicycle,336163,1938,338101,23.294530,31.356893,1451418
1,Andhra Pradesh,Aruku,Dr. KOSURI KASI VISWANADHA VEERA VENKATA SATYA...,MALE,54,ST,BJP,Lotus,17578,289,17867,1.231003,1.657060,1451418
2,Andhra Pradesh,Aruku,GODDETI. MADHAVI,FEMALE,26,ST,YSRCP,Ceiling Fan,557561,4629,562190,38.733845,52.139840,1451418
3,Andhra Pradesh,Aruku,SHRUTI DEVI VYRICHERLA,FEMALE,46,ST,INC,Hand,17656,74,17730,1.221564,1.644354,1451418
4,Andhra Pradesh,Aruku,GANGULAIAH VAMPURU.,MALE,49,ST,JnP,Glass Tumbler,42245,549,42794,2.948427,3.968894,1451418
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8591,Puducherry,Puducherry,N. TAMIZH MARANE,MALE,46,GENERAL,IND,Gift Pack,4785,6,4791,0.492187,0.605769,973410
8592,Puducherry,Puducherry,TIRAVITAMANKAI@LOURDHUMARY,FEMALE,57,GENERAL,IND,Slate,870,0,870,0.089377,0.110002,973410
8593,Puducherry,Puducherry,IMS. BALAJI,MALE,32,GENERAL,IND,Bat,2546,0,2546,0.261555,0.321914,973410
8594,Puducherry,Puducherry,RAMESH.D,MALE,49,SC,IND,Mike,1653,0,1653,0.169815,0.209004,973410
8595,Puducherry,Puducherry,V. RAMAMURTHI,MALE,74,GENERAL,IND,Whistle,641,1,642,0.065954,0.081174,973410

In [84]:
print(cand_list_2019.columns)
print(temp_list.columns)

Index(['State', 'Constituency', 'Candidate', 'Gender', 'Age', 'Category',
       'Party', 'Party Symbol', 'General Votes', 'Postal Votes', 'Total Votes',
       'Over Total Electors in Constituency (%)',
       'Over Total Votes Polled in Constituency (%)', 'Total Electors'],
      dtype='object')
Index(['Candidate', 'State', 'Constituency', 'Party', 'Age', 'Gender',
       'Category', 'EVM Votes', 'Postal Votes', 'Total Votes Received',
       'Total Votes Polled', 'Rank', 'Year'],
      dtype='object')

In [85]:
cand_list_2019.drop(['Party Symbol'], axis=1, inplace=True)

C:\Users\ujjwa\AppData\Local\Temp\ipykernel_17232\1541597847.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cand_list_2019.drop(['Party Symbol'], axis=1, inplace=True)

In [86]:
cand_list_2019.rename(columns={'Total Votes': 'Total Votes Received', 'Total Electors' : 'Total Votes Polled'}, inplace=True)
# cand_list_2019['Candidate', 'State', 'Constituency', 'Party', 'Age', 'Gender', 'Category', 'EVM Votes', 'Postal Votes', 'Total Votes', 'Rank', 'Year']

C:\Users\ujjwa\AppData\Local\Temp\ipykernel_17232\1107364137.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cand_list_2019.rename(columns={'Total Votes': 'Total Votes Received', 'Total Electors' : 'Total Votes Polled'}, inplace=True)

In [87]:
cand_list_2019

,State,Constituency,Candidate,Gender,Age,Category,Party,General Votes,Postal Votes,Total Votes Received,Over Total Electors in Constituency (%),Over Total Votes Polled in Constituency (%),Total Votes Polled
0,Andhra Pradesh,Aruku,KISHORE CHANDRA DEO,MALE,72,ST,TDP,336163,1938,338101,23.294530,31.356893,1451418
1,Andhra Pradesh,Aruku,Dr. KOSURI KASI VISWANADHA VEERA VENKATA SATYA...,MALE,54,ST,BJP,17578,289,17867,1.231003,1.657060,1451418
2,Andhra Pradesh,Aruku,GODDETI. MADHAVI,FEMALE,26,ST,YSRCP,557561,4629,562190,38.733845,52.139840,1451418
3,Andhra Pradesh,Aruku,SHRUTI DEVI VYRICHERLA,FEMALE,46,ST,INC,17656,74,17730,1.221564,1.644354,1451418
4,Andhra Pradesh,Aruku,GANGULAIAH VAMPURU.,MALE,49,ST,JnP,42245,549,42794,2.948427,3.968894,1451418
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8591,Puducherry,Puducherry,N. TAMIZH MARANE,MALE,46,GENERAL,IND,4785,6,4791,0.492187,0.605769,973410
8592,Puducherry,Puducherry,TIRAVITAMANKAI@LOURDHUMARY,FEMALE,57,GENERAL,IND,870,0,870,0.089377,0.110002,973410
8593,Puducherry,Puducherry,IMS. BALAJI,MALE,32,GENERAL,IND,2546,0,2546,0.261555,0.321914,973410
8594,Puducherry,Puducherry,RAMESH.D,MALE,49,SC,IND,1653,0,1653,0.169815,0.209004,973410
8595,Puducherry,Puducherry,V. RAMAMURTHI,MALE,74,GENERAL,IND,641,1,642,0.065954,0.081174,973410

In [88]:
cand_list_2019['Year'] = 2019
cand_list_2019['Rank'] = np.nan
cand_list_2019

C:\Users\ujjwa\AppData\Local\Temp\ipykernel_17232\4051293092.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cand_list_2019['Year'] = 2019
C:\Users\ujjwa\AppData\Local\Temp\ipykernel_17232\4051293092.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cand_list_2019['Rank'] = np.nan

,State,Constituency,Candidate,Gender,Age,Category,Party,General Votes,Postal Votes,Total Votes Received,Over Total Electors in Constituency (%),Over Total Votes Polled in Constituency (%),Total Votes Polled,Year,Rank
0,Andhra Pradesh,Aruku,KISHORE CHANDRA DEO,MALE,72,ST,TDP,336163,1938,338101,23.294530,31.356893,1451418,2019,NaN
1,Andhra Pradesh,Aruku,Dr. KOSURI KASI VISWANADHA VEERA VENKATA SATYA...,MALE,54,ST,BJP,17578,289,17867,1.231003,1.657060,1451418,2019,NaN
2,Andhra Pradesh,Aruku,GODDETI. MADHAVI,FEMALE,26,ST,YSRCP,557561,4629,562190,38.733845,52.139840,1451418,2019,NaN
3,Andhra Pradesh,Aruku,SHRUTI DEVI VYRICHERLA,FEMALE,46,ST,INC,17656,74,17730,1.221564,1.644354,1451418,2019,NaN
4,Andhra Pradesh,Aruku,GANGULAIAH VAMPURU.,MALE,49,ST,JnP,42245,549,42794,2.948427,3.968894,1451418,2019,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8591,Puducherry,Puducherry,N. TAMIZH MARANE,MALE,46,GENERAL,IND,4785,6,4791,0.492187,0.605769,973410,2019,NaN
8592,Puducherry,Puducherry,TIRAVITAMANKAI@LOURDHUMARY,FEMALE,57,GENERAL,IND,870,0,870,0.089377,0.110002,973410,2019,NaN
8593,Puducherry,Puducherry,IMS. BALAJI,MALE,32,GENERAL,IND,2546,0,2546,0.261555,0.321914,973410,2019,NaN
8594,Puducherry,Puducherry,RAMESH.D,MALE,49,SC,IND,1653,0,1653,0.169815,0.209004,973410,2019,NaN
8595,Puducherry,Puducherry,V. RAMAMURTHI,MALE,74,GENERAL,IND,641,1,642,0.065954,0.081174,973410,2019,NaN

In [89]:
temp_list['Over Total Electors in Constituency (%)'] = (temp_list['Total Votes Received'] / temp_list['Total Votes Polled']) * 100

C:\Users\ujjwa\AppData\Local\Temp\ipykernel_17232\1093874025.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_list['Over Total Electors in Constituency (%)'] = (temp_list['Total Votes Received'] / temp_list['Total Votes Polled']) * 100

In [90]:
temp_list

,Candidate,State,Constituency,Party,Age,Gender,Category,EVM Votes,Postal Votes,Total Votes Received,Total Votes Polled,Rank,Year,Over Total Electors in Constituency (%)
0,GUMMA THANUJA RANI,Andhra Pradesh,Araku (ST),Yuvajana Sramika Rythu Congress Party,31,F,Scheduled Tribe,471470.0,5535.0,477005.0,1113975.0,1,2024,42.820081
1,KOTHAPALLI GEETHA,Andhra Pradesh,Araku (ST),Bharatiya Janata Party,53,F,Scheduled Tribe,417113.0,9312.0,426425.0,1113975.0,2,2024,38.279584
2,APPALANARASA PACHIPENTA,Andhra Pradesh,Araku (ST),Communist Party of India (Marxist),41,M,Scheduled Tribe,119016.0,4113.0,123129.0,1113975.0,3,2024,11.053121
3,AVASHYA LAHARI . VARAM,Andhra Pradesh,Araku (ST),Bahujan Samaj Party,30,F,Scheduled Tribe,24858.0,892.0,25750.0,1113975.0,5,2024,2.311542
4,SAMAREDDY BALAKRISHNA,Andhra Pradesh,Araku (ST),Independent,48,M,Scheduled Tribe,9493.0,42.0,9535.0,1113975.0,6,2024,0.855944
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8355,AAYARE RAJENDRA LAHU,Maharashtra,RATNAGIRI- SINDHUDURG,Bahujan Samaj Party,61,M,General,7796.0,60.0,7856.0,902395.0,6,2024,0.870572
8356,SHAKIL SAWANT,Maharashtra,RATNAGIRI- SINDHUDURG,Independent,61,M,General,6373.0,22.0,6395.0,902395.0,7,2024,0.708670
8357,TAMBADE AMRUT ANANT (RAJAPURKAR),Maharashtra,RATNAGIRI- SINDHUDURG,Independent,61,M,General,5563.0,19.0,5582.0,902395.0,8,2024,0.618576
8358,ASHOK GANGARAM PAWAR,Maharashtra,RATNAGIRI- SINDHUDURG,Bahujan Mukti Party,61,M,General,5244.0,36.0,5280.0,902395.0,9,2024,0.585110
8359,SURESH GOVINDRAO SHINDE,Maharashtra,RATNAGIRI- SINDHUDURG,Sainik Samaj Party,61,M,General,2209.0,38.0,2247.0,902395.0,10,2024,0.249004

In [91]:
temp_list['Over Total Votes Polled in Constituency (%)'] = np.nan

C:\Users\ujjwa\AppData\Local\Temp\ipykernel_17232\3680558049.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_list['Over Total Votes Polled in Constituency (%)'] = np.nan

In [92]:
temp_list

,Candidate,State,Constituency,Party,Age,Gender,Category,EVM Votes,Postal Votes,Total Votes Received,Total Votes Polled,Rank,Year,Over Total Electors in Constituency (%),Over Total Votes Polled in Constituency (%)
0,GUMMA THANUJA RANI,Andhra Pradesh,Araku (ST),Yuvajana Sramika Rythu Congress Party,31,F,Scheduled Tribe,471470.0,5535.0,477005.0,1113975.0,1,2024,42.820081,NaN
1,KOTHAPALLI GEETHA,Andhra Pradesh,Araku (ST),Bharatiya Janata Party,53,F,Scheduled Tribe,417113.0,9312.0,426425.0,1113975.0,2,2024,38.279584,NaN
2,APPALANARASA PACHIPENTA,Andhra Pradesh,Araku (ST),Communist Party of India (Marxist),41,M,Scheduled Tribe,119016.0,4113.0,123129.0,1113975.0,3,2024,11.053121,NaN
3,AVASHYA LAHARI . VARAM,Andhra Pradesh,Araku (ST),Bahujan Samaj Party,30,F,Scheduled Tribe,24858.0,892.0,25750.0,1113975.0,5,2024,2.311542,NaN
4,SAMAREDDY BALAKRISHNA,Andhra Pradesh,Araku (ST),Independent,48,M,Scheduled Tribe,9493.0,42.0,9535.0,1113975.0,6,2024,0.855944,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8355,AAYARE RAJENDRA LAHU,Maharashtra,RATNAGIRI- SINDHUDURG,Bahujan Samaj Party,61,M,General,7796.0,60.0,7856.0,902395.0,6,2024,0.870572,NaN
8356,SHAKIL SAWANT,Maharashtra,RATNAGIRI- SINDHUDURG,Independent,61,M,General,6373.0,22.0,6395.0,902395.0,7,2024,0.708670,NaN
8357,TAMBADE AMRUT ANANT (RAJAPURKAR),Maharashtra,RATNAGIRI- SINDHUDURG,Independent,61,M,General,5563.0,19.0,5582.0,902395.0,8,2024,0.618576,NaN
8358,ASHOK GANGARAM PAWAR,Maharashtra,RATNAGIRI- SINDHUDURG,Bahujan Mukti Party,61,M,General,5244.0,36.0,5280.0,902395.0,9,2024,0.585110,NaN
8359,SURESH GOVINDRAO SHINDE,Maharashtra,RATNAGIRI- SINDHUDURG,Sainik Samaj Party,61,M,General,2209.0,38.0,2247.0,902395.0,10,2024,0.249004,NaN

In [93]:
combined_df = pd.concat([cand_list_2019, temp_list], ignore_index=True)

In [94]:
combined_df

,State,Constituency,Candidate,Gender,Age,Category,Party,General Votes,Postal Votes,Total Votes Received,Over Total Electors in Constituency (%),Over Total Votes Polled in Constituency (%),Total Votes Polled,Year,Rank,EVM Votes
0,Andhra Pradesh,Aruku,KISHORE CHANDRA DEO,MALE,72,ST,TDP,336163.0,1938.0,338101.0,23.294530,31.356893,1451418.0,2019,NaN,NaN
1,Andhra Pradesh,Aruku,Dr. KOSURI KASI VISWANADHA VEERA VENKATA SATYA...,MALE,54,ST,BJP,17578.0,289.0,17867.0,1.231003,1.657060,1451418.0,2019,NaN,NaN
2,Andhra Pradesh,Aruku,GODDETI. MADHAVI,FEMALE,26,ST,YSRCP,557561.0,4629.0,562190.0,38.733845,52.139840,1451418.0,2019,NaN,NaN
3,Andhra Pradesh,Aruku,SHRUTI DEVI VYRICHERLA,FEMALE,46,ST,INC,17656.0,74.0,17730.0,1.221564,1.644354,1451418.0,2019,NaN,NaN
4,Andhra Pradesh,Aruku,GANGULAIAH VAMPURU.,MALE,49,ST,JnP,42245.0,549.0,42794.0,2.948427,3.968894,1451418.0,2019,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16409,Maharashtra,RATNAGIRI- SINDHUDURG,AAYARE RAJENDRA LAHU,M,61,General,Bahujan Samaj Party,NaN,60.0,7856.0,0.870572,NaN,902395.0,2024,6.0,7796.0
16410,Maharashtra,RATNAGIRI- SINDHUDURG,SHAKIL SAWANT,M,61,General,Independent,NaN,22.0,6395.0,0.708670,NaN,902395.0,2024,7.0,6373.0
16411,Maharashtra,RATNAGIRI- SINDHUDURG,TAMBADE AMRUT ANANT (RAJAPURKAR),M,61,General,Independent,NaN,19.0,5582.0,0.618576,NaN,902395.0,2024,8.0,5563.0
16412,Maharashtra,RATNAGIRI- SINDHUDURG,ASHOK GANGARAM PAWAR,M,61,General,Bahujan Mukti Party,NaN,36.0,5280.0,0.585110,NaN,902395.0,2024,9.0,5244.0
16413,Maharashtra,RATNAGIRI- SINDHUDURG,SURESH GOVINDRAO SHINDE,M,61,General,Sainik Samaj Party,NaN,38.0,2247.0,0.249004,NaN,902395.0,2024,10.0,2209.0

Column names for EVM/General votes was different in both datasets. Removing the extra column.

In [95]:
combined_df['EVM Votes'] = combined_df['EVM Votes'].fillna(combined_df['General Votes'])

In [96]:
combined_df.drop(['General Votes'], axis=1, inplace=True)

In [97]:
combined_df = combined_df[['State', 'Constituency', 'Candidate', 'Gender', 'Age', 'Category',
       'Party','EVM Votes', 'Postal Votes', 'Total Votes Received', 'Total Votes Polled',
       'Over Total Electors in Constituency (%)',
       'Over Total Votes Polled in Constituency (%)','Rank',
       'Year']]

In [98]:
combined_df

,State,Constituency,Candidate,Gender,Age,Category,Party,EVM Votes,Postal Votes,Total Votes Received,Total Votes Polled,Over Total Electors in Constituency (%),Over Total Votes Polled in Constituency (%),Rank,Year
0,Andhra Pradesh,Aruku,KISHORE CHANDRA DEO,MALE,72,ST,TDP,336163.0,1938.0,338101.0,1451418.0,23.294530,31.356893,NaN,2019
1,Andhra Pradesh,Aruku,Dr. KOSURI KASI VISWANADHA VEERA VENKATA SATYA...,MALE,54,ST,BJP,17578.0,289.0,17867.0,1451418.0,1.231003,1.657060,NaN,2019
2,Andhra Pradesh,Aruku,GODDETI. MADHAVI,FEMALE,26,ST,YSRCP,557561.0,4629.0,562190.0,1451418.0,38.733845,52.139840,NaN,2019
3,Andhra Pradesh,Aruku,SHRUTI DEVI VYRICHERLA,FEMALE,46,ST,INC,17656.0,74.0,17730.0,1451418.0,1.221564,1.644354,NaN,2019
4,Andhra Pradesh,Aruku,GANGULAIAH VAMPURU.,MALE,49,ST,JnP,42245.0,549.0,42794.0,1451418.0,2.948427,3.968894,NaN,2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16409,Maharashtra,RATNAGIRI- SINDHUDURG,AAYARE RAJENDRA LAHU,M,61,General,Bahujan Samaj Party,7796.0,60.0,7856.0,902395.0,0.870572,NaN,6.0,2024
16410,Maharashtra,RATNAGIRI- SINDHUDURG,SHAKIL SAWANT,M,61,General,Independent,6373.0,22.0,6395.0,902395.0,0.708670,NaN,7.0,2024
16411,Maharashtra,RATNAGIRI- SINDHUDURG,TAMBADE AMRUT ANANT (RAJAPURKAR),M,61,General,Independent,5563.0,19.0,5582.0,902395.0,0.618576,NaN,8.0,2024
16412,Maharashtra,RATNAGIRI- SINDHUDURG,ASHOK GANGARAM PAWAR,M,61,General,Bahujan Mukti Party,5244.0,36.0,5280.0,902395.0,0.585110,NaN,9.0,2024
16413,Maharashtra,RATNAGIRI- SINDHUDURG,SURESH GOVINDRAO SHINDE,M,61,General,Sainik Samaj Party,2209.0,38.0,2247.0,902395.0,0.249004,NaN,10.0,2024

In [99]:
combined_df.drop(columns=['EVM Votes'], inplace=True)

C:\Users\ujjwa\AppData\Local\Temp\ipykernel_17232\393888415.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  combined_df.drop(columns=['EVM Votes'], inplace=True)

In [100]:
combined_df.drop(index=9451, inplace=True) # uncontested candidate with null values

C:\Users\ujjwa\AppData\Local\Temp\ipykernel_17232\3580665919.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  combined_df.drop(index=9451, inplace=True) # uncontested candidate with null values

Adding missing ranks.

In [101]:
temp_df = combined_df

# Rank candidates within each constituency based on 'Total Votes Received'
temp_df['Rank'] = temp_df.groupby('Constituency')['Total Votes Received'].rank(ascending=False, method='min')

# Convert the ranks to integers, as ranks are typically whole numbers
temp_df['Rank'] = temp_df['Rank'].astype(int)

# Display the updated dataframe
temp_df

C:\Users\ujjwa\AppData\Local\Temp\ipykernel_17232\1770935824.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_df['Rank'] = temp_df.groupby('Constituency')['Total Votes Received'].rank(ascending=False, method='min')
C:\Users\ujjwa\AppData\Local\Temp\ipykernel_17232\1770935824.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_df['Rank'] = temp_df['Rank'].astype(int)

,State,Constituency,Candidate,Gender,Age,Category,Party,Postal Votes,Total Votes Received,Total Votes Polled,Over Total Electors in Constituency (%),Over Total Votes Polled in Constituency (%),Rank,Year
0,Andhra Pradesh,Aruku,KISHORE CHANDRA DEO,MALE,72,ST,TDP,1938.0,338101.0,1451418.0,23.294530,31.356893,2,2019
1,Andhra Pradesh,Aruku,Dr. KOSURI KASI VISWANADHA VEERA VENKATA SATYA...,MALE,54,ST,BJP,289.0,17867.0,1451418.0,1.231003,1.657060,4,2019
2,Andhra Pradesh,Aruku,GODDETI. MADHAVI,FEMALE,26,ST,YSRCP,4629.0,562190.0,1451418.0,38.733845,52.139840,1,2019
3,Andhra Pradesh,Aruku,SHRUTI DEVI VYRICHERLA,FEMALE,46,ST,INC,74.0,17730.0,1451418.0,1.221564,1.644354,5,2019
4,Andhra Pradesh,Aruku,GANGULAIAH VAMPURU.,MALE,49,ST,JnP,549.0,42794.0,1451418.0,2.948427,3.968894,3,2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16409,Maharashtra,RATNAGIRI- SINDHUDURG,AAYARE RAJENDRA LAHU,M,61,General,Bahujan Samaj Party,60.0,7856.0,902395.0,0.870572,NaN,5,2024
16410,Maharashtra,RATNAGIRI- SINDHUDURG,SHAKIL SAWANT,M,61,General,Independent,22.0,6395.0,902395.0,0.708670,NaN,6,2024
16411,Maharashtra,RATNAGIRI- SINDHUDURG,TAMBADE AMRUT ANANT (RAJAPURKAR),M,61,General,Independent,19.0,5582.0,902395.0,0.618576,NaN,7,2024
16412,Maharashtra,RATNAGIRI- SINDHUDURG,ASHOK GANGARAM PAWAR,M,61,General,Bahujan Mukti Party,36.0,5280.0,902395.0,0.585110,NaN,8,2024
16413,Maharashtra,RATNAGIRI- SINDHUDURG,SURESH GOVINDRAO SHINDE,M,61,General,Sainik Samaj Party,38.0,2247.0,902395.0,0.249004,NaN,9,2024

In [102]:
cand_list_2024 = temp_df

In [103]:
combined_df.to_csv("../data/processed/candidate_list_turnout.csv", index=False)

### 3. Wrangling and cleaning candidate background datasets:

In [104]:
# Load the dataset
cand_bg_2024 = pd.read_csv("../data/raw/candidate_background_2024.csv")

In [105]:
cand_bg_2024.columns

Index(['Candidate', 'Party', 'Criminal Cases', 'Education', 'Age',
       'Total Assets', 'Liabilities', 'State'],
      dtype='object')

In [106]:
cand_bg_2024

,Candidate,Party,Criminal Cases,Education,Age,Total Assets,Liabilities,State
0,Anand Ramnath Arlekar,IND,0,10th Pass,58,"Rs 8,43,025 ~ 8 Lacs+","Rs 13,36,346 ~ 13 Lacs+",Andaman and Nicobar Islands
1,Bishnu Pada Ray,BJP,0,Graduate,73,"Rs 2,74,39,170 ~ 2 Crore+","Rs 3,02,788 ~ 3 Lacs+",Andaman and Nicobar Islands
2,D Ayyappan,CPI(M),0,Post Graduate,60,"Rs 1,32,87,710 ~ 1 Crore+","Rs 26,49,000 ~ 26 Lacs+",Andaman and Nicobar Islands
3,Dr Arun Kumar Mallik,BSP,0,Post Graduate,64,"Rs 11,18,72,135 ~ 11 Crore+",Rs 0 ~,Andaman and Nicobar Islands
4,K J B Selvaraj,AIADMK,0,Graduate,50,NaN,NaN,Andaman and Nicobar Islands
...,...,...,...,...,...,...,...,...
8333,Uttam Barik S/O Late Narayan Barik,IND,0,8th Pass,57,"Rs 7,82,132 ~ 7 Lacs+",Rs 0 ~,West Bengal
8334,Uttam Chatterjee,SUCI(C),0,Others,64,"Rs 78,44,105 ~ 78 Lacs+","Rs 2,00,000 ~ 2 Lacs+",West Bengal
8335,Vaskar Malik,IND,0,12th Pass,25,NaN,NaN,West Bengal
8336,Yasmin Islam,Social Democratic Party Of India,0,12th Pass,42,"Rs 34,36,438 ~ 34 Lacs+",Rs 0 ~,West Bengal
8337,Zubair Rabbani,SUCI(C),0,12th Pass,61,"Rs 19,127 ~ 19 Thou+",Rs 0 ~,West Bengal

We first need to change the units of Total Assets and Liabilities and convert them to integers

In [107]:
import re
def clean_currency(value):
    if pd.isnull(value) or value.strip() == '':  # Handle NaN or empty values
        return 0
    
    # Split the string at the '~' symbol and take the part before it
    value = value.split('~')[0]
    
    # Remove non-numeric characters
    cleaned_value = re.sub(r'[^\d]', '', value)
    
    # If cleaned_value is empty after removing non-numeric characters, return 0
    if cleaned_value == '':
        return 0
    
    return int(cleaned_value)

In [108]:

# Apply the function to the 'Total Assets' and 'Liabilities' columns
cand_bg_2024['Total Assets'] = cand_bg_2024['Total Assets'].apply(clean_currency)
cand_bg_2024['Liabilities'] = cand_bg_2024['Liabilities'].apply(clean_currency)

In [109]:
cand_bg_2024

,Candidate,Party,Criminal Cases,Education,Age,Total Assets,Liabilities,State
0,Anand Ramnath Arlekar,IND,0,10th Pass,58,843025,1336346,Andaman and Nicobar Islands
1,Bishnu Pada Ray,BJP,0,Graduate,73,27439170,302788,Andaman and Nicobar Islands
2,D Ayyappan,CPI(M),0,Post Graduate,60,13287710,2649000,Andaman and Nicobar Islands
3,Dr Arun Kumar Mallik,BSP,0,Post Graduate,64,111872135,0,Andaman and Nicobar Islands
4,K J B Selvaraj,AIADMK,0,Graduate,50,0,0,Andaman and Nicobar Islands
...,...,...,...,...,...,...,...,...
8333,Uttam Barik S/O Late Narayan Barik,IND,0,8th Pass,57,782132,0,West Bengal
8334,Uttam Chatterjee,SUCI(C),0,Others,64,7844105,200000,West Bengal
8335,Vaskar Malik,IND,0,12th Pass,25,0,0,West Bengal
8336,Yasmin Islam,Social Democratic Party Of India,0,12th Pass,42,3436438,0,West Bengal
8337,Zubair Rabbani,SUCI(C),0,12th Pass,61,19127,0,West Bengal

In [110]:
cand_bg_2024.columns

Index(['Candidate', 'Party', 'Criminal Cases', 'Education', 'Age',
       'Total Assets', 'Liabilities', 'State'],
      dtype='object')

In [111]:
cand_bg_2024.rename(columns={
    'Candidate': 'Candidate Name',
}, inplace=True)
cand_bg_2024 = cand_bg_2024[['Candidate Name', 'Party', 'Age', 'State', 'Criminal Cases', 'Education', 'Total Assets', 'Liabilities']]
cand_bg_2024

,Candidate Name,Party,Age,State,Criminal Cases,Education,Total Assets,Liabilities
0,Anand Ramnath Arlekar,IND,58,Andaman and Nicobar Islands,0,10th Pass,843025,1336346
1,Bishnu Pada Ray,BJP,73,Andaman and Nicobar Islands,0,Graduate,27439170,302788
2,D Ayyappan,CPI(M),60,Andaman and Nicobar Islands,0,Post Graduate,13287710,2649000
3,Dr Arun Kumar Mallik,BSP,64,Andaman and Nicobar Islands,0,Post Graduate,111872135,0
4,K J B Selvaraj,AIADMK,50,Andaman and Nicobar Islands,0,Graduate,0,0
...,...,...,...,...,...,...,...,...
8333,Uttam Barik S/O Late Narayan Barik,IND,57,West Bengal,0,8th Pass,782132,0
8334,Uttam Chatterjee,SUCI(C),64,West Bengal,0,Others,7844105,200000
8335,Vaskar Malik,IND,25,West Bengal,0,12th Pass,0,0
8336,Yasmin Islam,Social Democratic Party Of India,42,West Bengal,0,12th Pass,3436438,0
8337,Zubair Rabbani,SUCI(C),61,West Bengal,0,12th Pass,19127,0

Background data for 2019 candidates:

In [112]:
cand_bg_2019 = pd.read_csv("../data/raw/candidate_background_2019.csv")

In [113]:
cand_bg_2019

,Candidate,Party,Criminal Cases,Education,Age,Total Assets,Liabilities,State
0,Ayan Mandal,AITC,0,Graduate,30,"Rs 72,70,440 ~ 72 Lacs+","Rs 15,00,000 ~ 15 Lacs+",Andaman and Nicobar Islands
1,C G Saji Kumar,All India Hindustan Congress Party,0,12th Pass,48,"Rs 1,20,000 ~ 1 Lacs+",Rs 0 ~,Andaman and Nicobar Islands
2,C U Rasheed,IND,0,12th Pass,34,"Rs 2,02,808 ~ 2 Lacs+","Rs 17,00,000 ~ 17 Lacs+",Andaman and Nicobar Islands
3,Gour Chandra Majumder,IND,0,Graduate,52,"Rs 60,62,000 ~ 60 Lacs+",Rs 0 ~,Andaman and Nicobar Islands
4,Henry,IND,0,10th Pass,50,NaN,NaN,Andaman and Nicobar Islands
...,...,...,...,...,...,...,...,...
7501,Surendra Kumar Upadhayay,UKD,0,Graduate,Unknown,"Rs 42,78,300 ~ 42 Lacs+","Rs 21,00,000 ~ 21 Lacs+",Uttarakhand
7502,Tirath Singh Rawat,BJP,0,Post Graduate,55,"Rs 1,50,32,657 ~ 1 Crore+","Rs 35,00,000 ~ 35 Lacs+",Uttarakhand
7503,Tribirendra Singh Rawat,Uttarakhand Kranti Dal (Democratic),0,12th Pass,30,"Rs 39,41,321 ~ 39 Lacs+",Rs 0 ~,Uttarakhand
7504,Vimla Arya,UTTARAKHAND PARIVARTAN PARTY,0,Graduate,32,NaN,NaN,Uttarakhand
7505,Vinod Prasad Notiyal,IND,0,8th Pass,43,"Rs 16,85,354 ~ 16 Lacs+",Rs 0 ~,Uttarakhand

In [114]:
# Apply the function to the 'Total Assets' and 'Liabilities' columns
cand_bg_2019['Total Assets'] = cand_bg_2019['Total Assets'].apply(clean_currency)
cand_bg_2019['Liabilities'] = cand_bg_2019['Liabilities'].apply(clean_currency)

In [115]:
cand_bg_2019

,Candidate,Party,Criminal Cases,Education,Age,Total Assets,Liabilities,State
0,Ayan Mandal,AITC,0,Graduate,30,7270440,1500000,Andaman and Nicobar Islands
1,C G Saji Kumar,All India Hindustan Congress Party,0,12th Pass,48,120000,0,Andaman and Nicobar Islands
2,C U Rasheed,IND,0,12th Pass,34,202808,1700000,Andaman and Nicobar Islands
3,Gour Chandra Majumder,IND,0,Graduate,52,6062000,0,Andaman and Nicobar Islands
4,Henry,IND,0,10th Pass,50,0,0,Andaman and Nicobar Islands
...,...,...,...,...,...,...,...,...
7501,Surendra Kumar Upadhayay,UKD,0,Graduate,Unknown,4278300,2100000,Uttarakhand
7502,Tirath Singh Rawat,BJP,0,Post Graduate,55,15032657,3500000,Uttarakhand
7503,Tribirendra Singh Rawat,Uttarakhand Kranti Dal (Democratic),0,12th Pass,30,3941321,0,Uttarakhand
7504,Vimla Arya,UTTARAKHAND PARIVARTAN PARTY,0,Graduate,32,0,0,Uttarakhand
7505,Vinod Prasad Notiyal,IND,0,8th Pass,43,1685354,0,Uttarakhand

In [116]:
cand_bg_2019.rename(columns={
    'Candidate': 'Candidate Name',
}, inplace=True)
cand_bg_2019 = cand_bg_2019[['Candidate Name', 'Party', 'Age', 'State', 'Criminal Cases', 'Education', 'Total Assets', 'Liabilities']]
cand_bg_2019

,Candidate Name,Party,Age,State,Criminal Cases,Education,Total Assets,Liabilities
0,Ayan Mandal,AITC,30,Andaman and Nicobar Islands,0,Graduate,7270440,1500000
1,C G Saji Kumar,All India Hindustan Congress Party,48,Andaman and Nicobar Islands,0,12th Pass,120000,0
2,C U Rasheed,IND,34,Andaman and Nicobar Islands,0,12th Pass,202808,1700000
3,Gour Chandra Majumder,IND,52,Andaman and Nicobar Islands,0,Graduate,6062000,0
4,Henry,IND,50,Andaman and Nicobar Islands,0,10th Pass,0,0
...,...,...,...,...,...,...,...,...
7501,Surendra Kumar Upadhayay,UKD,Unknown,Uttarakhand,0,Graduate,4278300,2100000
7502,Tirath Singh Rawat,BJP,55,Uttarakhand,0,Post Graduate,15032657,3500000
7503,Tribirendra Singh Rawat,Uttarakhand Kranti Dal (Democratic),30,Uttarakhand,0,12th Pass,3941321,0
7504,Vimla Arya,UTTARAKHAND PARIVARTAN PARTY,32,Uttarakhand,0,Graduate,0,0
7505,Vinod Prasad Notiyal,IND,43,Uttarakhand,0,8th Pass,1685354,0

In [117]:
cand_bg_2019.columns

Index(['Candidate Name', 'Party', 'Age', 'State', 'Criminal Cases',
       'Education', 'Total Assets', 'Liabilities'],
      dtype='object')

Merging background data DFs:

In [118]:
cand_bg_2019['Year'] = 2019
cand_bg_2024['Year'] = 2024

C:\Users\ujjwa\AppData\Local\Temp\ipykernel_17232\964055193.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cand_bg_2019['Year'] = 2019
C:\Users\ujjwa\AppData\Local\Temp\ipykernel_17232\964055193.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cand_bg_2024['Year'] = 2024

In [119]:
# Concatenate the dataframes
combined_bg_df = pd.concat([cand_bg_2019, cand_bg_2024], ignore_index=True)

In [120]:
combined_bg_df

,Candidate Name,Party,Age,State,Criminal Cases,Education,Total Assets,Liabilities,Year
0,Ayan Mandal,AITC,30,Andaman and Nicobar Islands,0,Graduate,7270440,1500000,2019
1,C G Saji Kumar,All India Hindustan Congress Party,48,Andaman and Nicobar Islands,0,12th Pass,120000,0,2019
2,C U Rasheed,IND,34,Andaman and Nicobar Islands,0,12th Pass,202808,1700000,2019
3,Gour Chandra Majumder,IND,52,Andaman and Nicobar Islands,0,Graduate,6062000,0,2019
4,Henry,IND,50,Andaman and Nicobar Islands,0,10th Pass,0,0,2019
...,...,...,...,...,...,...,...,...,...
15839,Uttam Barik S/O Late Narayan Barik,IND,57,West Bengal,0,8th Pass,782132,0,2024
15840,Uttam Chatterjee,SUCI(C),64,West Bengal,0,Others,7844105,200000,2024
15841,Vaskar Malik,IND,25,West Bengal,0,12th Pass,0,0,2024
15842,Yasmin Islam,Social Democratic Party Of India,42,West Bengal,0,12th Pass,3436438,0,2024
15843,Zubair Rabbani,SUCI(C),61,West Bengal,0,12th Pass,19127,0,2024

In [121]:
combined_bg_df.to_csv("../data/processed/candidate_background.csv", index=False)

### 4. Winning Candidates 2019 and 2024

In [122]:
winning_2019 = pd.read_csv("../data/raw/winning_2019.csv")
winning_2024 = pd.read_csv("../data/raw/winning_2024.csv")

In [123]:
winning_2019

,Sno,Candidate,Constituency ∇,Party,Criminal Case,Education,Total Assets,Liabilities
0,1,Bapu Rao Soyam,ADILABAD,BJP,52,12th Pass,"Rs 30,99,414 ~ 30 Lacs+","Rs 2,31,450 ~ 2 Lacs+"
1,2,Satyapal Singh Baghel,AGRA,BJP,5,Doctorate,"Rs 7,42,74,036 ~ 7 Crore+","Rs 86,06,522 ~ 86 Lacs+"
2,3,Patel Hasmukhbhai Somabhai,AHMEDABAD EAST,BJP,0,Others,"Rs 7,46,99,690 ~ 7 Crore+","Rs 62,52,577 ~ 62 Lacs+"
3,4,Dr. Solanki Kiritbhai,AHMEDABAD WEST,BJP,0,Post Graduate,"Rs 8,94,74,039 ~ 8 Crore+",Rs 0 ~
4,5,Sujay Radhakrishna Vikhe,AHMEDNAGAR,BJP,0,Doctorate,NaN,NaN
...,...,...,...,...,...,...,...,...
537,538,Ramdas Chandrabhanji Tadas,WARDHA,BJP,0,10th Pass,"Rs 6,58,07,822 ~ 6 Crore+","Rs 89,61,387 ~ 89 Lacs+"
538,539,Rahul Gandhi,WAYANAD,INC,5,Post Graduate,"Rs 15,88,77,063 ~ 15 Crore+","Rs 72,01,904 ~ 72 Lacs+"
539,540,Parvesh Sahib Singh,WEST DELHI,BJP,0,Post Graduate,NaN,NaN
540,541,Bhavana Pundlikrao Gawali,YAVATMAL WASHIM,SHS,3,Graduate,"Rs 9,68,73,189 ~ 9 Crore+","Rs 73,96,250 ~ 73 Lacs+"
541,542,B.B.Patil,ZAHIRABAD,TRS,18,Graduate,"Rs 1,28,78,51,556 ~ 128 Crore+","Rs 1,15,35,000 ~ 1 Crore+"

In [124]:
winning_2024

,Sno,Candidate,Constituency ∇,Party,Criminal Case,Education,Total Assets,Liabilities
0,1,Godam Nagesh,ADILABAD (ST),BJP,1,Post Graduate,"Rs 3,09,16,833 ~ 3 Crore+","Rs 29,01,575 ~ 29 Lacs+"
1,2,Prof S P Singh Baghel,AGRA (SC),BJP,0,Doctorate,"Rs 10,43,58,691 ~ 10 Crore+","Rs 51,70,325 ~ 51 Lacs+"
2,3,Hasmukhbhai Patel (H.S.Patel),AHMEDABAD EAST,BJP,0,12th Pass,"Rs 8,64,70,298 ~ 8 Crore+","Rs 1,35,15,602 ~ 1 Crore+"
3,4,Dineshbhai Makwana (Advocate),AHMEDABAD WEST (SC),BJP,0,Graduate Professional,"Rs 14,17,69,586 ~ 14 Crore+","Rs 1,32,22,046 ~ 1 Crore+"
4,5,Nilesh Dnyandev Lanke,AHMEDNAGAR,Nationalist Congress Party – Sharadchandra Pawar,2,Graduate,NaN,NaN
...,...,...,...,...,...,...,...,...
538,539,Amar Sharadrao Kale,WARDHA,Nationalist Congress Party – Sharadchandra Pawar,0,12th Pass,"Rs 10,61,75,044 ~ 10 Crore+","Rs 2,95,04,353 ~ 2 Crore+"
539,540,Rahul Gandhi,WAYANAD,INC,18,Post Graduate,NaN,NaN
540,541,Kamaljeet Sehrawat,WEST DELHI,BJP,0,Post Graduate,"Rs 14,74,36,650 ~ 14 Crore+","Rs 1,18,57,294 ~ 1 Crore+"
541,542,Sanjay Uttamrao Deshmukh,YAVATMAL - WASHIM,ShivSena (Uddhav Balasaheb Thackeray),0,Graduate,"Rs 28,44,22,940 ~ 28 Crore+","Rs 9,48,74,636 ~ 9 Crore+"
542,543,Suresh Kumar Shetkar,ZAHIRABAD,INC,1,Graduate,"Rs 10,77,11,726 ~ 10 Crore+","Rs 64,47,401 ~ 64 Lacs+"

In [125]:
# Apply the function to the 'Total Assets' and 'Liabilities' columns
winning_2019['Total Assets'] = winning_2019['Total Assets'].apply(clean_currency)
winning_2019['Liabilities'] = winning_2019['Liabilities'].apply(clean_currency)

winning_2024['Total Assets'] = winning_2024['Total Assets'].apply(clean_currency)
winning_2024['Liabilities'] = winning_2024['Liabilities'].apply(clean_currency)

In [126]:
winning_2024

,Sno,Candidate,Constituency ∇,Party,Criminal Case,Education,Total Assets,Liabilities
0,1,Godam Nagesh,ADILABAD (ST),BJP,1,Post Graduate,30916833,2901575
1,2,Prof S P Singh Baghel,AGRA (SC),BJP,0,Doctorate,104358691,5170325
2,3,Hasmukhbhai Patel (H.S.Patel),AHMEDABAD EAST,BJP,0,12th Pass,86470298,13515602
3,4,Dineshbhai Makwana (Advocate),AHMEDABAD WEST (SC),BJP,0,Graduate Professional,141769586,13222046
4,5,Nilesh Dnyandev Lanke,AHMEDNAGAR,Nationalist Congress Party – Sharadchandra Pawar,2,Graduate,0,0
...,...,...,...,...,...,...,...,...
538,539,Amar Sharadrao Kale,WARDHA,Nationalist Congress Party – Sharadchandra Pawar,0,12th Pass,106175044,29504353
539,540,Rahul Gandhi,WAYANAD,INC,18,Post Graduate,0,0
540,541,Kamaljeet Sehrawat,WEST DELHI,BJP,0,Post Graduate,147436650,11857294
541,542,Sanjay Uttamrao Deshmukh,YAVATMAL - WASHIM,ShivSena (Uddhav Balasaheb Thackeray),0,Graduate,284422940,94874636
542,543,Suresh Kumar Shetkar,ZAHIRABAD,INC,1,Graduate,107711726,6447401

In [127]:
winning_2019

,Sno,Candidate,Constituency ∇,Party,Criminal Case,Education,Total Assets,Liabilities
0,1,Bapu Rao Soyam,ADILABAD,BJP,52,12th Pass,3099414,231450
1,2,Satyapal Singh Baghel,AGRA,BJP,5,Doctorate,74274036,8606522
2,3,Patel Hasmukhbhai Somabhai,AHMEDABAD EAST,BJP,0,Others,74699690,6252577
3,4,Dr. Solanki Kiritbhai,AHMEDABAD WEST,BJP,0,Post Graduate,89474039,0
4,5,Sujay Radhakrishna Vikhe,AHMEDNAGAR,BJP,0,Doctorate,0,0
...,...,...,...,...,...,...,...,...
537,538,Ramdas Chandrabhanji Tadas,WARDHA,BJP,0,10th Pass,65807822,8961387
538,539,Rahul Gandhi,WAYANAD,INC,5,Post Graduate,158877063,7201904
539,540,Parvesh Sahib Singh,WEST DELHI,BJP,0,Post Graduate,0,0
540,541,Bhavana Pundlikrao Gawali,YAVATMAL WASHIM,SHS,3,Graduate,96873189,7396250
541,542,B.B.Patil,ZAHIRABAD,TRS,18,Graduate,1287851556,11535000

In [128]:
winning_2019.drop(columns=['Sno'], inplace=True)

In [129]:
winning_2019['Year'] = 2019

In [130]:
winning_2019.rename(columns={'Constituency ∇': 'Constituency', 'Criminal Case': 'Criminal Cases'}, inplace=True)

In [131]:
winning_2019

,Candidate,Constituency,Party,Criminal Cases,Education,Total Assets,Liabilities,Year
0,Bapu Rao Soyam,ADILABAD,BJP,52,12th Pass,3099414,231450,2019
1,Satyapal Singh Baghel,AGRA,BJP,5,Doctorate,74274036,8606522,2019
2,Patel Hasmukhbhai Somabhai,AHMEDABAD EAST,BJP,0,Others,74699690,6252577,2019
3,Dr. Solanki Kiritbhai,AHMEDABAD WEST,BJP,0,Post Graduate,89474039,0,2019
4,Sujay Radhakrishna Vikhe,AHMEDNAGAR,BJP,0,Doctorate,0,0,2019
...,...,...,...,...,...,...,...,...
537,Ramdas Chandrabhanji Tadas,WARDHA,BJP,0,10th Pass,65807822,8961387,2019
538,Rahul Gandhi,WAYANAD,INC,5,Post Graduate,158877063,7201904,2019
539,Parvesh Sahib Singh,WEST DELHI,BJP,0,Post Graduate,0,0,2019
540,Bhavana Pundlikrao Gawali,YAVATMAL WASHIM,SHS,3,Graduate,96873189,7396250,2019
541,B.B.Patil,ZAHIRABAD,TRS,18,Graduate,1287851556,11535000,2019

In [132]:
winning_2024.drop(columns=['Sno'], inplace=True)

In [133]:
winning_2024['Year'] = 2024

In [134]:
winning_2024.rename(columns={'Constituency ∇': 'Constituency', 'Criminal Case': 'Criminal Cases'}, inplace=True)

In [135]:
winning_2024

,Candidate,Constituency,Party,Criminal Cases,Education,Total Assets,Liabilities,Year
0,Godam Nagesh,ADILABAD (ST),BJP,1,Post Graduate,30916833,2901575,2024
1,Prof S P Singh Baghel,AGRA (SC),BJP,0,Doctorate,104358691,5170325,2024
2,Hasmukhbhai Patel (H.S.Patel),AHMEDABAD EAST,BJP,0,12th Pass,86470298,13515602,2024
3,Dineshbhai Makwana (Advocate),AHMEDABAD WEST (SC),BJP,0,Graduate Professional,141769586,13222046,2024
4,Nilesh Dnyandev Lanke,AHMEDNAGAR,Nationalist Congress Party – Sharadchandra Pawar,2,Graduate,0,0,2024
...,...,...,...,...,...,...,...,...
538,Amar Sharadrao Kale,WARDHA,Nationalist Congress Party – Sharadchandra Pawar,0,12th Pass,106175044,29504353,2024
539,Rahul Gandhi,WAYANAD,INC,18,Post Graduate,0,0,2024
540,Kamaljeet Sehrawat,WEST DELHI,BJP,0,Post Graduate,147436650,11857294,2024
541,Sanjay Uttamrao Deshmukh,YAVATMAL - WASHIM,ShivSena (Uddhav Balasaheb Thackeray),0,Graduate,284422940,94874636,2024
542,Suresh Kumar Shetkar,ZAHIRABAD,INC,1,Graduate,107711726,6447401,2024

In [136]:
winning_combined_df = pd.concat([winning_2019, winning_2024], ignore_index=True)
winning_combined_df

,Candidate,Constituency,Party,Criminal Cases,Education,Total Assets,Liabilities,Year
0,Bapu Rao Soyam,ADILABAD,BJP,52,12th Pass,3099414,231450,2019
1,Satyapal Singh Baghel,AGRA,BJP,5,Doctorate,74274036,8606522,2019
2,Patel Hasmukhbhai Somabhai,AHMEDABAD EAST,BJP,0,Others,74699690,6252577,2019
3,Dr. Solanki Kiritbhai,AHMEDABAD WEST,BJP,0,Post Graduate,89474039,0,2019
4,Sujay Radhakrishna Vikhe,AHMEDNAGAR,BJP,0,Doctorate,0,0,2019
...,...,...,...,...,...,...,...,...
1080,Amar Sharadrao Kale,WARDHA,Nationalist Congress Party – Sharadchandra Pawar,0,12th Pass,106175044,29504353,2024
1081,Rahul Gandhi,WAYANAD,INC,18,Post Graduate,0,0,2024
1082,Kamaljeet Sehrawat,WEST DELHI,BJP,0,Post Graduate,147436650,11857294,2024
1083,Sanjay Uttamrao Deshmukh,YAVATMAL - WASHIM,ShivSena (Uddhav Balasaheb Thackeray),0,Graduate,284422940,94874636,2024
1084,Suresh Kumar Shetkar,ZAHIRABAD,INC,1,Graduate,107711726,6447401,2024

In [137]:
winning_combined_df.to_csv("../data/processed/winning_background.csv", index=False)

### 5. Winning Candidates turnout dataset

In [138]:
winning_turnout_2019 = pd.read_csv("../data/raw/turnout_data_2019.csv")
winning_turnout_2024 = pd.read_csv("../data/raw/turnout_data_2024.csv")

In [139]:
winning_turnout_2019

,#,Unnamed: 1_level_0,Unnamed: 2_level_0,Unnamed: 3_level_0,Unnamed: 4_level_0,Unnamed: 5_level_0,Unnamed: 6_level_0,Unnamed: 7_level_0,Unnamed: 8_level_0,Unnamed: 9_level_0,Unnamed: 10_level_0,Unnamed: 11_level_0
0,#,PC Name,No,Type,State,Winning Candidate,Party,Electors,Votes,Turnout,Margin,Margin %
1,1,Adilabad,1,ST,Telangana,Soyam Bapu Rao,Bharatiya Janta Party,1382837,1063730,77.9 %,58560,5.5%
2,2,Agra,18,SC,Uttar Pradesh [2000 Onwards],Satyapal Singh Baghel,Bharatiya Janta Party,1866262,1145323,61.7 %,211546,18.5%
3,3,Ahmadnagar,37,GEN,Maharashtra,Dr. Sujay Radhakrishna Vikhepatil,Bharatiya Janta Party,1793677,1203797,67.3 %,281474,23.4%
4,4,Ahmedabad East,7,GEN,Gujarat,Patel Hasmukhbhai Somabhai,Bharatiya Janta Party,1713598,1116367,65.7 %,434330,38.9%
...,...,...,...,...,...,...,...,...,...,...,...,...
537,537,Wardha,8,GEN,Maharashtra,Ramdas Chandrabhanji Tadas,Bharatiya Janta Party,1679788,1072570,64.2 %,187191,17.5%
538,538,Wayanad,4,GEN,Kerala,Rahul Gandhi,Indian National Congress,1306141,1092197,83.8 %,431770,39.5%
539,539,West Delhi,6,GEN,Delhi [1977 Onwards],Sant Prasad Sinha,Bharatiya Janta Party,2039410,1441601,71.1 %,578486,40.1%
540,540,Yavatmal-Washi,14,GEN,Maharashtra,Bhavana Pundlikrao Gawali,Shiv Sena,1812059,1174220,65.0 %,117939,10.0%
541,541,Zahirabad,5,GEN,Telangana,B.B.Patil,Telangana Rashtra Samithi,1411026,1044365,74.8 %,6229,0.6%

In [140]:
winning_turnout_2019.columns = winning_turnout_2019.iloc[0]

In [141]:
winning_turnout_2019 = winning_turnout_2019.drop(0)

In [142]:
winning_turnout_2019.drop(columns=['#','No'], inplace=True)

In [143]:
winning_turnout_2019

,PC Name,Type,State,Winning Candidate,Party,Electors,Votes,Turnout,Margin,Margin %
1,Adilabad,ST,Telangana,Soyam Bapu Rao,Bharatiya Janta Party,1382837,1063730,77.9 %,58560,5.5%
2,Agra,SC,Uttar Pradesh [2000 Onwards],Satyapal Singh Baghel,Bharatiya Janta Party,1866262,1145323,61.7 %,211546,18.5%
3,Ahmadnagar,GEN,Maharashtra,Dr. Sujay Radhakrishna Vikhepatil,Bharatiya Janta Party,1793677,1203797,67.3 %,281474,23.4%
4,Ahmedabad East,GEN,Gujarat,Patel Hasmukhbhai Somabhai,Bharatiya Janta Party,1713598,1116367,65.7 %,434330,38.9%
5,Ahmedabad West,SC,Gujarat,Dr. Kirit P. Solanki,Bharatiya Janta Party,1580673,997024,64.0 %,321546,32.3%
...,...,...,...,...,...,...,...,...,...,...
537,Wardha,GEN,Maharashtra,Ramdas Chandrabhanji Tadas,Bharatiya Janta Party,1679788,1072570,64.2 %,187191,17.5%
538,Wayanad,GEN,Kerala,Rahul Gandhi,Indian National Congress,1306141,1092197,83.8 %,431770,39.5%
539,West Delhi,GEN,Delhi [1977 Onwards],Sant Prasad Sinha,Bharatiya Janta Party,2039410,1441601,71.1 %,578486,40.1%
540,Yavatmal-Washi,GEN,Maharashtra,Bhavana Pundlikrao Gawali,Shiv Sena,1812059,1174220,65.0 %,117939,10.0%
541,Zahirabad,GEN,Telangana,B.B.Patil,Telangana Rashtra Samithi,1411026,1044365,74.8 %,6229,0.6%

In [144]:
winning_turnout_2019.rename(columns={'PC Name': 'Constituency', 'Type': 'Category'}, inplace=True)

In [145]:
winning_turnout_2019

,Constituency,Category,State,Winning Candidate,Party,Electors,Votes,Turnout,Margin,Margin %
1,Adilabad,ST,Telangana,Soyam Bapu Rao,Bharatiya Janta Party,1382837,1063730,77.9 %,58560,5.5%
2,Agra,SC,Uttar Pradesh [2000 Onwards],Satyapal Singh Baghel,Bharatiya Janta Party,1866262,1145323,61.7 %,211546,18.5%
3,Ahmadnagar,GEN,Maharashtra,Dr. Sujay Radhakrishna Vikhepatil,Bharatiya Janta Party,1793677,1203797,67.3 %,281474,23.4%
4,Ahmedabad East,GEN,Gujarat,Patel Hasmukhbhai Somabhai,Bharatiya Janta Party,1713598,1116367,65.7 %,434330,38.9%
5,Ahmedabad West,SC,Gujarat,Dr. Kirit P. Solanki,Bharatiya Janta Party,1580673,997024,64.0 %,321546,32.3%
...,...,...,...,...,...,...,...,...,...,...
537,Wardha,GEN,Maharashtra,Ramdas Chandrabhanji Tadas,Bharatiya Janta Party,1679788,1072570,64.2 %,187191,17.5%
538,Wayanad,GEN,Kerala,Rahul Gandhi,Indian National Congress,1306141,1092197,83.8 %,431770,39.5%
539,West Delhi,GEN,Delhi [1977 Onwards],Sant Prasad Sinha,Bharatiya Janta Party,2039410,1441601,71.1 %,578486,40.1%
540,Yavatmal-Washi,GEN,Maharashtra,Bhavana Pundlikrao Gawali,Shiv Sena,1812059,1174220,65.0 %,117939,10.0%
541,Zahirabad,GEN,Telangana,B.B.Patil,Telangana Rashtra Samithi,1411026,1044365,74.8 %,6229,0.6%

In [146]:
winning_turnout_2019['Year'] = 2019

In [147]:
winning_turnout_2019

,Constituency,Category,State,Winning Candidate,Party,Electors,Votes,Turnout,Margin,Margin %,Year
1,Adilabad,ST,Telangana,Soyam Bapu Rao,Bharatiya Janta Party,1382837,1063730,77.9 %,58560,5.5%,2019
2,Agra,SC,Uttar Pradesh [2000 Onwards],Satyapal Singh Baghel,Bharatiya Janta Party,1866262,1145323,61.7 %,211546,18.5%,2019
3,Ahmadnagar,GEN,Maharashtra,Dr. Sujay Radhakrishna Vikhepatil,Bharatiya Janta Party,1793677,1203797,67.3 %,281474,23.4%,2019
4,Ahmedabad East,GEN,Gujarat,Patel Hasmukhbhai Somabhai,Bharatiya Janta Party,1713598,1116367,65.7 %,434330,38.9%,2019
5,Ahmedabad West,SC,Gujarat,Dr. Kirit P. Solanki,Bharatiya Janta Party,1580673,997024,64.0 %,321546,32.3%,2019
...,...,...,...,...,...,...,...,...,...,...,...
537,Wardha,GEN,Maharashtra,Ramdas Chandrabhanji Tadas,Bharatiya Janta Party,1679788,1072570,64.2 %,187191,17.5%,2019
538,Wayanad,GEN,Kerala,Rahul Gandhi,Indian National Congress,1306141,1092197,83.8 %,431770,39.5%,2019
539,West Delhi,GEN,Delhi [1977 Onwards],Sant Prasad Sinha,Bharatiya Janta Party,2039410,1441601,71.1 %,578486,40.1%,2019
540,Yavatmal-Washi,GEN,Maharashtra,Bhavana Pundlikrao Gawali,Shiv Sena,1812059,1174220,65.0 %,117939,10.0%,2019
541,Zahirabad,GEN,Telangana,B.B.Patil,Telangana Rashtra Samithi,1411026,1044365,74.8 %,6229,0.6%,2019

In [148]:
winning_turnout_2024

,#,Unnamed: 1_level_0,Unnamed: 2_level_0,Unnamed: 3_level_0,Unnamed: 4_level_0,Unnamed: 5_level_0,Unnamed: 6_level_0,Unnamed: 7_level_0,Unnamed: 8_level_0,Unnamed: 9_level_0,Unnamed: 10_level_0,Unnamed: 11_level_0
0,#,PC Name,No,Type,State,Winning Candidate,Party,Electors,Votes,Turnout,Margin,Margin %
1,1,Adilabad,1,ST,Telangana,Godam Nagesh,Bharatiya Janta Party,1650175,1235597,74.9 %,90652.0,7.3%
2,2,Agra,18,SC,Uttar Pradesh [2000 Onwards],Prof S P Singh Baghel,Bharatiya Janta Party,2072685,1123779,54.2 %,271294.0,24.1%
3,3,Ahmadnagar,37,GEN,Maharashtra,Nilesh Dnyandev Lanke,Nationalist Congress Party – Sharadchandra Pawar,1981866,1325477,66.9 %,28929.0,2.2%
4,4,Ahmedabad East,7,GEN,Gujarat,Hasmukhbhai Patel (H.S.PATEL),Bharatiya Janta Party,2038162,1128339,55.4 %,461755.0,40.9%
...,...,...,...,...,...,...,...,...,...,...,...,...
539,539,Wardha,8,GEN,Maharashtra,Amar Sharadrao Kale,Nationalist Congress Party – Sharadchandra Pawar,1682771,1095012,65.1 %,81648.0,7.5%
540,540,Wayanad,4,GEN,Kerala,Rahul Gandhi,Indian National Congress,1462423,1084653,74.2 %,364422.0,33.6%
541,541,West Delhi,6,GEN,Delhi [1977 Onwards],Kamaljeet Sehrawat,Bharatiya Janta Party,2587977,1524494,58.9 %,199013.0,13.1%
542,542,Yavatmal-Washi,14,GEN,Maharashtra,Sanjay Uttamrao Deshmukh,Shiv Sena (Uddhav Balasaheb Thackrey),1940916,1225530,63.1 %,94473.0,7.7%
543,543,Zahirabad,5,GEN,Telangana,Suresh Kumar Shetkar,Indian National Congress,1641410,1236593,75.3 %,46188.0,3.7%

In [149]:
winning_turnout_2024.columns = winning_turnout_2024.iloc[0]

winning_turnout_2024 = winning_turnout_2024.drop(0)

winning_turnout_2024.drop(columns=['#','No'], inplace=True)

winning_turnout_2024['Year'] = 2024

winning_turnout_2024.rename(columns={'PC Name': 'Constituency', 'Type': 'Category'}, inplace=True)

In [150]:
winning_turnout_2024

,Constituency,Category,State,Winning Candidate,Party,Electors,Votes,Turnout,Margin,Margin %,Year
1,Adilabad,ST,Telangana,Godam Nagesh,Bharatiya Janta Party,1650175,1235597,74.9 %,90652.0,7.3%,2024
2,Agra,SC,Uttar Pradesh [2000 Onwards],Prof S P Singh Baghel,Bharatiya Janta Party,2072685,1123779,54.2 %,271294.0,24.1%,2024
3,Ahmadnagar,GEN,Maharashtra,Nilesh Dnyandev Lanke,Nationalist Congress Party – Sharadchandra Pawar,1981866,1325477,66.9 %,28929.0,2.2%,2024
4,Ahmedabad East,GEN,Gujarat,Hasmukhbhai Patel (H.S.PATEL),Bharatiya Janta Party,2038162,1128339,55.4 %,461755.0,40.9%,2024
5,Ahmedabad West,SC,Gujarat,Dineshbhai Makwana (ADVOCATE),Bharatiya Janta Party,1726987,966646,56.0 %,286437.0,29.6%,2024
...,...,...,...,...,...,...,...,...,...,...,...
539,Wardha,GEN,Maharashtra,Amar Sharadrao Kale,Nationalist Congress Party – Sharadchandra Pawar,1682771,1095012,65.1 %,81648.0,7.5%,2024
540,Wayanad,GEN,Kerala,Rahul Gandhi,Indian National Congress,1462423,1084653,74.2 %,364422.0,33.6%,2024
541,West Delhi,GEN,Delhi [1977 Onwards],Kamaljeet Sehrawat,Bharatiya Janta Party,2587977,1524494,58.9 %,199013.0,13.1%,2024
542,Yavatmal-Washi,GEN,Maharashtra,Sanjay Uttamrao Deshmukh,Shiv Sena (Uddhav Balasaheb Thackrey),1940916,1225530,63.1 %,94473.0,7.7%,2024
543,Zahirabad,GEN,Telangana,Suresh Kumar Shetkar,Indian National Congress,1641410,1236593,75.3 %,46188.0,3.7%,2024

In [151]:
winning_turnout_combined = pd.concat([winning_turnout_2019, winning_turnout_2024], ignore_index=True)

In [152]:
winning_turnout_combined

,Constituency,Category,State,Winning Candidate,Party,Electors,Votes,Turnout,Margin,Margin %,Year
0,Adilabad,ST,Telangana,Soyam Bapu Rao,Bharatiya Janta Party,1382837,1063730,77.9 %,58560,5.5%,2019
1,Agra,SC,Uttar Pradesh [2000 Onwards],Satyapal Singh Baghel,Bharatiya Janta Party,1866262,1145323,61.7 %,211546,18.5%,2019
2,Ahmadnagar,GEN,Maharashtra,Dr. Sujay Radhakrishna Vikhepatil,Bharatiya Janta Party,1793677,1203797,67.3 %,281474,23.4%,2019
3,Ahmedabad East,GEN,Gujarat,Patel Hasmukhbhai Somabhai,Bharatiya Janta Party,1713598,1116367,65.7 %,434330,38.9%,2019
4,Ahmedabad West,SC,Gujarat,Dr. Kirit P. Solanki,Bharatiya Janta Party,1580673,997024,64.0 %,321546,32.3%,2019
...,...,...,...,...,...,...,...,...,...,...,...
1079,Wardha,GEN,Maharashtra,Amar Sharadrao Kale,Nationalist Congress Party – Sharadchandra Pawar,1682771,1095012,65.1 %,81648.0,7.5%,2024
1080,Wayanad,GEN,Kerala,Rahul Gandhi,Indian National Congress,1462423,1084653,74.2 %,364422.0,33.6%,2024
1081,West Delhi,GEN,Delhi [1977 Onwards],Kamaljeet Sehrawat,Bharatiya Janta Party,2587977,1524494,58.9 %,199013.0,13.1%,2024
1082,Yavatmal-Washi,GEN,Maharashtra,Sanjay Uttamrao Deshmukh,Shiv Sena (Uddhav Balasaheb Thackrey),1940916,1225530,63.1 %,94473.0,7.7%,2024
1083,Zahirabad,GEN,Telangana,Suresh Kumar Shetkar,Indian National Congress,1641410,1236593,75.3 %,46188.0,3.7%,2024

In [153]:
winning_turnout_combined.to_csv("../data/processed/winning_turnout.csv", index=False)

### 6. Socio-Demographic Data

#### Literacy Data

In [154]:
census_data = pd.read_csv("../data/raw/census_data_combined.csv")

In [155]:
census_data

,Type,Area (Sq Km),Male,Female,Population Total,Male SC,Female SC,Total SC,Male ST,Female ST,Total ST,Male Literates,Female Literates,Total Literates,State
0,Rural,8211,"1,26,287 (33.2%)","1,10,806 (29.1%)","2,37,093 (62.3%)",-,-,-,"13,837 (3.6%)","12,878 (3.4%)","26,715 (7.0%)","99,960 (26.3%)","78,065 (20.5%)","1,78,025 (46.8%)",Andaman and Nicobar Islands
1,Urban,37,"76,584 (20.1%)","66,904 (17.6%)","1,43,488 (37.7%)",-,-,-,894 (0.2%),921 (0.2%),"1,815 (0.5%)","64,417 (16.9%)","51,839 (13.6%)","1,16,256 (30.5%)",Andaman and Nicobar Islands
2,Total,8249,"2,02,871 (53.3%)","1,77,710 (46.7%)","3,80,581 (100.0%)",-,-,-,"14,731 (3.9%)","13,799 (3.6%)","28,530 (7.5%)","1,64,377 (43.2%)","1,29,904 (34.1%)","2,94,281 (77.3%)",Andaman and Nicobar Islands
3,Rural,-,"5,46,011 (39.5%)","5,20,347 (37.6%)","10,66,358 (77.1%)",-,-,-,"3,90,625 (28.2%)","3,99,221 (28.9%)","7,89,846 (57.1%)","3,09,390 (22.4%)","2,26,512 (16.4%)","5,35,902 (38.7%)",Arunachal Pradesh
4,Urban,-,"1,67,901 (12.1%)","1,49,468 (10.8%)","3,17,369 (22.9%)",-,-,-,"77,765 (5.6%)","84,210 (6.1%)","1,61,975 (11.7%)","1,30,478 (9.4%)","99,625 (7.2%)","2,30,103 (16.6%)",Arunachal Pradesh
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97,Urban,901,"16,18,731 (16.0%)","14,30,607 (14.2%)","30,49,338 (30.2%)","2,07,483 (2.1%)","1,88,368 (1.9%)","3,95,851 (3.9%)","13,978 (0.1%)","13,106 (0.1%)","27,084 (0.3%)","12,67,537 (12.6%)","9,99,366 (9.9%)","22,66,903 (22.5%)",Uttarakhand
98,Total,53483,"51,37,773 (50.9%)","49,48,519 (49.1%)","1,00,86,292 (100.0%)","9,68,586 (9.6%)","9,23,930 (9.2%)","18,92,516 (18.8%)","1,48,669 (1.5%)","1,43,234 (1.4%)","2,91,903 (2.9%)","38,63,708 (38.3%)","30,17,245 (29.9%)","68,80,953 (68.2%)",Uttarakhand
99,Rural,83632,"3,18,44,945 (34.9%)","3,03,38,168 (33.2%)","6,21,83,113 (68.1%)","87,64,294 (9.6%)","83,30,813 (9.1%)","1,70,95,107 (18.7%)","24,28,057 (2.7%)","24,27,058 (2.7%)","48,55,115 (5.3%)","2,18,48,197 (23.9%)","1,73,65,582 (19.0%)","3,92,13,779 (43.0%)",West Bengal
100,Urban,5119,"1,49,64,082 (16.4%)","1,41,28,920 (15.5%)","2,90,93,002 (31.9%)","22,39,010 (2.5%)","21,29,153 (2.3%)","43,68,163 (4.8%)","2,21,917 (0.2%)","2,19,921 (0.2%)","4,41,838 (0.5%)","1,19,70,613 (13.1%)","1,03,53,889 (11.3%)","2,23,24,502 (24.5%)",West Bengal
101,Total,88752,"4,68,09,027 (51.3%)","4,44,67,088 (48.7%)","9,12,76,115 (100.0%)","1,10,03,304 (12.1%)","1,04,59,966 (11.5%)","2,14,63,270 (23.5%)","26,49,974 (2.9%)","26,46,979 (2.9%)","52,96,953 (5.8%)","3,38,18,810 (37.1%)","2,77,19,471 (30.4%)","6,15,38,281 (67.4%)",West Bengal

Removing percentages

In [156]:
census_data = census_data.replace(to_replace=r'\s*\(.*?\)', value='', regex=True)

In [157]:
census_data

,Type,Area (Sq Km),Male,Female,Population Total,Male SC,Female SC,Total SC,Male ST,Female ST,Total ST,Male Literates,Female Literates,Total Literates,State
0,Rural,8211,"1,26,287","1,10,806","2,37,093",-,-,-,"13,837","12,878","26,715","99,960","78,065","1,78,025",Andaman and Nicobar Islands
1,Urban,37,"76,584","66,904","1,43,488",-,-,-,894,921,"1,815","64,417","51,839","1,16,256",Andaman and Nicobar Islands
2,Total,8249,"2,02,871","1,77,710","3,80,581",-,-,-,"14,731","13,799","28,530","1,64,377","1,29,904","2,94,281",Andaman and Nicobar Islands
3,Rural,-,"5,46,011","5,20,347","10,66,358",-,-,-,"3,90,625","3,99,221","7,89,846","3,09,390","2,26,512","5,35,902",Arunachal Pradesh
4,Urban,-,"1,67,901","1,49,468","3,17,369",-,-,-,"77,765","84,210","1,61,975","1,30,478","99,625","2,30,103",Arunachal Pradesh
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97,Urban,901,"16,18,731","14,30,607","30,49,338","2,07,483","1,88,368","3,95,851","13,978","13,106","27,084","12,67,537","9,99,366","22,66,903",Uttarakhand
98,Total,53483,"51,37,773","49,48,519","1,00,86,292","9,68,586","9,23,930","18,92,516","1,48,669","1,43,234","2,91,903","38,63,708","30,17,245","68,80,953",Uttarakhand
99,Rural,83632,"3,18,44,945","3,03,38,168","6,21,83,113","87,64,294","83,30,813","1,70,95,107","24,28,057","24,27,058","48,55,115","2,18,48,197","1,73,65,582","3,92,13,779",West Bengal
100,Urban,5119,"1,49,64,082","1,41,28,920","2,90,93,002","22,39,010","21,29,153","43,68,163","2,21,917","2,19,921","4,41,838","1,19,70,613","1,03,53,889","2,23,24,502",West Bengal
101,Total,88752,"4,68,09,027","4,44,67,088","9,12,76,115","1,10,03,304","1,04,59,966","2,14,63,270","26,49,974","26,46,979","52,96,953","3,38,18,810","2,77,19,471","6,15,38,281",West Bengal

Replacing - with NA

In [158]:
census_data.replace(pd.NA, np.nan, inplace=True)

In [159]:
census_data

,Type,Area (Sq Km),Male,Female,Population Total,Male SC,Female SC,Total SC,Male ST,Female ST,Total ST,Male Literates,Female Literates,Total Literates,State
0,Rural,8211,"1,26,287","1,10,806","2,37,093",-,-,-,"13,837","12,878","26,715","99,960","78,065","1,78,025",Andaman and Nicobar Islands
1,Urban,37,"76,584","66,904","1,43,488",-,-,-,894,921,"1,815","64,417","51,839","1,16,256",Andaman and Nicobar Islands
2,Total,8249,"2,02,871","1,77,710","3,80,581",-,-,-,"14,731","13,799","28,530","1,64,377","1,29,904","2,94,281",Andaman and Nicobar Islands
3,Rural,-,"5,46,011","5,20,347","10,66,358",-,-,-,"3,90,625","3,99,221","7,89,846","3,09,390","2,26,512","5,35,902",Arunachal Pradesh
4,Urban,-,"1,67,901","1,49,468","3,17,369",-,-,-,"77,765","84,210","1,61,975","1,30,478","99,625","2,30,103",Arunachal Pradesh
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97,Urban,901,"16,18,731","14,30,607","30,49,338","2,07,483","1,88,368","3,95,851","13,978","13,106","27,084","12,67,537","9,99,366","22,66,903",Uttarakhand
98,Total,53483,"51,37,773","49,48,519","1,00,86,292","9,68,586","9,23,930","18,92,516","1,48,669","1,43,234","2,91,903","38,63,708","30,17,245","68,80,953",Uttarakhand
99,Rural,83632,"3,18,44,945","3,03,38,168","6,21,83,113","87,64,294","83,30,813","1,70,95,107","24,28,057","24,27,058","48,55,115","2,18,48,197","1,73,65,582","3,92,13,779",West Bengal
100,Urban,5119,"1,49,64,082","1,41,28,920","2,90,93,002","22,39,010","21,29,153","43,68,163","2,21,917","2,19,921","4,41,838","1,19,70,613","1,03,53,889","2,23,24,502",West Bengal
101,Total,88752,"4,68,09,027","4,44,67,088","9,12,76,115","1,10,03,304","1,04,59,966","2,14,63,270","26,49,974","26,46,979","52,96,953","3,38,18,810","2,77,19,471","6,15,38,281",West Bengal

In [160]:
# Remove commas and convert to integers for the relevant columns
sc_st_cols = ['Male SC', 'Female SC', 'Total SC', 'Male ST', 'Female ST', 'Total ST']
numerical_cols = ['Male', 'Female', 'Population Total', 'Male Literates', 'Female Literates', 'Total Literates'] + sc_st_cols
for col in numerical_cols:
    census_data[col] = census_data[col].str.replace(',', '')  # Remove commas
    census_data[col] = pd.to_numeric(census_data[col], errors='coerce').fillna(0).astype(int)  # Convert to numeric and handle NaNs

# Now you can continue with the rest of your cleaning process

In [161]:
census_data

,Type,Area (Sq Km),Male,Female,Population Total,Male SC,Female SC,Total SC,Male ST,Female ST,Total ST,Male Literates,Female Literates,Total Literates,State
0,Rural,8211,126287,110806,237093,0,0,0,13837,12878,26715,99960,78065,178025,Andaman and Nicobar Islands
1,Urban,37,76584,66904,143488,0,0,0,894,921,1815,64417,51839,116256,Andaman and Nicobar Islands
2,Total,8249,202871,177710,380581,0,0,0,14731,13799,28530,164377,129904,294281,Andaman and Nicobar Islands
3,Rural,-,546011,520347,1066358,0,0,0,390625,399221,789846,309390,226512,535902,Arunachal Pradesh
4,Urban,-,167901,149468,317369,0,0,0,77765,84210,161975,130478,99625,230103,Arunachal Pradesh
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97,Urban,901,1618731,1430607,3049338,207483,188368,395851,13978,13106,27084,1267537,999366,2266903,Uttarakhand
98,Total,53483,5137773,4948519,10086292,968586,923930,1892516,148669,143234,291903,3863708,3017245,6880953,Uttarakhand
99,Rural,83632,31844945,30338168,62183113,8764294,8330813,17095107,2428057,2427058,4855115,21848197,17365582,39213779,West Bengal
100,Urban,5119,14964082,14128920,29093002,2239010,2129153,4368163,221917,219921,441838,11970613,10353889,22324502,West Bengal
101,Total,88752,46809027,44467088,91276115,11003304,10459966,21463270,2649974,2646979,5296953,33818810,27719471,61538281,West Bengal

In [162]:
census_data[numerical_cols] = census_data[numerical_cols].astype(int)
# Reorder the columns for better readability
census_data = census_data[['State', 'Type', 'Area (Sq Km)', 'Population Total', 'Male', 'Female', 
                           'Male Literates', 'Female Literates', 'Total Literates', 
                           'Male SC', 'Female SC', 'Total SC', 'Male ST', 'Female ST', 'Total ST']]

In [163]:
census_data.drop(columns=['Area (Sq Km)'], inplace=True)

C:\Users\ujjwa\AppData\Local\Temp\ipykernel_17232\210085945.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  census_data.drop(columns=['Area (Sq Km)'], inplace=True)

In [164]:
census_data

,State,Type,Population Total,Male,Female,Male Literates,Female Literates,Total Literates,Male SC,Female SC,Total SC,Male ST,Female ST,Total ST
0,Andaman and Nicobar Islands,Rural,237093,126287,110806,99960,78065,178025,0,0,0,13837,12878,26715
1,Andaman and Nicobar Islands,Urban,143488,76584,66904,64417,51839,116256,0,0,0,894,921,1815
2,Andaman and Nicobar Islands,Total,380581,202871,177710,164377,129904,294281,0,0,0,14731,13799,28530
3,Arunachal Pradesh,Rural,1066358,546011,520347,309390,226512,535902,0,0,0,390625,399221,789846
4,Arunachal Pradesh,Urban,317369,167901,149468,130478,99625,230103,0,0,0,77765,84210,161975
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97,Uttarakhand,Urban,3049338,1618731,1430607,1267537,999366,2266903,207483,188368,395851,13978,13106,27084
98,Uttarakhand,Total,10086292,5137773,4948519,3863708,3017245,6880953,968586,923930,1892516,148669,143234,291903
99,West Bengal,Rural,62183113,31844945,30338168,21848197,17365582,39213779,8764294,8330813,17095107,2428057,2427058,4855115
100,West Bengal,Urban,29093002,14964082,14128920,11970613,10353889,22324502,2239010,2129153,4368163,221917,219921,441838
101,West Bengal,Total,91276115,46809027,44467088,33818810,27719471,61538281,11003304,10459966,21463270,2649974,2646979,5296953

In [165]:
census_data.to_csv('../data/processed/census_data.csv', index=False)

#### Literacy Data

In [166]:
literacy_data = pd.read_csv('../data/raw/literacy.csv')

In [167]:
literacy_data

     #                        State  Literacy   Male  Female  % Change
0    -                        India     74.04  82.14   65.46      8.66
1    1                       Kerala     94.00  96.11   92.07      3.14
2    2                  Lakshadweep     91.85  95.56   87.95      5.19
3    3                      Mizoram     91.33  93.35   89.27      2.53
4    4                          Goa     88.70  92.65   84.66      6.69
5    5                      Tripura     87.22  91.53   82.73     14.03
6    6                Daman and Diu     87.10  91.54   79.55      8.92
7    7  Andaman and Nicobar Islands     86.63  90.27   82.43      5.33
8    8                        Delhi     86.21  90.94   80.76      4.54
9    9                   Chandigarh     86.05  89.99   81.19      4.11
10  10                   Puducherry     85.85  91.26   80.67      4.61
11  11             Himachal Pradesh     82.80  89.53   75.93      6.32
12  12                  Maharashtra     82.34  88.38   75.87      5.46
13  13                       Sikkim     81.42  86.55   75.61     12.61
14  14                   Tamil Nadu     80.09  86.77   73.44      6.64
15  15                     Nagaland     79.55  82.75   76.11     12.96
16  16                  Uttarakhand     78.82  87.40   70.01      7.20
17  17                      Gujarat     78.03  85.75   69.68      8.89
18  18                      Manipur     76.94  83.58   70.26     10.33
19  19                  West Bengal     76.26  81.69   70.54      7.62
20  20       Dadra and Nagar Haveli     76.24  85.17   64.32     18.61
21  21                       Punjab     75.84  80.44   70.73      6.19
22  22                      Haryana     75.55  84.06   65.94      7.64
23  23                    Karnataka     75.36  82.47   68.08      8.72
24  24                    Meghalaya     74.43  75.95   72.89     11.87
25  25                       Orissa     72.87  81.59   64.01      9.79
26  26                        Assam     72.19  77.85   66.27      8.94
27  27                 Chhattisgarh     70.28  80.27   60.24      5.62
28  28               Madhya Pradesh     69.32  78.73   59.24      5.58
29  29                Uttar Pradesh     67.68  77.28   57.18     11.41
30  30            Jammu and Kashmir     67.16  76.75   56.43     11.64
31  31               Andhra Pradesh     67.02  74.88   59.15      6.55
32  32                    Jharkhand     66.41  76.84   55.42     12.85
33  33                    Rajasthan     66.11  79.19   52.12      5.70
34  34            Arunachal Pradesh     65.38  72.55   57.70     11.04
35  35                        Bihar     61.80  71.20   51.50     14.80

In [168]:
# Delete the 0th row
literacy_data = literacy_data.drop(index=0)

# Delete the column named '#'
literacy_data = literacy_data.drop(columns=['#'])

# Arranging in alphabetical order
literacy_data = literacy_data.sort_values(by='State')

# Resetting the index (optional, if you want to have a clean index after dropping rows)
literacy_data.reset_index(drop=True, inplace=True)

In [169]:
literacy_data

                          State  Literacy   Male  Female  % Change
0   Andaman and Nicobar Islands     86.63  90.27   82.43      5.33
1                Andhra Pradesh     67.02  74.88   59.15      6.55
2             Arunachal Pradesh     65.38  72.55   57.70     11.04
3                         Assam     72.19  77.85   66.27      8.94
4                         Bihar     61.80  71.20   51.50     14.80
5                    Chandigarh     86.05  89.99   81.19      4.11
6                  Chhattisgarh     70.28  80.27   60.24      5.62
7        Dadra and Nagar Haveli     76.24  85.17   64.32     18.61
8                 Daman and Diu     87.10  91.54   79.55      8.92
9                         Delhi     86.21  90.94   80.76      4.54
10                          Goa     88.70  92.65   84.66      6.69
11                      Gujarat     78.03  85.75   69.68      8.89
12                      Haryana     75.55  84.06   65.94      7.64
13             Himachal Pradesh     82.80  89.53   75.93      6.32
14            Jammu and Kashmir     67.16  76.75   56.43     11.64
15                    Jharkhand     66.41  76.84   55.42     12.85
16                    Karnataka     75.36  82.47   68.08      8.72
17                       Kerala     94.00  96.11   92.07      3.14
18                  Lakshadweep     91.85  95.56   87.95      5.19
19               Madhya Pradesh     69.32  78.73   59.24      5.58
20                  Maharashtra     82.34  88.38   75.87      5.46
21                      Manipur     76.94  83.58   70.26     10.33
22                    Meghalaya     74.43  75.95   72.89     11.87
23                      Mizoram     91.33  93.35   89.27      2.53
24                     Nagaland     79.55  82.75   76.11     12.96
25                       Orissa     72.87  81.59   64.01      9.79
26                   Puducherry     85.85  91.26   80.67      4.61
27                       Punjab     75.84  80.44   70.73      6.19
28                    Rajasthan     66.11  79.19   52.12      5.70
29                       Sikkim     81.42  86.55   75.61     12.61
30                   Tamil Nadu     80.09  86.77   73.44      6.64
31                      Tripura     87.22  91.53   82.73     14.03
32                Uttar Pradesh     67.68  77.28   57.18     11.41
33                  Uttarakhand     78.82  87.40   70.01      7.20
34                  West Bengal     76.26  81.69   70.54      7.62

In [170]:
literacy_data.to_csv('../data/processed/literacy_data.csv', index=False)

#### Religion Data

In [171]:
religion_data = pd.read_csv('../data/raw/religion.csv')

In [172]:
religion_data

                          State Majority Religion   Hindu  Muslim
0                 Uttar Pradesh             Hindu  79.73%  19.26%
1                   Maharashtra             Hindu  79.83%  11.54%
2                         Bihar             Hindu  82.69%  16.87%
3                   West Bengal             Hindu  70.54%  27.01%
4                Andhra Pradesh             Hindu  88.46%   9.56%
5                Madhya Pradesh             Hindu  90.89%   6.57%
6                    Tamil Nadu             Hindu  87.58%   5.86%
7                     Rajasthan             Hindu  88.49%   9.07%
8                     Karnataka             Hindu  84.00%  12.92%
9                       Gujarat             Hindu  88.57%   9.67%
10                       Orissa             Hindu  93.63%   2.17%
11                       Kerala             Hindu  54.73%  26.56%
12                    Jharkhand             Hindu  67.83%  14.53%
13                        Assam             Hindu  61.47%  34.22%
14                       Punjab              Sikh  38.49%   1.93%
15                 Chhattisgarh             Hindu  93.25%   2.02%
16                      Haryana             Hindu  87.46%   7.03%
17                        Delhi             Hindu  81.68%  12.86%
18            Jammu and Kashmir            Muslim  28.44%  68.31%
19                  Uttarakhand             Hindu  82.97%  13.95%
20             Himachal Pradesh             Hindu  95.17%   2.18%
21                      Tripura             Hindu  83.40%   8.60%
22                    Meghalaya         Christian  11.53%   4.40%
23                      Manipur             Hindu  41.39%   8.40%
24                     Nagaland         Christian   8.75%   2.47%
25                          Goa             Hindu  66.08%   8.33%
26            Arunachal Pradesh         Christian  29.04%   1.95%
27                   Puducherry             Hindu  87.30%   6.05%
28                      Mizoram         Christian   2.75%   1.35%
29                   Chandigarh             Hindu  80.78%   4.87%
30                       Sikkim             Hindu  57.76%   1.62%
31  Andaman and Nicobar Islands             Hindu  69.45%   8.52%
32       Dadra and Nagar Haveli             Hindu  93.93%   3.76%
33                Daman and Diu             Hindu  90.50%   7.92%
34                  Lakshadweep            Muslim   2.77%  96.58%

Only the percentage signs need to be removed.

In [173]:
religion_data['Hindu'] = religion_data['Hindu'].str.rstrip('%').astype('float')
religion_data['Muslim'] = religion_data['Muslim'].str.rstrip('%').astype('float')
religion_data.rename(columns={'Hindu': 'Hindu (%)', 'Muslim': 'Muslim (%)'}, inplace=True)
religion_data = religion_data.sort_values(by='State')
religion_data.reset_index(drop=True, inplace=True)

In [174]:
religion_data

                          State Majority Religion  Hindu (%)  Muslim (%)
0   Andaman and Nicobar Islands             Hindu      69.45        8.52
1                Andhra Pradesh             Hindu      88.46        9.56
2             Arunachal Pradesh         Christian      29.04        1.95
3                         Assam             Hindu      61.47       34.22
4                         Bihar             Hindu      82.69       16.87
5                    Chandigarh             Hindu      80.78        4.87
6                  Chhattisgarh             Hindu      93.25        2.02
7        Dadra and Nagar Haveli             Hindu      93.93        3.76
8                 Daman and Diu             Hindu      90.50        7.92
9                         Delhi             Hindu      81.68       12.86
10                          Goa             Hindu      66.08        8.33
11                      Gujarat             Hindu      88.57        9.67
12                      Haryana             Hindu      87.46        7.03
13             Himachal Pradesh             Hindu      95.17        2.18
14            Jammu and Kashmir            Muslim      28.44       68.31
15                    Jharkhand             Hindu      67.83       14.53
16                    Karnataka             Hindu      84.00       12.92
17                       Kerala             Hindu      54.73       26.56
18                  Lakshadweep            Muslim       2.77       96.58
19               Madhya Pradesh             Hindu      90.89        6.57
20                  Maharashtra             Hindu      79.83       11.54
21                      Manipur             Hindu      41.39        8.40
22                    Meghalaya         Christian      11.53        4.40
23                      Mizoram         Christian       2.75        1.35
24                     Nagaland         Christian       8.75        2.47
25                       Orissa             Hindu      93.63        2.17
26                   Puducherry             Hindu      87.30        6.05
27                       Punjab              Sikh      38.49        1.93
28                    Rajasthan             Hindu      88.49        9.07
29                       Sikkim             Hindu      57.76        1.62
30                   Tamil Nadu             Hindu      87.58        5.86
31                      Tripura             Hindu      83.40        8.60
32                Uttar Pradesh             Hindu      79.73       19.26
33                  Uttarakhand             Hindu      82.97       13.95
34                  West Bengal             Hindu      70.54       27.01

In [175]:
religion_data.to_csv('../data/processed/religion_data.csv', index=False)

#### SC data

In [176]:
sc_data = pd.read_csv('../data/raw/sc.csv')

In [177]:
sc_data

,#,State,No_HH,Population,Males,Female,Child(0-6),Literacy,Sex-Ratio
0,-,India,41694863,201378372,103535314,97843058,14.50 %,66.07 %,945
1,1,Uttar Pradesh,7375437,41357608,21676975,19680633,16.81 %,60.89 %,908
2,2,West Bengal,4861303,21463270,11003304,10459966,11.91 %,69.43 %,951
3,3,Tamil Nadu,3591953,14438445,7204687,7233758,11.02 %,73.26 %,1004
4,4,Andhra Pradesh,3429973,13878078,6913047,6965031,11.17 %,62.28 %,1008
5,5,Bihar,3073109,16567325,8606253,7961072,21.02 %,48.65 %,925
6,6,Maharashtra,2898245,13275898,6767759,6508139,12.20 %,79.66 %,962
7,7,Madhya Pradesh,2402342,11342320,5908638,5433682,15.51 %,66.16 %,920
8,8,Rajasthan,2279366,12221593,6355564,5866029,16.60 %,59.75 %,923
9,9,Karnataka,2178501,10474992,5264545,5210447,12.97 %,65.33 %,990
10,10,Punjab,1717888,8860179,4639875,4220304,12.80 %,64.81 %,910
11,11,Orissa,1669787,7188463,3617808,3570655,13.26 %,69.02 %,987
12,12,Haryana,992096,5113615,2709656,2403959,14.87 %,66.85 %,887
13,13,Gujarat,817281,4074447,2110331,1964116,12.13 %,79.18 %,931
14,14,Jharkhand,753644,3985644,2043458,1942186,18.29 %,55.89 %,950
15,15,Chhattisgarh,749457,3274269,1641738,1632531,15.47 %,70.76 %,994
16,16,Kerala,725582,3039573,1477808,1561765,9.43 %,88.73 %,1057
17,17,Delhi,527307,2812309,1488800,1323509,12.79 %,78.89 %,889
18,18,Assam,468568,2231321,1145314,1086007,13.29 %,76.99 %,948
19,19,Uttarakhand,363305,1892516,968586,923930,15.20 %,74.41 %,954
20,20,Himachal Pradesh,358212,1729252,876300,852952,12.54 %,78.92 %,973
21,21,Jammu and Kashmir,183020,924991,486232,438759,13.70 %,70.16 %,902
22,22,Tripura,154112,654918,334370,320548,11.77 %,89.45 %,959
23,23,Puducherry,45409,196325,95512,100813,11.71 %,77.90 %,1056
24,24,Chandigarh,40694,199086,106356,92730,13.32 %,76.45 %,872
25,25,Manipur,20349,97328,48863,48465,12.92 %,76.09 %,992
26,26,Sikkim,5930,28275,14454,13821,12.44 %,77.54 %,956
27,27,Goa,5545,25449,12627,12822,10.44 %,83.73 %,1015
28,28,Meghalaya,3533,17355,9157,8198,13.66 %,68.57 %,895
29,29,Dadra and Nagar Haveli,1353,6186,3339,2847,12.42 %,89.42 %,853
30,30,Daman and Diu,1288,6124,3151,2973,9.98 %,92.56 %,944
31,31,Mizoram,274,1218,807,411,9.93 %,92.43 %,509
32,32,Arunachal Pradesh,-,-,-,-,-,-,-
33,33,Nagaland,-,-,-,-,-,-,-
34,34,Lakshadweep,-,-,-,-,-,-,-
35,35,Andaman and Nicobar Islands,-,-,-,-,-,-,-

Data for some states isn't available.

In [178]:
# Replace '-' with np.nan
sc_data.replace('-', np.nan, inplace=True)

In [179]:
sc_data

,#,State,No_HH,Population,Males,Female,Child(0-6),Literacy,Sex-Ratio
0,NaN,India,41694863,201378372,103535314,97843058,14.50 %,66.07 %,945
1,1,Uttar Pradesh,7375437,41357608,21676975,19680633,16.81 %,60.89 %,908
2,2,West Bengal,4861303,21463270,11003304,10459966,11.91 %,69.43 %,951
3,3,Tamil Nadu,3591953,14438445,7204687,7233758,11.02 %,73.26 %,1004
4,4,Andhra Pradesh,3429973,13878078,6913047,6965031,11.17 %,62.28 %,1008
5,5,Bihar,3073109,16567325,8606253,7961072,21.02 %,48.65 %,925
6,6,Maharashtra,2898245,13275898,6767759,6508139,12.20 %,79.66 %,962
7,7,Madhya Pradesh,2402342,11342320,5908638,5433682,15.51 %,66.16 %,920
8,8,Rajasthan,2279366,12221593,6355564,5866029,16.60 %,59.75 %,923
9,9,Karnataka,2178501,10474992,5264545,5210447,12.97 %,65.33 %,990
10,10,Punjab,1717888,8860179,4639875,4220304,12.80 %,64.81 %,910
11,11,Orissa,1669787,7188463,3617808,3570655,13.26 %,69.02 %,987
12,12,Haryana,992096,5113615,2709656,2403959,14.87 %,66.85 %,887
13,13,Gujarat,817281,4074447,2110331,1964116,12.13 %,79.18 %,931
14,14,Jharkhand,753644,3985644,2043458,1942186,18.29 %,55.89 %,950
15,15,Chhattisgarh,749457,3274269,1641738,1632531,15.47 %,70.76 %,994
16,16,Kerala,725582,3039573,1477808,1561765,9.43 %,88.73 %,1057
17,17,Delhi,527307,2812309,1488800,1323509,12.79 %,78.89 %,889
18,18,Assam,468568,2231321,1145314,1086007,13.29 %,76.99 %,948
19,19,Uttarakhand,363305,1892516,968586,923930,15.20 %,74.41 %,954
20,20,Himachal Pradesh,358212,1729252,876300,852952,12.54 %,78.92 %,973
21,21,Jammu and Kashmir,183020,924991,486232,438759,13.70 %,70.16 %,902
22,22,Tripura,154112,654918,334370,320548,11.77 %,89.45 %,959
23,23,Puducherry,45409,196325,95512,100813,11.71 %,77.90 %,1056
24,24,Chandigarh,40694,199086,106356,92730,13.32 %,76.45 %,872
25,25,Manipur,20349,97328,48863,48465,12.92 %,76.09 %,992
26,26,Sikkim,5930,28275,14454,13821,12.44 %,77.54 %,956
27,27,Goa,5545,25449,12627,12822,10.44 %,83.73 %,1015
28,28,Meghalaya,3533,17355,9157,8198,13.66 %,68.57 %,895
29,29,Dadra and Nagar Haveli,1353,6186,3339,2847,12.42 %,89.42 %,853
30,30,Daman and Diu,1288,6124,3151,2973,9.98 %,92.56 %,944
31,31,Mizoram,274,1218,807,411,9.93 %,92.43 %,509
32,32,Arunachal Pradesh,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,33,Nagaland,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,34,Lakshadweep,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,35,Andaman and Nicobar Islands,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [180]:
sc_data.rename(columns = {'No_HH' : 'Number of Households', 'Literacy' : 'Literacy (%)'}, inplace=True)
sc_data.drop(columns=['#'], inplace=True)

In [181]:
sc_data['Literacy (%)'] = sc_data['Literacy (%)'].str.rstrip('%').astype('float')

In [182]:
sc_data.drop(0, inplace=True)
sc_data.reset_index(drop=True, inplace=True)

In [183]:
sc_data

,State,Number of Households,Population,Males,Female,Child(0-6),Literacy (%),Sex-Ratio
0,Uttar Pradesh,7375437,41357608,21676975,19680633,16.81 %,60.89,908
1,West Bengal,4861303,21463270,11003304,10459966,11.91 %,69.43,951
2,Tamil Nadu,3591953,14438445,7204687,7233758,11.02 %,73.26,1004
3,Andhra Pradesh,3429973,13878078,6913047,6965031,11.17 %,62.28,1008
4,Bihar,3073109,16567325,8606253,7961072,21.02 %,48.65,925
5,Maharashtra,2898245,13275898,6767759,6508139,12.20 %,79.66,962
6,Madhya Pradesh,2402342,11342320,5908638,5433682,15.51 %,66.16,920
7,Rajasthan,2279366,12221593,6355564,5866029,16.60 %,59.75,923
8,Karnataka,2178501,10474992,5264545,5210447,12.97 %,65.33,990
9,Punjab,1717888,8860179,4639875,4220304,12.80 %,64.81,910
10,Orissa,1669787,7188463,3617808,3570655,13.26 %,69.02,987
11,Haryana,992096,5113615,2709656,2403959,14.87 %,66.85,887
12,Gujarat,817281,4074447,2110331,1964116,12.13 %,79.18,931
13,Jharkhand,753644,3985644,2043458,1942186,18.29 %,55.89,950
14,Chhattisgarh,749457,3274269,1641738,1632531,15.47 %,70.76,994
15,Kerala,725582,3039573,1477808,1561765,9.43 %,88.73,1057
16,Delhi,527307,2812309,1488800,1323509,12.79 %,78.89,889
17,Assam,468568,2231321,1145314,1086007,13.29 %,76.99,948
18,Uttarakhand,363305,1892516,968586,923930,15.20 %,74.41,954
19,Himachal Pradesh,358212,1729252,876300,852952,12.54 %,78.92,973
20,Jammu and Kashmir,183020,924991,486232,438759,13.70 %,70.16,902
21,Tripura,154112,654918,334370,320548,11.77 %,89.45,959
22,Puducherry,45409,196325,95512,100813,11.71 %,77.90,1056
23,Chandigarh,40694,199086,106356,92730,13.32 %,76.45,872
24,Manipur,20349,97328,48863,48465,12.92 %,76.09,992
25,Sikkim,5930,28275,14454,13821,12.44 %,77.54,956
26,Goa,5545,25449,12627,12822,10.44 %,83.73,1015
27,Meghalaya,3533,17355,9157,8198,13.66 %,68.57,895
28,Dadra and Nagar Haveli,1353,6186,3339,2847,12.42 %,89.42,853
29,Daman and Diu,1288,6124,3151,2973,9.98 %,92.56,944
30,Mizoram,274,1218,807,411,9.93 %,92.43,509
31,Arunachal Pradesh,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,Nagaland,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,Lakshadweep,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,Andaman and Nicobar Islands,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### ST Data

In [184]:
st_data = pd.read_csv('../data/raw/st.csv')

In [185]:
st_data

,#,State,No_HH,Population,Males,Female,Child(0-6),Literacy,Sex-Ratio
0,-,India,21511528,104545716,52547215,51998501,16.01 %,58.95 %,990
1,1,Madhya Pradesh,3122061,15316784,7719404,7597380,18.46 %,50.55 %,984
2,2,Orissa,2163110,9590756,4727732,4863024,15.86 %,52.24 %,1029
3,3,Maharashtra,2156957,10510213,5315025,5195188,14.78 %,65.73 %,977
4,4,Rajasthan,1787715,9238534,4742943,4495591,18.40 %,52.80 %,948
5,5,Chhattisgarh,1743277,7822902,3873191,3949711,15.33 %,59.09 %,1020
6,6,Gujarat,1699510,8917174,4501389,4415785,15.85 %,62.48 %,981
7,7,Jharkhand,1699215,8645042,4315407,4329635,16.97 %,57.13 %,1003
8,8,Andhra Pradesh,1417289,5918073,2969362,2948711,13.03 %,49.21 %,993
9,9,West Bengal,1160069,5296953,2649974,2646979,13.17 %,57.93 %,999
10,10,Karnataka,875742,4248987,2134754,2114233,13.19 %,62.08 %,990
11,11,Assam,755194,3884371,1957005,1927366,14.12 %,72.06 %,985
12,12,Meghalaya,460775,2555861,1269728,1286133,19.86 %,74.53 %,1013
13,13,Nagaland,334967,1710973,866027,844946,14.86 %,80.04 %,976
14,14,Jammu and Kashmir,260401,1493299,776257,717042,20.30 %,50.56 %,924
15,15,Tripura,257119,1166813,588327,578486,15.03 %,79.05 %,983
16,16,Bihar,251749,1336573,682516,654057,18.70 %,51.08 %,958
17,17,Manipur,214636,1167422,588279,579143,13.21 %,72.58 %,984
18,18,Mizoram,209154,1036115,516294,519821,15.50 %,91.51 %,1007
19,19,Tamil Nadu,196373,794697,401068,393629,13.08 %,54.34 %,981
20,20,Uttar Pradesh,187688,1134273,581083,553190,18.21 %,55.68 %,952
21,21,Arunachal Pradesh,176394,951821,468390,483431,15.86 %,64.58 %,1032
22,22,Kerala,119788,484839,238203,246636,11.23 %,75.81 %,1035
23,23,Himachal Pradesh,80678,392126,196118,196008,12.22 %,73.64 %,999
24,24,Uttarakhand,51888,291903,148669,143234,11.84 %,73.88 %,963
25,25,Sikkim,44299,206360,105261,101099,10.62 %,79.74 %,960
26,26,Dadra and Nagar Haveli,32640,178564,88844,89720,16.01 %,61.85 %,1010
27,27,Goa,32067,149275,72948,76327,9.99 %,79.14 %,1046
28,28,Lakshadweep,10665,61120,30515,30605,11.54 %,91.70 %,1003
29,29,Andaman and Nicobar Islands,6910,28530,14731,13799,13.47 %,75.58 %,937
30,30,Daman and Diu,3198,15363,7771,7592,11.54 %,78.79 %,977
31,31,Punjab,-,-,-,-,-,-,-
32,32,Chandigarh,-,-,-,-,-,-,-
33,33,Haryana,-,-,-,-,-,-,-
34,34,Delhi,-,-,-,-,-,-,-
35,35,Puducherry,-,-,-,-,-,-,-

Performing same steps as SC data

In [186]:
# Replace '-' with np.nan
st_data.replace('-', np.nan, inplace=True)
st_data.rename(columns = {'No_HH' : 'Number of Households', 'Literacy': 'Literacy (%)'}, inplace=True)
st_data.drop(columns=['#'], inplace=True)

In [187]:
st_data.drop(0, inplace=True)
st_data.reset_index(drop=True, inplace=True)
st_data['Literacy (%)'] = st_data['Literacy (%)'].str.rstrip('%').astype('float')

In [188]:
st_data

,State,Number of Households,Population,Males,Female,Child(0-6),Literacy (%),Sex-Ratio
0,Madhya Pradesh,3122061,15316784,7719404,7597380,18.46 %,50.55,984
1,Orissa,2163110,9590756,4727732,4863024,15.86 %,52.24,1029
2,Maharashtra,2156957,10510213,5315025,5195188,14.78 %,65.73,977
3,Rajasthan,1787715,9238534,4742943,4495591,18.40 %,52.80,948
4,Chhattisgarh,1743277,7822902,3873191,3949711,15.33 %,59.09,1020
5,Gujarat,1699510,8917174,4501389,4415785,15.85 %,62.48,981
6,Jharkhand,1699215,8645042,4315407,4329635,16.97 %,57.13,1003
7,Andhra Pradesh,1417289,5918073,2969362,2948711,13.03 %,49.21,993
8,West Bengal,1160069,5296953,2649974,2646979,13.17 %,57.93,999
9,Karnataka,875742,4248987,2134754,2114233,13.19 %,62.08,990
10,Assam,755194,3884371,1957005,1927366,14.12 %,72.06,985
11,Meghalaya,460775,2555861,1269728,1286133,19.86 %,74.53,1013
12,Nagaland,334967,1710973,866027,844946,14.86 %,80.04,976
13,Jammu and Kashmir,260401,1493299,776257,717042,20.30 %,50.56,924
14,Tripura,257119,1166813,588327,578486,15.03 %,79.05,983
15,Bihar,251749,1336573,682516,654057,18.70 %,51.08,958
16,Manipur,214636,1167422,588279,579143,13.21 %,72.58,984
17,Mizoram,209154,1036115,516294,519821,15.50 %,91.51,1007
18,Tamil Nadu,196373,794697,401068,393629,13.08 %,54.34,981
19,Uttar Pradesh,187688,1134273,581083,553190,18.21 %,55.68,952
20,Arunachal Pradesh,176394,951821,468390,483431,15.86 %,64.58,1032
21,Kerala,119788,484839,238203,246636,11.23 %,75.81,1035
22,Himachal Pradesh,80678,392126,196118,196008,12.22 %,73.64,999
23,Uttarakhand,51888,291903,148669,143234,11.84 %,73.88,963
24,Sikkim,44299,206360,105261,101099,10.62 %,79.74,960
25,Dadra and Nagar Haveli,32640,178564,88844,89720,16.01 %,61.85,1010
26,Goa,32067,149275,72948,76327,9.99 %,79.14,1046
27,Lakshadweep,10665,61120,30515,30605,11.54 %,91.70,1003
28,Andaman and Nicobar Islands,6910,28530,14731,13799,13.47 %,75.58,937
29,Daman and Diu,3198,15363,7771,7592,11.54 %,78.79,977
30,Punjab,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,Chandigarh,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,Haryana,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,Delhi,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,Puducherry,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Let's merge the SC and ST datasets into one.

In [189]:
sc_data['Category'] = 'SC'
st_data['Category'] = 'ST'

In [190]:
print(sc_data.columns)
print(st_data.columns)

Index(['State', 'Number of Households', 'Population', 'Males', 'Female',
       'Child(0-6)', 'Literacy (%)', 'Sex-Ratio', 'Category'],
      dtype='object')
Index(['State', 'Number of Households', 'Population', 'Males', 'Female',
       'Child(0-6)', 'Literacy (%)', 'Sex-Ratio', 'Category'],
      dtype='object')

In [191]:
sc_st_data = pd.concat([sc_data, st_data], ignore_index=True)
sc_st_data

,State,Number of Households,Population,Males,Female,Child(0-6),Literacy (%),Sex-Ratio,Category
0,Uttar Pradesh,7375437,41357608,21676975,19680633,16.81 %,60.89,908,SC
1,West Bengal,4861303,21463270,11003304,10459966,11.91 %,69.43,951,SC
2,Tamil Nadu,3591953,14438445,7204687,7233758,11.02 %,73.26,1004,SC
3,Andhra Pradesh,3429973,13878078,6913047,6965031,11.17 %,62.28,1008,SC
4,Bihar,3073109,16567325,8606253,7961072,21.02 %,48.65,925,SC
...,...,...,...,...,...,...,...,...,...
65,Punjab,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ST
66,Chandigarh,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ST
67,Haryana,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ST
68,Delhi,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ST
69,Puducherry,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ST

In [192]:
sc_st_data[sc_st_data['Category']=='ST'] #retrieve only ST data

,State,Number of Households,Population,Males,Female,Child(0-6),Literacy (%),Sex-Ratio,Category
35,Madhya Pradesh,3122061,15316784,7719404,7597380,18.46 %,50.55,984,ST
36,Orissa,2163110,9590756,4727732,4863024,15.86 %,52.24,1029,ST
37,Maharashtra,2156957,10510213,5315025,5195188,14.78 %,65.73,977,ST
38,Rajasthan,1787715,9238534,4742943,4495591,18.40 %,52.80,948,ST
39,Chhattisgarh,1743277,7822902,3873191,3949711,15.33 %,59.09,1020,ST
40,Gujarat,1699510,8917174,4501389,4415785,15.85 %,62.48,981,ST
41,Jharkhand,1699215,8645042,4315407,4329635,16.97 %,57.13,1003,ST
42,Andhra Pradesh,1417289,5918073,2969362,2948711,13.03 %,49.21,993,ST
43,West Bengal,1160069,5296953,2649974,2646979,13.17 %,57.93,999,ST
44,Karnataka,875742,4248987,2134754,2114233,13.19 %,62.08,990,ST
45,Assam,755194,3884371,1957005,1927366,14.12 %,72.06,985,ST
46,Meghalaya,460775,2555861,1269728,1286133,19.86 %,74.53,1013,ST
47,Nagaland,334967,1710973,866027,844946,14.86 %,80.04,976,ST
48,Jammu and Kashmir,260401,1493299,776257,717042,20.30 %,50.56,924,ST
49,Tripura,257119,1166813,588327,578486,15.03 %,79.05,983,ST
50,Bihar,251749,1336573,682516,654057,18.70 %,51.08,958,ST
51,Manipur,214636,1167422,588279,579143,13.21 %,72.58,984,ST
52,Mizoram,209154,1036115,516294,519821,15.50 %,91.51,1007,ST
53,Tamil Nadu,196373,794697,401068,393629,13.08 %,54.34,981,ST
54,Uttar Pradesh,187688,1134273,581083,553190,18.21 %,55.68,952,ST
55,Arunachal Pradesh,176394,951821,468390,483431,15.86 %,64.58,1032,ST
56,Kerala,119788,484839,238203,246636,11.23 %,75.81,1035,ST
57,Himachal Pradesh,80678,392126,196118,196008,12.22 %,73.64,999,ST
58,Uttarakhand,51888,291903,148669,143234,11.84 %,73.88,963,ST
59,Sikkim,44299,206360,105261,101099,10.62 %,79.74,960,ST
60,Dadra and Nagar Haveli,32640,178564,88844,89720,16.01 %,61.85,1010,ST
61,Goa,32067,149275,72948,76327,9.99 %,79.14,1046,ST
62,Lakshadweep,10665,61120,30515,30605,11.54 %,91.70,1003,ST
63,Andaman and Nicobar Islands,6910,28530,14731,13799,13.47 %,75.58,937,ST
64,Daman and Diu,3198,15363,7771,7592,11.54 %,78.79,977,ST
65,Punjab,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ST
66,Chandigarh,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ST
67,Haryana,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ST
68,Delhi,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ST
69,Puducherry,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ST

In [193]:
# Sort the dataframe alphabetically by the 'State' column
sc_st_data = sc_st_data.sort_values(by='State', ascending=True)

# Reset the index if you want a clean, continuous index
sc_st_data.reset_index(drop=True, inplace=True)

# remove percentage sign
sc_st_data.rename(columns = {'Child(0-6)' : 'Child Population (%)'}, inplace=True)
sc_st_data['Child Population (%)'] = sc_st_data['Child Population (%)'].str.rstrip('%').astype('float')

sc_st_data

,State,Number of Households,Population,Males,Female,Child Population (%),Literacy (%),Sex-Ratio,Category
0,Andaman and Nicobar Islands,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SC
1,Andaman and Nicobar Islands,6910,28530,14731,13799,13.47,75.58,937,ST
2,Andhra Pradesh,3429973,13878078,6913047,6965031,11.17,62.28,1008,SC
3,Andhra Pradesh,1417289,5918073,2969362,2948711,13.03,49.21,993,ST
4,Arunachal Pradesh,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SC
...,...,...,...,...,...,...,...,...,...
65,Uttar Pradesh,7375437,41357608,21676975,19680633,16.81,60.89,908,SC
66,Uttarakhand,51888,291903,148669,143234,11.84,73.88,963,ST
67,Uttarakhand,363305,1892516,968586,923930,15.20,74.41,954,SC
68,West Bengal,1160069,5296953,2649974,2646979,13.17,57.93,999,ST
69,West Bengal,4861303,21463270,11003304,10459966,11.91,69.43,951,SC

In [194]:
sc_st_data.to_csv("../data/processed/sc_st_data.csv", index=False)

#### Slums Data

In [195]:
slums_data = pd.read_csv('../data/raw/slums.csv')

In [196]:
slums_data

,#,State,Slums,Slum HH,Slum Pop,Male,Female,Child (0-6),SC,ST,Literacy
0,-,India,5.41%,13920191,65494604,33968203,31526401,8082743,13354080,2216533,77.72 %
1,1,Maharashtra,10.54%,2499948,11848423,6328217,5520206,1428850,1863882,364254,84.55 %
2,2,Andhra Pradesh,12.04%,2431474,10186934,5103377,5083557,1149779,1428212,270556,75.32 %
3,3,Tamil Nadu,8.04%,1463689,5798459,2886993,2911466,614969,1853315,30996,82.06 %
4,4,West Bengal,7.03%,1391756,6418594,3321700,3096894,656780,1060811,106373,81.38 %
5,5,Madhya Pradesh,7.83%,1117764,5688993,2957524,2731469,771999,1251713,356481,77.25 %
6,6,Uttar Pradesh,3.12%,1066363,6239965,3298339,2941626,863392,1373211,19186,68.98 %
7,7,Karnataka,5.39%,707662,3291434,1650724,1640710,418295,922589,172129,75.63 %
8,8,Chhattisgarh,7.43%,413831,1898931,966623,932308,254080,338098,174050,80.36 %
9,9,Rajasthan,3.02%,394391,2068000,1078991,989009,307035,582562,100675,69.79 %
10,10,Delhi,10.63%,367893,1785390,974329,811061,229029,482870,0,75.16 %
11,11,Orissa,3.72%,350032,1560303,800963,759340,188962,321167,199836,78.95 %
12,12,Gujarat,2.78%,345998,1680095,912571,767524,240589,186577,125538,70.49 %
13,13,Haryana,6.56%,332697,1662305,887947,774358,225889,497042,0,75.87 %
14,14,Punjab,5.26%,293928,1460518,776388,684130,176257,581984,0,74.18 %
15,15,Bihar,1.19%,216496,1237682,649475,588207,208383,260442,16630,68.15 %
16,16,Jammu and Kashmir,5.28%,103633,662062,342422,319640,94204,11136,10797,68.02 %
17,17,Uttarakhand,4.84%,93911,487741,257624,230117,66176,91953,2321,76.88 %
18,18,Jharkhand,1.13%,72544,372999,192908,180091,53465,58164,66680,75.51 %
19,19,Kerala,0.60%,45417,202048,97429,104619,20327,21923,411,93.11 %
20,20,Assam,0.63%,42533,197266,101424,95842,22229,42358,3702,81.57 %
21,21,Puducherry,11.58%,34839,144573,70491,74082,16002,34521,0,81.39 %
22,22,Tripura,3.80%,34143,139780,70143,69637,14755,40291,3337,90.71 %
23,23,Chandigarh,9.01%,21704,95135,53340,41795,14720,29230,0,66.38 %
24,24,Nagaland,4.16%,17152,82324,42651,39673,11114,0,64253,88.85 %
25,25,Mizoram,7.16%,15987,78561,38861,39700,10430,69,73552,98.11 %
26,26,Himachal Pradesh,0.89%,14385,61312,32555,28757,6509,16062,488,87.74 %
27,27,Meghalaya,1.94%,10518,57418,28737,28681,8241,1589,40752,89.02 %
28,28,Sikkim,5.14%,7203,31378,16216,15162,3229,1658,8745,88.13 %
29,29,Goa,1.80%,5497,26247,13826,12421,3240,651,112,82.44 %
30,30,Arunachal Pradesh,1.12%,3479,15562,8029,7533,2226,0,4631,69.39 %
31,31,Andaman and Nicobar Islands,3.72%,3324,14172,7386,6786,1588,0,48,82.80 %

In [197]:
slums_data = slums_data.sort_values(by='State', ascending=True)
slums_data.reset_index(drop=True, inplace=True)
slums_data

,#,State,Slums,Slum HH,Slum Pop,Male,Female,Child (0-6),SC,ST,Literacy
0,31,Andaman and Nicobar Islands,3.72%,3324,14172,7386,6786,1588,0,48,82.80 %
1,2,Andhra Pradesh,12.04%,2431474,10186934,5103377,5083557,1149779,1428212,270556,75.32 %
2,30,Arunachal Pradesh,1.12%,3479,15562,8029,7533,2226,0,4631,69.39 %
3,20,Assam,0.63%,42533,197266,101424,95842,22229,42358,3702,81.57 %
4,15,Bihar,1.19%,216496,1237682,649475,588207,208383,260442,16630,68.15 %
5,23,Chandigarh,9.01%,21704,95135,53340,41795,14720,29230,0,66.38 %
6,8,Chhattisgarh,7.43%,413831,1898931,966623,932308,254080,338098,174050,80.36 %
7,10,Delhi,10.63%,367893,1785390,974329,811061,229029,482870,0,75.16 %
8,29,Goa,1.80%,5497,26247,13826,12421,3240,651,112,82.44 %
9,12,Gujarat,2.78%,345998,1680095,912571,767524,240589,186577,125538,70.49 %
10,13,Haryana,6.56%,332697,1662305,887947,774358,225889,497042,0,75.87 %
11,26,Himachal Pradesh,0.89%,14385,61312,32555,28757,6509,16062,488,87.74 %
12,-,India,5.41%,13920191,65494604,33968203,31526401,8082743,13354080,2216533,77.72 %
13,16,Jammu and Kashmir,5.28%,103633,662062,342422,319640,94204,11136,10797,68.02 %
14,18,Jharkhand,1.13%,72544,372999,192908,180091,53465,58164,66680,75.51 %
15,7,Karnataka,5.39%,707662,3291434,1650724,1640710,418295,922589,172129,75.63 %
16,19,Kerala,0.60%,45417,202048,97429,104619,20327,21923,411,93.11 %
17,5,Madhya Pradesh,7.83%,1117764,5688993,2957524,2731469,771999,1251713,356481,77.25 %
18,1,Maharashtra,10.54%,2499948,11848423,6328217,5520206,1428850,1863882,364254,84.55 %
19,27,Meghalaya,1.94%,10518,57418,28737,28681,8241,1589,40752,89.02 %
20,25,Mizoram,7.16%,15987,78561,38861,39700,10430,69,73552,98.11 %
21,24,Nagaland,4.16%,17152,82324,42651,39673,11114,0,64253,88.85 %
22,11,Orissa,3.72%,350032,1560303,800963,759340,188962,321167,199836,78.95 %
23,21,Puducherry,11.58%,34839,144573,70491,74082,16002,34521,0,81.39 %
24,14,Punjab,5.26%,293928,1460518,776388,684130,176257,581984,0,74.18 %
25,9,Rajasthan,3.02%,394391,2068000,1078991,989009,307035,582562,100675,69.79 %
26,28,Sikkim,5.14%,7203,31378,16216,15162,3229,1658,8745,88.13 %
27,3,Tamil Nadu,8.04%,1463689,5798459,2886993,2911466,614969,1853315,30996,82.06 %
28,22,Tripura,3.80%,34143,139780,70143,69637,14755,40291,3337,90.71 %
29,6,Uttar Pradesh,3.12%,1066363,6239965,3298339,2941626,863392,1373211,19186,68.98 %
30,17,Uttarakhand,4.84%,93911,487741,257624,230117,66176,91953,2321,76.88 %
31,4,West Bengal,7.03%,1391756,6418594,3321700,3096894,656780,1060811,106373,81.38 %

In [198]:
slums_data.drop(columns=['#'], inplace=True)
slums_data.rename(columns={'Slum HH': 'Households', 'Slum Pop': 'Population', 'Slums': 'Slums (%)', 'Literacy': 'Literacy (%)', 'Child (0-6)' : 'Child Population'}, inplace=True)
slums_data['Slums (%)'] = slums_data['Slums (%)'].str.rstrip('%').astype('float')
slums_data['Literacy (%)'] = slums_data['Literacy (%)'].str.rstrip('%').astype('float')

In [199]:
slums_data

,State,Slums (%),Households,Population,Male,Female,Child Population,SC,ST,Literacy (%)
0,Andaman and Nicobar Islands,3.72,3324,14172,7386,6786,1588,0,48,82.80
1,Andhra Pradesh,12.04,2431474,10186934,5103377,5083557,1149779,1428212,270556,75.32
2,Arunachal Pradesh,1.12,3479,15562,8029,7533,2226,0,4631,69.39
3,Assam,0.63,42533,197266,101424,95842,22229,42358,3702,81.57
4,Bihar,1.19,216496,1237682,649475,588207,208383,260442,16630,68.15
5,Chandigarh,9.01,21704,95135,53340,41795,14720,29230,0,66.38
6,Chhattisgarh,7.43,413831,1898931,966623,932308,254080,338098,174050,80.36
7,Delhi,10.63,367893,1785390,974329,811061,229029,482870,0,75.16
8,Goa,1.80,5497,26247,13826,12421,3240,651,112,82.44
9,Gujarat,2.78,345998,1680095,912571,767524,240589,186577,125538,70.49
10,Haryana,6.56,332697,1662305,887947,774358,225889,497042,0,75.87
11,Himachal Pradesh,0.89,14385,61312,32555,28757,6509,16062,488,87.74
12,India,5.41,13920191,65494604,33968203,31526401,8082743,13354080,2216533,77.72
13,Jammu and Kashmir,5.28,103633,662062,342422,319640,94204,11136,10797,68.02
14,Jharkhand,1.13,72544,372999,192908,180091,53465,58164,66680,75.51
15,Karnataka,5.39,707662,3291434,1650724,1640710,418295,922589,172129,75.63
16,Kerala,0.60,45417,202048,97429,104619,20327,21923,411,93.11
17,Madhya Pradesh,7.83,1117764,5688993,2957524,2731469,771999,1251713,356481,77.25
18,Maharashtra,10.54,2499948,11848423,6328217,5520206,1428850,1863882,364254,84.55
19,Meghalaya,1.94,10518,57418,28737,28681,8241,1589,40752,89.02
20,Mizoram,7.16,15987,78561,38861,39700,10430,69,73552,98.11
21,Nagaland,4.16,17152,82324,42651,39673,11114,0,64253,88.85
22,Orissa,3.72,350032,1560303,800963,759340,188962,321167,199836,78.95
23,Puducherry,11.58,34839,144573,70491,74082,16002,34521,0,81.39
24,Punjab,5.26,293928,1460518,776388,684130,176257,581984,0,74.18
25,Rajasthan,3.02,394391,2068000,1078991,989009,307035,582562,100675,69.79
26,Sikkim,5.14,7203,31378,16216,15162,3229,1658,8745,88.13
27,Tamil Nadu,8.04,1463689,5798459,2886993,2911466,614969,1853315,30996,82.06
28,Tripura,3.80,34143,139780,70143,69637,14755,40291,3337,90.71
29,Uttar Pradesh,3.12,1066363,6239965,3298339,2941626,863392,1373211,19186,68.98
30,Uttarakhand,4.84,93911,487741,257624,230117,66176,91953,2321,76.88
31,West Bengal,7.03,1391756,6418594,3321700,3096894,656780,1060811,106373,81.38

In [200]:
slums_data.to_csv("../data/processed/slums_data.csv", index=False)